<template src='./landingPage.html'></template>
<script>
export default {
  name: 'landingPage',
  data () {
    return {
      tab: null,
      drawer: false,
      overlay: false,
      extensionStatus: false,
      toolbarTitle: '',
      quotationClicked: false,
      prominent: true,
      home: false,
      height: null,
      image: '',
      userInfo: {},
      previewStatus: false,
      shrink: false,
      app: true
    }
  },
  methods: {
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    onLogout () {
      this.$store.dispatch('logout')
      this.$router.push({ name: 'loginpage' })
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    },
    goToUserManagement () {
      this.$router.push({ name: 'userManagement' })
    },
    goToBankDetailsManagement () {
      this.$router.push({ name: 'bankDetailsManagement' })
    },
    goToClientDetailsManagement () {
      this.$router.push({ name: 'clientDetailsManagement' })
    },
    getToolbarHeight (height) {
      this.height = height
    },
    getExtensionStatus (status) {
      this.extensionStatus = status
    },
    getToolbarTitle (title) {
      this.toolbarTitle = title
    },
    getHomeStatus (isHome) {
      this.home = isHome
      this.height = 250
      this.app = false
      // alert(document.getElementById('toolbar'))
      // document.getElementById('toolbar').style.backgroundImage = "url('../../assets/images/gears2.jpg')"
      // eslint-disable-next-line quotes
      // this.image = require('../../assets/images/gears2.jpg')
    },
    getImage (status) {
      if (status === true) {
        this.image = require('../../assets/images/gears2.jpg')
      } else {
        this.image = ''
      }
    },
    getProminentStatus (status) {
      this.prominent = status
    },
    getAppStatus (status) {
      this.app = status
    },
    preview (status) {
      this.previewStatus = status
      if (this.previewStatus === true) {
        // eslint-disable-next-line quotes
        document.getElementById('toolbar').style.display = "none"
      } else {
        // eslint-disable-next-line quotes
        document.getElementById('toolbar').style.display = "block"
      }
    }
  },
  computed: {
    toolbarColor () {
      var color = ''
      if (this.drawer === true) {
        color = '#edeff2'
      } else {
        color = 'success'
      }
      return color
    },
    toolbarTheme () {
      var dark = ''
      if (this.drawer === true) {
        dark = false
      } else {
        dark = true
      }
      return dark
    },
    user () {
      return this.$store.getters.user
    },
    error () {
      return this.$store.getters.error
    }
  }
}
</script>
<style scoped src='./landingPage.css'>
</style>
