:root {
    --animate-duration: 200ms;
    --animate-delay: 0.9s;
  }
  .bottom-gradient {
    background-image: url('../home/images/gears2.jpg');
    background-size: cover;
    background-blend-mode: difference;
  }
  
  .head-title {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  .butn {
    padding-top: 2px;
  }
  .crd-item {
    justify-content: center;
    transition: opacity 0.4s ease-in-out;
  }
  
  .crd-item:hover {
    opacity: 0.8;
  }
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
  }
  
  #logout-btn {
    margin-top: 15px;
    height: 40px;
    font-weight: bold;
  }
  #ham-btn {
    margin-top: 5px;
    margin-left: 0px;
    width: 50px;
    height: 50px;
  }
  