<v-app>
  <v-navigation-drawer 
    v-model="drawer"
    app 
    fixed 
    dark 
    temporary
    width="320"
    src="../../assets/images/unnamed.jpg">
    <template v-slot:prepend>
      <v-list-item two-line>
        <v-list-item-avatar>
          <!-- <img src="https://randomuser.me/api/portraits/women/81.jpg"> -->
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{user.firstname}} {{user.lastname}}</v-list-item-title>
          <v-list-item-subtitle>Logged In</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>

    <v-divider></v-divider>

    <v-list>
      <v-list-item link>
        <v-list-item-icon>
          <v-icon>home</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title @click="goToHome()">Home</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group prepend-icon="edit" no-action>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Quotation</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link :disabled="user.fillQuotation===false">
          <v-list-item-content>
            <v-list-item-title @click="goToCreateQuotation()">Create</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.searchQuotation===false">
          <v-list-item-content>
            <v-list-item-title @click="goToSearchQuotation()">Search and Preview/Edit</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-list-group prepend-icon="receipt" no-action>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Purchase Order</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link :disabled="user.fillVPO===false">
          <v-list-item-content>
            <v-list-item-title @click="goToVendor_PO ()">Create Vendor Purchase Order</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.fillCPO===false">
          <v-list-item-content>
            <v-list-item-title @click="goToVPOSearch()">Search Vendor Purchase Order</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.searchVPO===false">
          <v-list-item-content>
            <v-list-item-title @click="goToCustomerPO ()">Customer Purchase Order</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-divider></v-divider>
      <v-list-group v-if="user.adminAccess===true" prepend-icon="admin_panel_settings" no-action>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Admin Panel</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link :disabled="user.addUser===false && user.modOrDelUser===false">
          <v-list-item-content>
            <v-list-item-title @click="goToUserManagement ()">User Management</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.addBank===false && user.modOrDelBank===false">
          <v-list-item-content>
            <v-list-item-title @click="goToBankDetailsManagement ()">Bank Details Management</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.addClient===false && user.modOrDelClient===false">
          <v-list-item-content>
            <v-list-item-title @click="goToClientDetailsManagement ()">Client Details Management</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-divider></v-divider>
      <v-list-item link>
        <v-list-item-icon>
          <v-icon>exit_to_app</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title @click="onLogout()">Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      
    </v-list>
  </v-navigation-drawer>

  

    <v-card>
      <v-app-bar
        :color = toolbarColor
        :prominent = prominent
        :app = app
        flat
        :dark = toolbarTheme
        :extended = extensionStatus
        :height = height
        id="toolbar"
        :src="image"
      >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title
      style="font-size: 25px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 5px 10px 5px 10px; text-align: center;">
      
      <span>
        {{toolbarTitle}}
      </span>

      <div v-if="home===true" class="head-title"
        style="font-size: 25px;
        padding: 5px 10px 5px 10px;">
        <img src="../home/images/logo.png" style="max-width: 120px; max-height: 90px;">
        <v-divider></v-divider>
        <span class="animate__pulse">
          Ratna Gears
        </span>
        <v-divider style="padding-top: 5px;"></v-divider>
        <span class="font-weight-light">Resource Service Planning</span>
      </div>
     </v-toolbar-title>
  
        <v-spacer></v-spacer>
  
        <v-btn icon @click="onLogout()">
          <v-icon>exit_to_app</v-icon>
        </v-btn>
  
      </v-app-bar>
    </v-card>

    

  <v-main>
    <router-view 
      @extension="getExtensionStatus" 
      @toolbarTitle="getToolbarTitle" 
      @isHome="getHomeStatus" 
      @isPreview="preview" 
      @toolbarHeight="getToolbarHeight"
      @prominent="getProminentStatus"
      @app="getAppStatus"
      @image="getImage"
    ></router-view>
  </v-main>

</v-app>