<v-app>
  <v-main class='login-body'>
    <v-container>
      <v-row row v-if="error">
        <v-col xs12 sm6 offset-sm3>
          <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-card class="c" elevation=20 max-width = 450 max-height=700 rounded="lg">
              <div class="head-title"
                style="font-size: 25px;  padding: 5px 10px 5px 10px; text-align: center;">
                <img src="../home/images/logo.png" style="max-width: 120px; max-height: 90px;">
                <v-divider></v-divider>
                <span class="animate__pulse">
                  Ratna Gears
                </span>
                <v-divider style="padding-top: 5px; color:white"></v-divider>
                <span class="font-weight-light">Resource Service Planning</span>

              
            <!-- <v-card-title>
              <v-container class='login-inner-body'>
                <img src="../../assets/images/logo.png" class='logo'>
                <h1 id="header">Ratna Gears</h1>
                <h2 id="header">Resource Service Planning</h2>
              </v-container>
            </v-card-title> -->
            <v-row>
              <v-card-text>
                <v-container>
                  <form>
                    <v-container>
                      <v-row>
                        <v-col xs-12>
                          <v-text-field
                            name="email"
                            label="Email"
                            id="email"
                            v-model="email"
                            type="email"
                            outlined
                            dense
                            dark
                            placeholder="Email"
                            required></v-text-field>
                        </v-col>
                      </v-row>
                      <v-btn v-if="forgotPass===true" text dark small @click="forgotPassword()">
                        <p ><b>Remembered Password?</b></p>
                      </v-btn>

                    </v-container>
                    <v-container v-if="forgotPass==false">
                      <v-row>
                        <v-col xs-12>
                          <v-text-field
                            name="password"
                            label="Password"
                            id="password"
                            v-model="password"
                            type="password"
                            outlined
                            dense
                            placeholder="Password"
                            dark
                            required></v-text-field>
                        </v-col>
                        
                      </v-row>
                      <v-btn text dark small @click="forgotPassword()">
                        <p v-if="forgotPass===false"><b>Forgot Password</b></p>
                        <p v-if="forgotPass===true"><b>Remembered Password?</b></p>
                      </v-btn>
                      <v-row row>
                        <v-col xs12>
                          <v-btn elevation=20 @click="onSignin()" dark type="submit" color='#009049' width='100%' :disabled="loading" :loading="loading">
                            <h3>Sign in</h3>
                            <span slot="loader" class="custom-loader">
                              <v-icon light>cached</v-icon>
                            </span>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                    <v-container v-if="forgotPass==true">
                      <v-row row>
                        <v-col xs12>
                          <v-btn elevation=20 @click="onForgotPassword()" color='#009049' width='100%' :disabled="loading" :loading="loading">
                            <h2>Send Mail</h2>
                            <span slot="loader" class="custom-loader">
                              <v-icon light>cached</v-icon>
                            </span>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </form>
                </v-container>
              </v-card-text>
            </v-row>
          </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</v-app>