<template src='./loginpage.html'></template>
<script>
export default {
  name: 'loginpage',
  data () {
    return {
      email: '',
      password: '',
      forgotPass: false
    }
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/home')
      }
    }
  },
  methods: {
    onSignin () {
      this.$store.dispatch('signUserIn', { email: this.email, password: this.password })
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    },
    onForgotPassword () {
      this.$store.dispatch('resetPassword', { email: this.email })
    },
    forgotPassword () {
      if (this.forgotPass === false) {
        this.forgotPass = true
      } else {
        this.forgotPass = false
      }
      // console.log('status' + this.forgotPass)
    }
  }
}
</script>
<style src='./loginpage.css'>
</style>
