.login-body {
  background: #009049;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  align-items: center;
  vertical-align: center;
}

.login-inner-body {
  text-align: center;
  background: white;
  color: white;
}

h2 {
  color: white
}

/* input {
  border-width: 10px !important;
} */

.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(255, 255, 255, 0.6) !important;
}

.v-text-field--outlined fieldset {
  border-width: 2px !important;
}

#header {
  color: #009049
}

.head-title {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color:white;
  margin: 0 auto;
}


.c {
  background-image: url("../../assets/images/gears2.jpg");
  margin:0 auto;
}

.logo {
  align-items: center;
  background-color: white;
  border-radius: 0.2cm;
  padding-left: 3%;
  
}

.signin-btn {
  color: white
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
