<template src='./vendor_PO.html'>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import currencies from '../../assets/currencies.json'
// import { format, parseISO } from 'date-fns'
export default {
  name: 'vendor_PO',
  data () {
    return {
      userDetails: {},
      drawer: false,
      valid: true,
      selectedCurrency: '',
      //   vendorCodes_0: ['V123', 'V456', 'V789', 'V468'],
      // vendorCodes: [{ code: '1', nameOfVendor: 'Shreya', nameOfCompany: 'ABC', GST_TIN: 5678 },
      //   { code: '2', nameOfVendor: 'Shravan', nameOfCompany: 'QWE', GST_TIN: 8923 },
      //   { code: '3', nameOfVendor: 'Archis', nameOfCompany: 'ZXC', GST_TIN: 5623 },
      //   { code: '4', nameOfVendor: 'Prajwal', nameOfCompany: 'YUI', GST_TIN: 6723 }
      // ],
      vendor: '',
      products: [{ name: '', HSN: '', billingQuantity: null, quantity: null, rate: null, total: null }],
      deliveryDate: '',
      termsAndConditions: '',
      yourRef: '',
      PO: {},
      nameRules: [
        v => !!v || 'This field is required'
      ],
      numberRules: [
        v => !!v || 'This field is required',
        v => /^[0-9]*$/.test(v) || 'Number must be valid'
      ],
      decimalInputRules: [
        v => !!v || 'This field is required',
        v => /^\d+(\.\d{1,2})?$/.test(v) || 'Number must be valid'
      ],
      menu: false,
      timeStamp: '',
      OA_Number: '',
      CPO: {},
      searchSuccess: false,
      companyData: {},
      companyCode: '',
      companySearched: false,
      currenciesArray: []
    }
  },
  methods: {
    receiveCompanyData () {
      var payload = this
      var dataToSearch = { companyCode: this.companyCode }
      // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', { params: dataToSearch })
        .then(function (res) {
          // console.log(res.data)
          payload.companyData = JSON.parse(res.data)
          // console.log(typeof payload.companyData)
          // console.log(payload.companyData)
          if (payload.companyData.length === 0) {
            alert('No record found for the entered company code. Please check the code you have entered..')
          }
          payload.companySearched = true
        })
        .catch(function (err) {
          console.log(err)
          alert('Company Details Not found!! Please enter the correct Company Code')
        })
    },
    addProduct () {
      this.products.push({ name: '', HSN: '', billingQuantity: null, quantity: null, rate: null, total: null })
    },
    deleteProduct (no) {
      this.products.splice(no, 1)
    },
    previewPO () {
      const v = this.$refs.PO.validate()
      if (v === true) {
        for (var i in this.products) {
          this.products[i].total = this.productAmount[i]
        }
        this.timeStamp = new Date().toLocaleString('en-GB')
        this.timeStamp = this.timeStamp.split(',')
        // eslint-disable-next-line no-unused-vars
        this.PO = {
          PO_Number: null,
          permission: this.userDetails.fillVPO,
          vendorCode: this.companyData[0]._id,
          vendorName: this.companyData[0].firstname + ' ' + this.companyData[0].lastname,
          vendorCompany: this.companyData[0].nameOfCompany,
          vendor_GST_TIN: this.companyData[0].gstTin,
          CPO_Number: this.CPO.OA_Number,
          products: this.products,
          PO_Total: this.totalAmount,
          deliveryDate: this.computedDateFormattedMomentjs,
          termsAndConditions: this.termsAndConditions,
          yourRef: this.yourRef,
          date: this.timeStamp[0],
          time: this.timeStamp[1],
          preparedBy: { firstName: this.userDetails.firstname, lastName: this.userDetails.lastname },
          authorizedBy: { firstName: '', lastName: '' },
          authorized: false,
          currency: this.selectedCurrency[0]
        }
        this.$router.push({ name: 'preview_PO', params: { newPO: this.PO, POStatus: 'new' } })
      }
    },
    getCPODetails () {
      var self = this
      axios
        .get('http://127.0.0.1:8000/po/handleCPo/', { params: { OA_Number: this.OA_Number } })
        .then(function (res) {
          self.CPO = JSON.parse(res.data)
          // console.log(res.data)
          self.CPO = self.CPO[0]
          // console.log(typeof self.CPO)
          // console.log(self.CPO)
          if (self.CPO === undefined) {
            alert('No record found for the entered OA Number. Please check the number you have entered..')
          }
          self.searchSuccess = true
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
    },
    format (value, event) {
      return moment(value).format('YYYY-MM-DD')
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  computed: {
    productAmount: function () {
      var perProductTotal = []
      for (var product in this.products) {
        var total = (this.products[product].quantity * this.products[product].rate).toFixed(2)
        // console.log(product)
        perProductTotal.push(total)
      }
      // console.log(perProductTotal)
      return perProductTotal
    },
    totalAmount: function () {
      return (this.productAmount.map(item => item).reduce((total, amount) => total + amount))
    },
    computedDateFormattedMomentjs () {
      return this.deliveryDate ? moment(this.deliveryDate).format('DD/MM/YYYY') : ''
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    this.userDetails = this.$store.getters.user
    this.$emit('toolbarTitle', 'Vendor Purchase Order')
    this.$emit('extension', false)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', null)
    this.$emit('prominent', false)
    this.$emit('app', true)
    this.$emit('image', false)
    for (var i in currencies) {
      this.currenciesArray.push([i, currencies[i]])
    }
  }
}
</script>
<style src='./vendor_PO.css'>

</style>
