<v-app>
    <div class="vendor_PO">
        <v-card style="padding: 24px;">
          <v-form
              ref="PO"
              v-model="valid"
              lazy-validation
          >
            <v-row>
              <v-col>
                <v-row>
                  <v-text-field
                    label="Company Code"
                    v-model="companyCode"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                  <v-btn icon style="margin-top: 20px; margin-right: 10px;" @click="receiveCompanyData()"><v-icon>search</v-icon></v-btn>
                </v-row>
                <b>Vendor Name</b> : <span v-if="companySearched===true && companyData.length!=0">{{companyData[0].firstname}} {{companyData[0].lastname}}</span> <br>
                <b>Company Name</b> : <span v-if="companySearched===true && companyData.length!=0">{{companyData[0].nameOfCompany}}</span> <br>
                <b>GST TIN</b> : <span v-if="companySearched===true && companyData.length!=0">{{companyData[0].gstTin}}</span> <br>
              </v-col>
              <v-col>
                <v-row>
                  <v-text-field
                    label="Enter OA Number"
                    v-model="OA_Number"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                  <v-btn icon style="margin-top: 20px;" @click="getCPODetails()"><v-icon>get_app</v-icon></v-btn>
                </v-row>
                <b>Client Company Name</b> : <span v-if="searchSuccess && Object.keys(CPO) != 0">{{CPO.purchaserDetails.nameOfCompany}}</span> <br>
                <b>Mobile Number</b> : <span v-if="searchSuccess && Object.keys(CPO) != 0">{{CPO.purchaserDetails.mobileNumber}}</span> <br>
                <b>Email Id</b> : <span v-if="searchSuccess && Object.keys(CPO) != 0">{{CPO.purchaserDetails.emailId}}</span> <br>
              </v-col>
            </v-row>

            <br>

            <div v-if="searchSuccess">

              <span style="color: red;"> Material Information for Customer Purchase Order {{CPO.OA_Number}} (For Reference Only)</span>
            <br><br>
            <table style="color: #b9bbbd; font-size: 13px;">
                  <tr>
                    <th class="text-left">
                      SR. NO.
                    </th>
                    <th class="text-left">
                      MATERIAL CODE
                    </th>
                    <th class="text-left">
                      MATERIAL DESCRIPTION
                    </th>
                    <th class="text-left">
                      QTY
                    </th>
                    <th class="text-left">
                      UOM
                    </th>
                    <th class="text-left">
                      RATE
                    </th>
                    <th class="text-left">
                      AMOUNT
                    </th>
                  </tr>
                  <tr
                    v-for="material,no in CPO.materialInfo"
                  >
                      <td>
                          {{no+1}}
                      </td>
                    <td class="text-left">
                        {{material.materialCode}}
                      </td>
                      <td class="text-left">
                          {{material.materialDescription}}
                      </td>
                      <td class="text-left">
                          {{material.quantity}}
                      </td>
                      <td class="text-left">
                          {{material.UOM}}
                      </td>
                      <td class="text-left">
                          {{material.rate}}
                      </td>
                      
                      <td class="text-left">
                          <!-- {{selectedCurrency[0]}} {{product.quantity*product.rate}} -->
                          {{CPO.currency}} {{material.amount}}
                      </td>
                  </tr>
            </table>
          </div>

            <br>

            <v-select
              label="Select Currency"
              :items="currenciesArray"
              v-model="selectedCurrency"
              :rules="nameRules"
          ></v-select>

            Enter Material Information For Current Vendor Purchase Order
            <br><br>
            <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        SR. NO.
                      </th>
                      <th class="text-left">
                        NAME OF PRODUCT / SERVICE
                      </th>
                      <th class="text-left">
                        HSN/SAC
                      </th>
                      <th class="text-left">
                        BILLING QTY
                      </th>
                      <th class="text-left">
                        QTY (NOS)
                      </th>
                      <th class="text-left">
                        RATE
                      </th>
                      <th class="text-left">
                        TOTAL
                      </th>
                      <th class="text-left">
                        DELETE
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="product,no in products"
                    >
                        <td>
                            {{no+1}}
                        </td>
                      <td>
                          <v-text-field
                            label="Name"
                            v-model="product.name"
                            :rules="nameRules"
                            required
                          ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="HSN"
                              v-model="product.HSN"
                              :rules="numberRules"
                              required

                            ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="Billing Qty"
                              v-model="product.billingQuantity"
                              :rules="numberRules"
                              required
                            ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="Quantity (Nos)"
                              v-model="product.quantity"
                              :rules="numberRules"
                              required
                            ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="Rate"
                              v-model="product.rate"
                              :rules="decimalInputRules"
                              required
                            ></v-text-field>
                        </td>
                        
                        <td>
                            <!-- {{selectedCurrency[0]}} {{product.quantity*product.rate}} -->
                            {{selectedCurrency[0]}} {{productAmount[no]}}
                        </td>
                        <td>
                            <v-btn small @click="deleteProduct(no)" :disabled="no===0" icon>
                                <v-icon>delete</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <br>
              <v-btn @click="addProduct()" color="success" small rounded>Add Product</v-btn>
              <br><br>
              <b>Grand Total :</b> {{selectedCurrency[0]}} {{totalAmount}}
              <br>
              <!-- <v-text-field
                label="Delivery Date"
                v-model="deliveryDate"


              ></v-text-field> -->
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
                
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    label="Delivery Date"
                    prepend-icon="mdi-calendar"
                    v-bind="attrs"
                    v-on="on"
                    :rules="nameRules"
                    :value="computedDateFormattedMomentjs"
                    readonly
                    required
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="deliveryDate"
                  no-title
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="menu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu.save(deliveryDate)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
              <v-textarea
                label="Terms and Conditions"
                v-model="termsAndConditions"
                :rules="nameRules"
                required
              ></v-textarea>
              <v-text-field
                label="Your Ref."
                v-model="yourRef"
                :rules="nameRules"
                required
              ></v-text-field>
              <v-btn color="success" @click="previewPO()" rounded>Preview Purchase Order</v-btn>
              </v-form>
              <!-- {{PO}} -->
        </v-card>
    </div>
    
</v-app>