<template src='./preview_PO.html'>
</template>

<script>
import axios from 'axios'

export default {
  name: 'preview_PO',
  data () {
    return {
      userDetails: {},
      drawer: false,
      PO: {},
      words: '',
      onlyDate: '',
      saveOverlay: false,
      absolute1: true,
      saveSuccess: false,
      buttonColor: 'error',
      printClicked: false,
      authorizedClicked: false
    }
  },
  methods: {
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    save_PO () {
      var date = new Date().toLocaleString('en-GB')
      date = date.split(',')
      var time = date[1]
      this.PO.time = time
      var self = this
      // console.log(this.PO)
      axios
        .post('http://127.0.0.1:8000/po/handleVPo/', JSON.stringify(this.PO))
        .then(function (res) {
          // console.log(res)
          self.PO.PO_Number = res.data
          self.saveSuccess = true
          self.buttonColor = 'success'
        })
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
      this.saveOverlay = !this.saveOverlay
    },
    print () {
      this.printClicked = true
      // eslint-disable-next-line no-unused-vars
      var temp = this.hideToolbar
      this.$emit('isPreview', true)
      window.print()
      window.onafterprint = this.printDone()
    },
    printDone () {
      this.printClicked = false
      // eslint-disable-next-line no-unused-vars
      var temp = this.hideToolbar
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    },
    authorize_PO () {
      this.PO.authorizedBy.firstName = this.userDetails.firstname
      this.PO.authorizedBy.lastName = this.userDetails.lastname
      this.authorizedClicked = true
      this.PO.authorized = true

      this.PO.permission = this.userDetails.approveVPO
      // console.log(this.PO)
      axios
        .post('http://127.0.0.1:8000/po/authorize_PO/', JSON.stringify(this.PO))
        .then(function (res) {
          // console.log(res)
          self.PO.PO_Number = res.data
          // self.saveSuccess = true
          // self.buttonColor = 'success'
        })
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
      // this.saveOverlay = !this.saveOverlay
    }
  },
  props: [
    'newPO',
    'POStatus',
    'oldVPO'
  ],
  mounted () {
    this.userDetails = this.$store.getters.user
    this.$emit('toolbarTitle', 'Vendor Purchase Order')
    this.$emit('extension', false)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', null)
    this.$emit('prominent', false)
    this.$emit('app', true)
    this.$emit('image', false)
  },
  created () {
    // console.log(this.POStatus)
    if (this.POStatus === 'new') {
      this.PO = this.newPO
      // console.log(typeof this.quotation.finalized)
    } else if (this.POStatus === 'old') {
      this.PO = this.oldVPO
      // console.log(this.PO)
      // console.log(typeof this.quotation.finalized)
    }
    const { ToWords } = require('to-words')
    const toWords = new ToWords({
      localeCode: 'en-IN',
      converterOptions: {
        currency: true,
        ignoreDecimal: false,
        ignoreZeroCurrency: false
      }
    })
    // eslint-disable-next-line no-unused-vars
    this.words = toWords.convert(this.PO.PO_Total)
    // console.log(this.words)
    this.$emit('extension', false)
    this.$emit('toolbarTitle', 'Vendor Purchase Order')
  },
  computed: {
    hideToolbar () {
      this.$emit('isPreview', this.printClicked)
      return this.printClicked
    }
  }
}
</script>
<style src='./preview_PO.css'>

</style>
