<v-app>
  <div id="notToPrint" class="notToPrint">
    <v-card color="success" style="text-align: center; padding-bottom: 10px; z-index: 5; position: fixed; width: 100%;" flat  dark>
      <span v-if="PO.PO_Number!=null" style="font-size: 20px;">VPO Number : {{PO.PO_Number}}</span>
    </v-card>  
    <div>
        <br><br><br>
          <div ref="preview" id="preview" v-if="Object.keys(PO) != 0">
            <div class="box">
              <!-- <v-img src=".../assets/images/logo.png"></v-img> -->
              <div class="row content">
                  <div class="col-2" style="padding-top: 20px; padding-bottom: 10px;">
                      <!-- <v-img src="https://www.ratnagears.com/images/logo.png" height="90" width="120"></v-img> -->
                   <!-- <v-img src="../../assets/images/logo.png" height="60" width="90"></v-img> -->
                   <img src="../../assets/images/logo.png" style="height: 60px; width: 80px;">

                  </div>
                  <div class="heading col-7" style="padding-top: 34px; font-size: 22px; font-weight: 900; font-family: Verdana, Arial, Helvetica, sans-serif;">
                      <!-- <h2><b>RATNA GEARS PVT. LTD.</b></h2> -->
                      RATNA GEARS PVT. LTD.
                  </div>
                  <div style="width: 2px; background-color: black; margin-top: 20px; margin-bottom: 20px; margin-left: 20px;"></div>
                  <div style="font-size: 11px; margin-top: 30px; text-align: right; margin-left: 20px;">
                    <b>PO No : </b> {{PO.PO_Number}}
                    <div class="line" style="margin-top: 3px; margin-bottom: 3px;"></div>
                    <b>OA No : </b> {{PO.CPO_Number}}
                    <div class="line" style="margin-top: 3px; margin-bottom: 3px;"></div>
                    <b>Date : </b> {{PO.date}}
                    <br><br><br>
                  </div>
                  
                  <!-- {{PO}} -->
              </div>
              
              <div class="line"></div>
              <div style="text-align: center; font-weight: 900; margin-top: 5px; font-size: 15px; font-weight: 900; font-family: Verdana, Arial, Helvetica, sans-serif;">PURCHASE ORDER</div>

              <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="contentAll">
                  
                  <b>Your Ref.:</b> {{PO.yourRef}}
                  <br>
                  <b>Vendor Code :</b> {{PO.vendorCode}}
                  <br>
                  {{PO.vendorName}}
                  <br>
                  <b>{{PO.vendorCompany}}</b>
                  <br>
                  <b>GST TIN :</b>{{PO.vendor_GST_TIN}}
                  
              </div>
              <div class="line"></div>
              <!-- {{quotation.productDeatils}} -->
              <table>
                  <tr>
                      <th>SR. NO.</th>
                      <th>NAME OF PRODUCT/SERVICE</th>
                      <th>HSN/SAC</th>
                      <th>BIILING QTY</th>
                      <th>QTY(NOS)</th>
                      <th>RATE</th>
                      <th>TOTAL</th>
                  </tr>
                  <tr v-for="product, index in PO.products">
                      <td><b>{{index+1}}</b></td>
                      <td>
                          {{product.name}}
                      </td>
                      <td>{{product.HSN}}</td>
                      <td>{{product.billingQuantity}}</td>
                      <td>{{product.quantity}}</td>
                      <td>{{PO.currency}} {{product.rate}}</td>
                      <td>{{PO.currency}} {{product.total}}</td>
                  </tr>
              </table>
              <div class="line"></div>
              <div style="text-align: right; font-size: 12px; padding: 0.5%;">
                  <div style="font-weight: 700;">
                      TOTAL AMOUNT :
                      <span style="padding-left: 10px;">{{PO.currency}} {{PO.PO_Total}}</span>
                  </div>
              </div>
              <div class="line"></div>
              <div style="text-align: right; font-size: 12px; padding: 0.5%;">
                  <div style=" font-weight: 700;">
                      GRAND TOTAL :
                      <span style="padding-left: 10px;">{{PO.currency}} {{PO.PO_Total}}</span>
                  </div>
              </div>
              <div class="line"></div>

              <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="contentAll">

              <b>Amount in Words :</b> <b>{{words}}</b>
              <br>
              Delivery Date : <b>{{PO.deliveryDate}}</b>
              <br>
              <b>Terms and Conditions :</b>
              <br>
              {{PO.termsAndConditions}}
              <br>
              <div class="row">
                  <div class="col-4">
                      <b>{{PO.preparedBy.firstName}} {{PO.preparedBy.lastName}}</b>
                      <br><br><br><br><br><br>
                      PREPARED BY
                  </div>
                  <div class="col-4">
                      <b>{{PO.authorizedBy.firstName}} {{PO.authorizedBy.lastName}}</b>
                      <br><br><br><br><br><br>
                      AUTHORIZED SIGNATORY
                  </div>
                  <div class="col-4">
                      <b>for RATNA GEARS PVT. LTD.</b>
                      <br><br><br><br><br><br>
                      AUTHORIZED SIGNATORY
                  </div>
              </div>

              </div>

              <div class="line"></div>

              <!-- <div style="font-size: 12px; padding-left: 2%; padding-right: 2%;" class="contentAll">
                  <b>Address: </b> 95 & 108, Swami Vivekanand Ind. Estate, Handewadi Road,
                  Hadapsar, Pune - 411028, Maharashtra, India.
                  <br>
                  <b>Phone Number: </b>20-26970987
                  <br>
                  <b>E-Mail: </b> ratnagear@gmail.com
                  <br>
                  <b>GST TIN: </b> 27AADCR2241Q1Z2
              </div> -->

              <div style="font-size: 11px; padding-left: 3%; padding-right: 3%;" class="row">
                  <div class="contentAll" style="width:65%">
                      <b>Address : </b> 95 & 108, Swami Vivekanand Ind. Estate, Handewadi Road,
                      Hadapsar, Pune - 411028, Maharashtra, India.
                      <br>
                      <b>Phone Number : </b>20-26970987
                      <br>
                      <b>E-Mail : </b> ratnagear@gmail.com
                      <br>
                      <b>GST TIN : </b> 27AADCR2241Q1Z2
                  </div>
                  <div class="contentAll" style="width:34%">
                      <p style="margin-bottom: 8px;">
                          <span style="font-weight: 900;">Mob. No. : </span> 9028352674
                          <br>
                          <span style="font-weight: 900;">Website : </span>https://www.ratnagears.com/
                          <br>
                          <span style="font-weight: 900;">UI No. : </span>
                      </p>
                  </div>
              </div>
              
            </div>
              
          </div>
          <!-- {{quotation.finalized}} -->
          <br>

          <v-row
            align="center"
            justify="space-around"
            style="width: 610px; margin: 0 auto;"
          >
            <v-btn @click="save_PO()" color="success" :disabled="saveSuccess===true || POStatus==='old'" rounded small>Save PO</v-btn>
            <v-btn @click="authorize_PO()" color="success" rounded small :disabled="PO.PO_Number===null || userDetails.approveVPO===false || authorizedClicked===true || PO.authorized===true">Authorize PO</v-btn>
            <v-btn @click="print()" color="success" rounded small :disabled="PO.PO_Number===null">Print PO</v-btn>  
          </v-row>

          <v-overlay
                :absolute="absolute1"
                :value="saveOverlay"
              >
              <v-card style="padding: 18px; color: black;" color="white">

                <!-- {{saveSuccess}} -->

                <span v-if="saveSuccess===true">
                  Vendor Purchase Order saved successfully ✔
                  <br>
                  <b>PO Number : {{PO.PO_Number}}</b>
                </span>

                <span v-if="saveSuccess!=true">
                  An Error Occured!! Please try again..
                </span>

                <div class="row" style="margin-left: 2px; margin-right: 2px;">
                  <v-btn
                  style="margin-top: 8px;"
                  :color=buttonColor
                  small
                  rounded
                  @click="saveOverlay = false"
                >
                  Close
                </v-btn>
              </div>

              </v-card>
            
          </v-overlay>
          
    </div>
  </div>

  <div id="toPrint" class="toPrint">
    <div ref="preview" id="preview" v-if="Object.keys(PO) != 0">
      <div class="box">
        <!-- <v-img src=".../assets/images/logo.png"></v-img> -->
        <div class="row content">
            <div class="col-2" style="padding-top: 20px; padding-bottom: 10px;">
                <!-- <v-img src="https://www.ratnagears.com/images/logo.png" height="90" width="120"></v-img> -->
                <!-- <v-img src="../../assets/images/logo.png" height="60" width="90"></v-img> -->
                <img src="../../assets/images/logo.png" style="height: 60px; width: 80px;">


            </div>
            <div class="heading col-7" style="padding-top: 34px; font-size: 22px; font-weight: 900; font-family: Verdana, Arial, Helvetica, sans-serif;">
                <!-- <h2><b>RATNA GEARS PVT. LTD.</b></h2> -->
                RATNA GEARS PVT. LTD.
            </div>
            <div style="width: 2px; background-color: black; margin-top: 20px; margin-bottom: 20px; margin-left: 20px;"></div>
            <div style="font-size: 11px; margin-top: 30px; text-align: right; margin-left: 20px;">
              <b>PO No : </b> {{PO.PO_Number}}
              <div class="line" style="margin-top: 3px; margin-bottom: 3px;"></div>
              <b>Date : </b> {{PO.date}}
            </div>
        </div>
        
        <div class="line"></div>
        <div style="text-align: center; font-weight: 900; margin-top: 5px; font-size: 15px; font-weight: 900; font-family: Verdana, Arial, Helvetica, sans-serif;">PURCHASE ORDER</div>

        <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="contentAll">
            
            <b>Your Ref.:</b> {{PO.yourRef}}
            <br>
            <b>Vendor Code :</b> {{PO.vendorCode}}
            <br>
            {{PO.vendorName}}
            <br>
            <b>{{PO.vendorCompany}}</b>
            <br>
            <b>GST TIN :</b>{{PO.vendor_GST_TIN}}
            
        </div>
        <div class="line"></div>
        <!-- {{quotation.productDeatils}} -->
        <table>
            <tr>
                <th>SR. NO.</th>
                <th>NAME OF PRODUCT/SERVICE</th>
                <th>HSN/SAC</th>
                <th>BIILING QTY</th>
                <th>QTY(NOS)</th>
                <th>RATE</th>
                <th>TOTAL</th>
            </tr>
            <tr v-for="product, index in PO.products">
                <td><b>{{index+1}}</b></td>
                <td>
                    {{product.name}}
                </td>
                <td>{{product.HSN}}</td>
                <td>{{product.billingQuantity}}</td>
                <td>{{product.quantity}}</td>
                <td>{{PO.currency}} {{product.rate}}</td>
                <td>{{PO.currency}} {{product.total}}</td>
            </tr>
        </table>
        <div class="line"></div>
        <div style="text-align: right; font-size: 12px; padding: 0.5%;">
            <div style="font-weight: 700;">
                TOTAL AMOUNT :
                <span style="padding-left: 10px;">{{PO.currency}} {{PO.PO_Total}}</span>
            </div>
        </div>
        <div class="line"></div>
        <div style="text-align: right; font-size: 12px; padding: 0.5%;">
            <div style=" font-weight: 700;">
                GRAND TOTAL :
                <span style="padding-left: 10px;">{{PO.currency}} {{PO.PO_Total}}</span>
            </div>
        </div>
        <div class="line"></div>

        <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="contentAll">

        <b>Amount in Words :</b> <b>{{words}}</b>
        <br>
        Delivery Date : <b>{{PO.deliveryDate}}</b>
        <br>
        <b>Terms and Conditions :</b>
        <br>
        {{PO.termsAndConditions}}
        <br>
        <div class="row">
            <div class="col-4">
                <b>{{PO.preparedBy.firstName}} {{PO.preparedBy.lastName}}</b>
                <br><br><br><br><br><br>
                PREPARED BY
            </div>
            <div class="col-4">
                <b>{{PO.authorizedBy.firstName}} {{PO.authorizedBy.lastName}}</b>
                <br><br><br><br><br><br>
                AUTHORIZED SIGNATORY
            </div>
            <div class="col-4">
                <b>for RATNA GEARS PVT. LTD.</b>
                <br><br><br><br><br><br>
                AUTHORIZED SIGNATORY
            </div>
        </div>

        </div>

        <div class="line"></div>

        <div style="font-size: 11px; padding-left: 3%; padding-right: 3%;" class="row">
            <div class="contentAll" style="width:65%">
                <b>Address : </b> 95 & 108, Swami Vivekanand Ind. Estate, Handewadi Road,
                Hadapsar, Pune - 411028, Maharashtra, India.
                <br>
                <b>Phone Number : </b>20-26970987
                <br>
                <b>E-Mail : </b> ratnagear@gmail.com
                <br>
                <b>GST TIN : </b> 27AADCR2241Q1Z2
            </div>
            <div class="contentAll" style="width:34%">
                <p style="margin-bottom: 8px;">
                    <span style="font-weight: 900;">Mob. No. : </span> 9028352674
                    <br>
                    <span style="font-weight: 900;">Website : </span>https://www.ratnagears.com/
                    <br>
                    <span style="font-weight: 900;">UI No. : </span>
                </p>
            </div>
        </div>
        
      </div>
        
    </div>
  </div>

    <br>
</v-app>