.bg {
    background: #009049;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.form-container {
    position: absolute;
    top: 30vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

#subbutton {
    background: #009049;
}

#logo {
    margin-top: 10vh;
    background: #fff;
    padding-left: 3%;
}