<template src='./adminPanel.html'></template>

<script>
import axios from 'axios'
export default {
  name: 'adminPanel',
  data () {
    return {
      tab: null,
      drawer: true,
      overlay: false,
      firstname: '',
      lastname: '',
      phNo: '',
      email: '',
      password: '',
      searchUser: '',
      inputType: 'text',
      userData: [],
      searchClicked: false,
      addUser: false,
      modOrDelUser: false,
      addBank: false,
      modOrDelBank: false,
      addClient: false,
      modOrDelClient: false,
      addProcess: false,
      fillQuotation: false,
      searchQuotation: false,
      previewQuotation: false,
      editQuotation: false,
      finalizeQuotation: false,
      fillCPO: false,
      fillVPO: false,
      searchVPO: false,
      previewVPO: false,
      approveVPO: false,
      bankDetails: {
        bankName: '',
        accNo: '',
        accName: '',
        ifsc: ''
      },
      bankData: [],
      bankDataRetrieved: false,
      companyDetails: {
        companyName: '',
        vendorCode: '',
        firstname: '',
        lastname: '',
        email: '',
        phNo: ''
      },
      searchCompany: '',
      companyData: [],
      companySearchClicked: false
    }
  },
  methods: {
    onSignup () {
      var payload = {
        firstname: this.firstname,
        lastname: this.lastname,
        phNo: this.phNo,
        email: this.email,
        password: this.password,
        addUser: this.addUser,
        modOrDelUser: this.modOrDelUser,
        addBank: this.addBank,
        modOrDelBank: this.modOrDelBank,
        addClient: this.addClient,
        modOrDelClient: this.modOrDelClient,
        addProcess: this.addProcess,
        fillQuotation: this.fillQuotation,
        searchQuotation: this.searchQuotation,
        previewQuotation: this.previewQuotation,
        editQuotation: this.editQuotation,
        finalizeQuotation: this.finalizeQuotation,
        fillCPO: this.fillCPO,
        fillVPO: this.fillVPO,
        searchVPO: this.searchVPO,
        previewVPO: this.previewVPO,
        approveVPO: this.approveVPO
      }

      axios
        .post('http://127.0.0.1:8000/admin_panel/saveAndRetrieveUsers/', JSON.stringify(payload))
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
    },
    receiveData () {
      var payload = this
      var dataToSearch = { email: this.searchUser }
      // // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveUsers/', { params: dataToSearch })
        .then(function (res) {
          payload.userData = JSON.parse(res.data)
          // // console.log(typeof payload.user)
          // // console.log(payload.userData[0])
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.searchClicked = true
    },
    deleteUserDetails () {
      var payload = { _id: this.userData[0]._id }
      axios
        .post('http://127.0.0.1:8000/admin_panel/deleteUsers/', JSON.stringify(payload))
        .then(() => {
          // console.log('Successfully deleted user')
        })
        .catch((error) => {
          console.log('Error deleting user:', error)
        })
    },
    changeUserDetails () {
      var payload = {
        _id: this.userData[0]._id,
        firstname: this.userData[0].firstname,
        lastname: this.userData[0].lastname,
        phNo: this.userData[0].phNo,
        email: this.userData[0].email,
        password: this.userData[0].password,
        addUser: this.userData[0].addUser,
        modOrDelUser: this.userData[0].modOrDelUser,
        addBank: this.userData[0].addBank,
        modOrDelBank: this.userData[0].modOrDelBank,
        addClient: this.userData[0].addClient,
        modOrDelClient: this.userData[0].modOrDelClient,
        addProcess: this.userData[0].addProcess,
        fillQuotation: this.userData[0].fillQuotation,
        searchQuotation: this.userData[0].searchQuotation,
        previewQuotation: this.userData[0].previewQuotation,
        editQuotation: this.userData[0].editQuotation,
        finalizeQuotation: this.userData[0].finalizeQuotation,
        fillCPO: this.userData[0].fillCPO,
        fillVPO: this.userData[0].fillVPO,
        searchVPO: this.userData[0].searchVPO,
        previewVPO: this.userData[0].previewVPO,
        approveVPO: this.userData[0].approveVPO
      }

      axios
        .post('http://127.0.0.1:8000/admin_panel/changeUserDetails/', JSON.stringify(payload))
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
    },
    addBankDetails () {
      var payload = this.bankDetails
      axios
        .post('http://127.0.0.1:8000/admin_panel/saveAndRetrieveBankDetails/', JSON.stringify(payload))
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
    },
    receiveBankDetails () {
      var payload = this
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveBankDetails/')
        .then(function (res) {
          payload.bankData = JSON.parse(res.data)
          // console.log(typeof payload.user)
          // console.log(payload.userData[0])
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.bankDataRetrieved = true
    },
    deleteBankDetails (index) {
      var payload = { _id: this.bankData[index]._id }
      axios
        .post('http://127.0.0.1:8000/admin_panel/deleteBankDetails/', JSON.stringify(payload))
        .then(() => {
          // console.log('Successfully deleted user')
        })
        .catch((error) => {
          console.log('Error deleting user:', error)
        })
    },
    addCompanyDetails () {
      var payload = this.companyDetails
      axios
        .post('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', JSON.stringify(payload))
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
    },
    receiveCompanyData () {
      var payload = this
      var dataToSearch = { vendorCode: this.searchCompany }
      // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', { params: dataToSearch })
        .then(function (res) {
          payload.companyData = JSON.parse(res.data)
          // console.log(typeof payload.companyData)
          // console.log(payload.companyData)
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.companySearchClicked = true
    },
    changeCompanyDetails () {
      var payload = this.companyData[0]
      axios
        .post('http://127.0.0.1:8000/admin_panel/changeCompanyDetails/', JSON.stringify(payload))
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
        })
    },
    deleteCompanyDetails () {
      var payload = { _id: this.companyData[0]._id }
      // // console.log(payload)
      // // console.log(this.companyData[0])
      axios
        .post('http://127.0.0.1:8000/admin_panel/deleteCompany/', JSON.stringify(payload))
        .then(() => {
          // console.log('Successfully deleted Company')
        })
        .catch((error) => {
          console.log('Error deleting user:', error)
        })
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    onLogout () {
      this.$store.dispatch('logout')
      this.$router.push({ name: 'loginpage' })
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    },
    goToUserManagement () {
      this.$router.push({ name: 'userManagement' })
    },
    goToBankDetailsManagement () {
      this.$router.push({ name: 'bankDetailsManagement' })
    },
    goToClientDetailsManagement () {
      this.$router.push({ name: 'clientDetailsManagement' })
    }
  },
  // mounted () {
  //   this.userDetails = this.$store.getters.user
  //   // console.log('Admin Page' + this.userDetails)
  // },
  computed: {
    toolbarColor () {
      var color = ''
      if (this.drawer === true) {
        color = '#edeff2'
      } else {
        color = 'success'
      }
      return color
    },
    toolbarTheme () {
      var dark = ''
      if (this.drawer === true) {
        dark = false
      } else {
        dark = true
      }
      return dark
    },
    user () {
      return this.$store.getters.user
    }
    // userDetails () {
    //   // eslint-disable-next-line no-unused-vars
    //   var userDetails = {}
    //   userDetails = this.user
    //   return this.userDetails
    // }
  }
}
</script>

<style src='./adminPanel.css'>
</style>
