<v-app>
  <v-navigation-drawer 
    v-model="drawer"
    app 
    fixed 
    dark 
    width="320"
    src="../../assets/images/unnamed.jpg">
    <template v-slot:prepend>
      <v-list-item two-line>
        <v-list-item-avatar>
          <!-- <img src="https://randomuser.me/api/portraits/women/81.jpg"> -->
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{user.firstname}} {{user.lastname}}</v-list-item-title>
          <v-list-item-subtitle>Logged In</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>

    <v-divider></v-divider>

    <v-list>
      <v-list-item link>
        <v-list-item-icon>
          <v-icon>home</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title @click="goToHome()">Home</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group prepend-icon="edit" no-action>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Quotation</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link :disabled="user.fillQuotation===false">
          <v-list-item-content>
            <v-list-item-title @click="goToCreateQuotation()">Create</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.searchQuotation===false">
          <v-list-item-content>
            <v-list-item-title @click="goToSearchQuotation()">Search and Preview/Edit</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-list-group prepend-icon="receipt" no-action>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Purchase Order</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link :disabled="user.fillVPO===false">
          <v-list-item-content>
            <v-list-item-title @click="goToVendor_PO ()">Create Vendor Purchase Order</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.fillCPO===false">
          <v-list-item-content>
            <v-list-item-title @click="goToVPOSearch()">Search Vendor Purchase Order</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.searchVPO===false">
          <v-list-item-content>
            <v-list-item-title @click="goToCustomerPO ()">Customer Purchase Order</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-divider></v-divider>
      <v-list-group prepend-icon="admin_panel_settings" no-action>
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Admin Panel</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item link :disabled="user.addUser===false && user.modOrDelUser===false">
          <v-list-item-content>
            <v-list-item-title @click="goToUserManagement ()">User Management</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.addBank===false && user.modOrDelBank===false">
          <v-list-item-content>
            <v-list-item-title @click="goToBankDetailsManagement ()">Bank Details Management</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link :disabled="user.addClient===false && user.modOrDelClient===false">
          <v-list-item-content>
            <v-list-item-title @click="goToClientDetailsManagement ()">Client Details Management</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-divider></v-divider>
      <v-list-item link>
        <v-list-item-icon>
          <v-icon>exit_to_app</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title @click="onLogout()">Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      
    </v-list>
  </v-navigation-drawer>

    <v-card>
      <v-app-bar
        :color = toolbarColor
        :dark = toolbarTheme
        app
        flat
      >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title
      style="font-size: 25px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 5px 10px 5px 10px; text-align: center;">
      
      <span>
        Admin Panel
      </span>

    </v-toolbar-title>
  
        <v-spacer></v-spacer>
  
        <v-btn icon @click="onLogout()">
          <v-icon>exit_to_app</v-icon>
        </v-btn>
  
        <!-- <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn> -->
      </v-app-bar>
    </v-card>

  <v-main>
    <router-view></router-view>
  </v-main>
  
  <!-- <v-main>
    <v-container>
      <v-row>
        <v-col xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
              <h1> Add User </h1>
              <v-container>
                <v-form @submit.prevent="onSignup">
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="firstname"
                        label="First Name"
                        id="firstname"
                        v-model="firstname"
                        type="firstname"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="lastname"
                        label="Last Name"
                        id="lastname"
                        v-model="lastname"
                        type="lastname"
                        required></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="email"
                        label="Email"
                        id="email"
                        v-model="email"
                        type="email"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="password"
                        label="Password"
                        id="password"
                        v-model="password"
                        type="password"
                        required></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="phNo"
                        label="Phone Number"
                        id="phNo"
                        v-model="phNo"
                        type="phNo"
                        required></v-text-field>
                    </v-col>
                  </v-row>

                  Permissions:
                  <br>
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add User" v-model="addUser" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete User Details" v-model="modOrDelUser" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Bank" v-model="addBank" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete Bank Details" v-model="modOrDelBank" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Client" v-model="addClient" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Modify Client Details" v-model="modOrDelClient" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Process" v-model="addProcess" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Quotation" v-model="fillQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Quotation" v-model="searchQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Quotation" v-model="previewQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Edit Quotation" v-model="editQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Finalize Quotation" v-model="finalizeQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Fill Custumer PO" v-model="fillCPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Vendor PO" v-model="fillVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Vendor PO" v-model="searchVPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Vendor PO" v-model="previewVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Approve Vendor PO" v-model="approveVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-btn type="submit" >
                        Add User
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
              <h1> Change/Delete User Details </h1>
              <br>
              <v-form>
                <v-row>
                  <v-col xs12>
                    <v-text-field 
                      v-model="searchUser"
                      :type="inputType"
                      label="Enter the Email id"
                      dense outlined clearable>
                    </v-text-field>
                  </v-col>

                  <v-col xs12>
                    <v-btn rounded color="success" dark @click="receiveData()"><i class="fas fa-search">
                    </i> Search</v-btn>
                  </v-col>
                </v-row>
              </v-form>

              <div v-if="Object.keys(userData).length===0 && searchClicked"
                style="text-align: center; color: red;">
                No data found !!
              </div>

              <v-container>
                <v-form v-if="Object.keys(userData).length!==0 && searchClicked">
                
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="firstname"
                        placeholder="First Name"
                        id="firstname"
                        v-model="userData[0].firstname"
                        required>
                      </v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="lastname"
                        placeholder="Last Name"
                        id="lastname"
                        v-model="userData[0].lastname"
                        required>
                      </v-text-field>
                    </v-col>
                  </v-row>
  
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="email"
                        placeholder="Email"
                        id="email"
                        v-model="userData[0].email"
                        disabled
                        required>
                      </v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="phNo"
                        placeholder="Phone Number"
                        id="phNo"
                        v-model="userData[0].phNo"
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  
                  Permissions:
                  <br>
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add User" v-model="userData[0].addUser" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete User Details" v-model="userData[0].modOrDelUser" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Bank" v-model="userData[0].addBank" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete Bank Details" v-model="userData[0].modOrDelBank" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Client" v-model="userData[0].addClient" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Modify Client Details" v-model="userData[0].modOrDelClient" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Process" v-model="userData[0].addProcess" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Quotation" v-model="userData[0].fillQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Quotation" v-model="userData[0].searchQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Quotation" v-model="userData[0].previewQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Edit Quotation" v-model="userData[0].editQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Finalize Quotation" v-model="userData[0].finalizeQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Fill Custumer PO" v-model="userData[0].fillCPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Vendor PO" v-model="userData[0].fillVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Vendor PO" v-model="userData[0].searchVPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Vendor PO" v-model="userData[0].previewVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Approve Vendor PO" v-model="userData[0].approveVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-btn @click="changeuser()" >
                        Submit Changes
                      </v-btn>
                    </v-col>
                    <v-col xs12>
                      <v-btn @click="deleteuser()" >
                        Delete
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
            <h1> Add Bank Details</h1>
            <form>
              <v-container>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                      name="Bank Name"
                      label="Bank Name"
                      id="bankname"
                      v-model="bankDetails.bankName"
                      type="bankDetails.bankName"
                      required></v-text-field>
                  </v-col>
                </v-row>
                
                <v-row>
                  <v-col xs12>
                    <v-text-field
                      name="Account Number"
                      label="Account Number"
                      id="accNo"
                      v-model="bankDetails.accNo"
                      type="bankDetails.accNo"
                      required></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col xs12>
                    <v-text-field
                      name="Account Name"
                      label="A/C Name"
                      id="accName"
                      v-model="bankDetails.accName"
                      type="bankDetails.accName"
                      required></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col xs12>
                    <v-text-field
                      name="IFSC"
                      label="IFSC"
                      id="ifsc"
                      v-model="bankDetails.ifsc"
                      type="bankDetails.ifsc"
                      required></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col xs12>
                    <v-btn @click="addBankDetails()" >
                      Add Bank Account Details
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </form>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
              <h1>List of Banks</h1>

              <v-container>
                <v-btn @click="receiveBankDetails()">Display Bank Details</v-btn>

                <div v-if="Object.keys(bankData).length===0 && bankDataRetrieved"
                  style="text-align: center; color: red;">
                  No data found !!
                </div>
                <div v-if="Object.keys(bankData).length !==0 && bankDataRetrieved">
                  <div v-for="b, index in bankData">
                    <v-row>
                      <v-col>
                        <div style="color: gray;">
                          Bank Name : {{ b.bankName }}
                          <br>
                          A/C Number : {{ b.accNo }}
                          <br>
                          A/C Name : {{ b.accName }}
                          <br>
                          IFSC Code : {{ b.ifsc }}
                        </div>
                      </v-col>
                      <v-col>
                        <v-btn @click="deleteBankDetails(index)">
                          Delete
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-divider></v-divider>
                  </div>
                </div>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

---------------------------------------Client/Vendor Details--------------------------------------------------------
      <v-row>
        <v-col xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
              <h1> Add Client/Vendor Company</h1>
              <v-container>
                <v-form>
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="companyname"
                        label="Company Name"
                        id="companyname"
                        v-model="companyDetails.companyName"
                        type="companyname"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="vendorCode"
                        label="Vendor Code"
                        id="vendorCode"
                        v-model="companyDetails.vendorCode"
                        type="vendorCode"
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  <h3> Contact Person details</h3>
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="firstname"
                        label="First Name"
                        id="firstname"
                        v-model="companyDetails.firstname"
                        type="firstname"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="lastname"
                        label="Last Name"
                        id="companyDetails.lastname"
                        v-model="lastname"
                        type="lastname"
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="email"
                        label="Email"
                        id="email"
                        v-model="companyDetails.email"
                        type="email"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="phNo"
                        label="Phone Number"
                        id="phNo"
                        v-model="companyDetails.phNo"
                        type="phNo"
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-btn @click="addCompanyDetails()">
                      Add Company
                    </v-btn>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
              <h1> Change/Delete Company Details </h1>
              <br>
              <v-form>
                <v-row>
                  <v-col xs12>
                    <v-text-field 
                      v-model="searchCompany"
                      :type="inputType"
                      label="Enter the Vendor Code"
                      dense outlined clearable>
                    </v-text-field>
                  </v-col>

                  <v-col xs12>
                    <v-btn rounded color="success" dark @click="receiveCompanyData()"><i class="fas fa-search">
                    </i> Search</v-btn>
                  </v-col>
                </v-row>
              </v-form>

              <div v-if="Object.keys(companyData).length===0 && companySearchClicked"
                style="text-align: center; color: red;">
                No data found !!
              </div>

              <v-container>
                <v-form v-if="Object.keys(companyData).length!==0 && companySearchClicked">
                  
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="companyname"
                        placeholder="Company Name"
                        id="companyname"
                        v-model="companyData[0].companyName"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="vendorCode"
                        placeholder="Vendor Code"
                        id="vendorCode"
                        v-model="companyData[0].vendorCode"
                        disabled
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  <h3> Contact Person details</h3>
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="firstname"
                        placeholder="First Name"
                        id="firstname"
                        v-model="companyData[0].firstname"
                        type="firstname"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="lastname"
                        placeholder="Last Name"
                        id="companyData[0].lastname"
                        v-model="lastname"
                        type="lastname"
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col xs12>
                      <v-text-field
                        name="email"
                        placeholder="Email"
                        id="email"
                        v-model="companyData[0].email"
                        type="email"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12>
                      <v-text-field
                        name="phNo"
                        placeholder="Phone Number"
                        id="phNo"
                        v-model="companyData[0].phNo"
                        type="phNo"
                        required></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-btn @click="changeCompanyDetails()" >
                        Submit Changes
                      </v-btn>
                    </v-col>
                    <v-col xs12>
                      <v-btn @click="deleteCompanyDetails()" >
                        Delete
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      ----------------------------------------------------------------------------------------------------------
    </v-container>
  </v-main> -->
  </v-app>
