/* eslint-disable no-unused-vars */
<template src='./bankDetailsManagement.html'>
</template>
<script>

import axios from 'axios'
export default {
  name: 'bankDetailsManagement',
  data () {
    return {
      userDetails: {},
      tab: null,
      drawer: true,
      overlay: false,
      bankDetails: {
        bankName: '',
        accNo: '',
        accName: '',
        ifsc: ''
      },
      nameRules: [
        v => !!v || 'This field is required',
        v => /^[a-zA-Z. ]*$/.test(v) || 'Name must be valid'
      ],
      numberRules: [
        v => !!v || 'This field is required',
        v => /^[0-9]*$/.test(v) || 'Number must be valid'
      ],
      ifscRules: [
        v => !!v || 'This field is required',
        v => /^[a-zA-Z0-9 ]*$/.test(v) || 'IFSC Code must be valid',
        v => v.length === 11 || 'IFSC Code must be valid (11 characters)'
      ],
      bankData: [],
      bankDataRetrieved: false,
      err: null
    }
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    addBankDetails () {
      const v = this.$refs.bankForm.validate()
      if (v === true) {
        this.bankDetails.permission = this.userDetails.addBank
        var payload = this.bankDetails
        var load = this
        axios
          .post('http://127.0.0.1:8000/admin_panel/saveAndRetrieveBankDetails/', JSON.stringify(payload))
          .then(function (res) {
            load.err = res.data
            if (load.err.code !== '200') {
              load.$store.dispatch('errorHandler', load.err)
            } else {
              alert('Bank Details Changed Successfully')
              load.bankDetails = {
                bankName: '',
                accNo: '',
                accName: '',
                ifsc: ''
              }
            }
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
      }
    },
    receiveBankDetails () {
      var payload = this
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveBankDetails/')
        .then(function (res) {
          payload.bankData = JSON.parse(res.data)
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.bankDataRetrieved = true
    },
    deleteBankDetails (index) {
      var payload = { _id: this.bankData[index]._id, permission: this.userDetails.modOrDelBank }
      axios
        .post('http://127.0.0.1:8000/admin_panel/deleteBankDetails/', JSON.stringify(payload))
        .then(() => {
          alert('Successfully deleted Bank Details')
        })
        .catch((error) => {
          alert('Error deleting Bank Details.', error)
        })
      this.bankData.splice(index, 1)
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    }
  },
  created () {
    this.userDetails = this.$store.getters.user
    if (this.userDetails.addBankDetails === false) {
      // console.log('yoyoyoyoyo')
      this.$router.push({ name: 'vendor_PO' })
    }
  }
}
</script>
<style src='./bankDetailsManagement.css'>

</style>
