<v-app>
  <template>
    <v-card>
      <v-tabs
        v-model="tab"
        fixed-tabs
        slider-color="success"
          slider-size="2"
          background-color="#edeff2"
      >
        <v-tab style="color: green;" :disabled="userDetails.addBank===false">Add Bank Details
        </v-tab>
        <v-tab style="color: green;" :disabled="userDetails.modOrDelBank===false">List Of Banks
        </v-tab>
      </v-tabs>

      <v-row row v-if="error" >
        <v-col xs12 sm6 offset-sm3 >
          <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
        </v-col>
      </v-row>
  
      <v-tabs-items v-model="tab">
        <v-tab-item
        >
        <v-card style="padding: 20px 100px 30px 100px;">
          <v-card-text>
          <span style="text-align: center;"><h2> Add Bank Details</h2></span>
          <v-form ref="bankForm">
            <v-container>
              <v-row>
                <v-col xs12>
                  <v-text-field
                  class="v-input1 input v-text-field1"
                    name="Bank Name"
                    label="Bank Name"
                    id="bankname"
                    v-model="bankDetails.bankName"
                    type="bankDetails.bankName"
                    :rules="nameRules"
                    required></v-text-field>
                </v-col>
              </v-row>
              
              <v-row>
                <v-col xs12>
                  <v-text-field
                  class="v-input1 input v-text-field1"
                    name="Account Number"
                    label="Account Number"
                    id="accNo"
                    v-model="bankDetails.accNo"
                    type="bankDetails.accNo"
                    :rules=numberRules
                    required></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col xs12>
                  <v-text-field
                  class="v-input1 input v-text-field1"
                    name="Account Name"
                    label="A/C Name"
                    id="accName"
                    v-model="bankDetails.accName"
                    type="bankDetails.accName"
                    :rules="nameRules"
                    required></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col xs12>
                  <v-text-field
                  class="v-input1 input v-text-field1"
                    name="IFSC"
                    label="IFSC"
                    id="ifsc"
                    v-model="bankDetails.ifsc"
                    type="bankDetails.ifsc"
                    :rules="ifscRules"
                    required></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col xs12>
                  <v-btn @click="addBankDetails()" rounded color="success">
                    Add Bank Account Details
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          </v-card-text>
        </v-card>
        </v-tab-item>
        <v-tab-item
        >
        <v-card style="padding: 20px 100px 30px 100px;">
          <v-card-text>
            <span style="text-align: center;"><h2>List of Banks</h2></span>

            <v-container>
              <br>
              <v-btn @click="receiveBankDetails()" rounded color="success" small style="position: absolute; left: 50%; transform: translate(-50%, -50%);">Display Bank Details</v-btn>
              <br><br>
              <div v-if="Object.keys(bankData).length===0 && bankDataRetrieved"
                style="text-align: center; color: red;">
                No data found !!
              </div>
              <div v-if="Object.keys(bankData).length !==0 && bankDataRetrieved">
                <div v-for="b, index in bankData">
                  <v-row>
                    <v-col cols="10">
                      <div style="color: gray;">
                        Bank Name : {{ b.bankName }}
                        <br>
                        A/C Number : {{ b.accNo }}
                        <br>
                        A/C Name : {{ b.accName }}
                        <br>
                        IFSC Code : {{ b.ifsc }}
                      </div>
                    </v-col>
                    <v-col>
                      <v-btn @click="deleteBankDetails(index)" rounded small color="red" dark>
                        Delete
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                </div>
              </div>
            </v-container>
            
          </v-card-text>
        </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </template>
  

</v-app>