<template src='./home.html'>
</template>
<script>
export default {
  name: 'home',
  data () {
    return {
    }
  },
  methods: {
    goToQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchPage () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    }
  }
}
</script>
<style src='./home.css'>

</style>
