@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Titillium+Web&display=swap");

body {
    font-family: "Nunito", sans-serif;
  }
  .container-fluid {
    max-width: 85%;
  }
  
  .fa,
  .fas,
  .fab {
    font-size: 20px;
  }
  :root {
    --animate-duration: 200ms;
    --animate-delay: 0.9s;
  }
  
  .bg-img {
    background-image: url(./images/gears2.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .navbar {
    background: (0, 0, 0, 0.5);
    font-size: 15px;
    color: #f1f1f1;
  }
  .bg-text-title p {
    animation-duration: 2s;
  }
  .nav-item {
    display: block;
    position: relative;
    color: #ffffff;
    transition: 0.3s;
    font-size: 13px;
    font-family: "Titillium Web", sans-serif;
  }
  
  .bg-text {
    position: absolute;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
  }
  .bg-text .bg-text-title {
    position: absolute;
    text-align: center;
    background-color: #3a3a3a65;
    color: #ffffff;
    top: 50%;
    width: 50%;
    font-size: 35px;
    transform: translate(50%, -50%);
    text-shadow: 2px 2px 4px #000000;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
  }
  .home-one .container-fluid {
    max-width: 100%;
  }
  
  .sidebar {
    position: fixed;
    top: 400px;
    bottom: 0;
    left: 0;
    z-index: 100;
  
    padding: 10px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  }
  
  .sidebar {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .sidebar .nav-link {
    font-weight: 500;
    color: #10811a;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  .sidebar .nav-link.active {
    color: #10811a;
    background: rgb(255, 255, 255);
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  #one {
    background-color: rgb(226, 226, 226);
  }
  #home-card hr.solid {
    border-top: 2px solid #10811a;
  }
  
  #home-card .fas {
    font-size: 15px;
  }
  #home-card .card-deck .card {
    width: 50%;
    margin: 15px 10px 15px 10px;
  }
  
  #home-card .card-body .card-text {
    margin: 5px 0px 5px 0px;
    text-align: justify;
  }
  #home-card .card {
    border-radius: 0px 0px 5px 5px;
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
  #home-card .card .card-img-top {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #home-card .card .card-img-top:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #home-card .card-deck .card-body .loc {
    text-align: center;
  }
  
  .footer p {
    text-align: center;
    background: #10811a;
    color: #f1f1f1;
    margin: 0;
    font-weight: bold;
  }
  .v-application ul, .v-application ol {
    padding-left: 0px !important;
  }

  .p-3 {
    padding: 0rem !important;
}