<v-app>
    <div class="bg-img">
        <div class="bg-text">
            <div class="bg-text-title">
                <p class="animate__slideInDown">Ratna Gears</p>
                <p class="animate__slideInUp">Resource Service Planning</p>
            </div>
        </div>

        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand " href=""><img
                        src="https://www.ratnagears.com/images/logo.png"></a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <v-btn
                            v-if="userIsAuthenticated"
                            flat
                            @click="onLogout">
                            <v-icon left dark>exit_to_app</v-icon>
                                Logout
                        </v-btn>
                        </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="home-one">

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar p-3">
                        <ul class="nav flex-column list-group list-group-flush">
                            <li class="nav-item p-2 bd-highlight">

                                <a class="nav-link active list-group-item" href="#"><i class="fas fa-house-user "></i>

                                    <span data-feather="home"></span><v-icon color="green" style="padding-right: 8px;">
                                        home</v-icon>Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="file"></span><v-icon color="green" style="padding-right: 8px;">edit</v-icon></i> Quotation
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="shopping-cart"></span><v-icon color="green" style="padding-right: 8px;">
                                        receipt</v-icon></i> Purchase
                                    Order
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="users"></span><v-icon color="green" style="padding-right: 8px;">pending</v-icon></i> Field3
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="bar-chart-2"></span><v-icon color="green" style="padding-right: 8px;">pending</v-icon></i> Field4
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="layers"></span><v-icon color="green" style="padding-right: 8px;">pending</v-icon> </i>
                                    Field5
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="one" class="col-md-9 col-lg-10 py-3  ">
                    <section id="home-card">
                        <div class="card-deck">
                            <div class="card">
                                <img src="./images/quotation.jpg" class="card-img-top" alt="quotation">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Quotation
                                    </h5>
                                    <p class="card-text">Set out the estimated cost for particular service.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-md-6">
                                            <a @click="goToQuotation()" class="card-link">
                                                <v-icon color="primary">add</v-icon>
                                            </i> Create</a>
                                        </div>
                                        <div class="col-lg-6">
                                            <a @click="goToSearchPage()" class="card-link"><v-icon color="primary">search</v-icon>
                                                Search</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <img src="./images/purchase.jpg" class="card-img-top" alt="purchase">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Purchase
                                        Order</h5>
                                    <p class="card-text">Issue the document indicating types, quantities, prices for
                                        services.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-lg-6">
                                            <a @click="goToVendor_PO ()" class="card-link"><v-icon color="primary">add</v-icon>
                                                Create</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <img src="./images/quotation.jpg" class="card-img-top" alt="field3">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Field3
                                    </h5>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        the card's content.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-md-6 ">

                                            <a href="#" class="card-link">
                                                Link1</a></div>
                                        <div class="col-md-6 ">
                                            <a href="#" class="card-link">
                                                Link2</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <img src="./images/purchase.jpg" class="card-img-top" alt="field4">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Field4
                                    </h5>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        the card's content.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-md-6 ">

                                            <a href="#" class="card-link">
                                                Link1</a></div>
                                        <div class="col-md-6 ">
                                            <a href="#" class="card-link">
                                                Link2</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
    <section class="footer">
        <p>Footer</p>
    </section>
</v-app>
