{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratna Gears RSP</title>

    <script type="text/javascript" src="{%static 'js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
    <link href="{%static 'css/animate.min.css'%}" rel="stylesheet" />
    <link href="{%static 'css/all.css'%}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
    <link href="{%static 'css/homepage.css'%}" rel="stylesheet" />
</head>

<body>
    {% csrf_token %}
    <div class="bg-img">
        <div class="bg-text">
            <div class="bg-text-title">
                <p class="animate__slideInDown">Ratna Gears</p>
                <p class="animate__slideInUp">Resource Service Planning</p>
            </div>
        </div>

        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand " href="{% url 'Homepage' %}"><img
                        src="https://www.ratnagears.com/images/logo.png"></a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div>
                            <button class="btn btn-outline-light" type="button"
                                onclick="location.href='{% url 'log' %}'"> <i class="fas fa-sign-out-alt"> </i>
                                Logout</button>
                        </div>
                </ul>
            </div>
        </nav>
    </div>
    <div class="home-one">

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar p-3">
                        <ul class="nav flex-column list-group list-group-flush">
                            <li class="nav-item p-2 bd-highlight">

                                <a class="nav-link active list-group-item" href="#"><i class="fas fa-house-user "></i>

                                    <span data-feather="home"></span>Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="file"></span><i class="fas fa-user-edit"></i> Quotation
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="shopping-cart"></span><i class="fas fa-receipt"></i> Purchase
                                    Order
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="users"></span><i class="fab fa-product-hunt"></i> Field3
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="bar-chart-2"></span><i class="fab fa-product-hunt"></i> Field4
                                </a>
                            </li>
                            <li class="nav-item p-2 bd-highlight">
                                <a class="nav-link list-group-item" href="#">
                                    <span data-feather="layers"></span><i class="fab fa-product-hunt"> </i>
                                    Field5
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="one" class="col-md-9 col-lg-10 py-3  ">
                    <section id="home-card">
                        <div class="card-deck">
                            <div class="card">
                                <img src="{%static 'images/quotation.jpg'%}" class="card-img-top" alt="quotation">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Quotation
                                    </h5>
                                    <p class="card-text">Set out the estimated cost for particular service.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-md-6">
                                            <a href="{%url 'QuotationsMain'%}" class="card-link"><i
                                                    class="fas fa-plus"></i> Create</a>
                                        </div>
                                        <div class="col-lg-6">
                                            <a href="#" class="card-link"><i class="fas fa-search"> </i>
                                                Search</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <img src="{%static 'images/purchase.jpg'%}" class="card-img-top" alt="purchase">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Purchase
                                        Order</h5>
                                    <p class="card-text">Issue the document indicating types, quantities, prices for
                                        services.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <a href="#" class="card-link m-auto"><i class="fas fa-plus"></i>
                                            Create</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <img src="{%static 'images/quotation.jpg'%}" class="card-img-top" alt="field3">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Field3
                                    </h5>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        the card's content.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-md-6 ">

                                            <a href="#" class="card-link">
                                                Link1</a></div>
                                        <div class="col-md-6 ">
                                            <a href="#" class="card-link">
                                                Link2</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <img src="{%static 'images/purchase.jpg'%}" class="card-img-top" alt="field4">
                                <div class="card-body">
                                    <h5 class="card-header" style="text-align: center; padding: 8px 15px;">Field4
                                    </h5>
                                    <p class="card-text">Some quick example text to build on the card title and
                                        the card's content.</p>
                                    <hr class="solid">
                                    </hr>
                                    <div class="row loc">
                                        <div class="col-md-6 ">

                                            <a href="#" class="card-link">
                                                Link1</a></div>
                                        <div class="col-md-6 ">
                                            <a href="#" class="card-link">
                                                Link2</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
    <section class="footer">
        <p>Footer</p>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

</html>