{%load static%}
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Page</title>
    <script type="text/javascript" src="{%static 'js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/login_page.css'%}">
</head>

<body>
    <section class="container-fluid bg">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <img src="{%static 'images/logo.png'%}" id="logo" class="rounded mx-auto d-block" alt="Ratna Gears">
                <form action="/forgotPassword/" method="post" class="form-container">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted"> Never share your email and password with
                            anyone else.</small>
                    </div>
                    <button type="submit" value="resetpassword" id="respass" class="btn btn-primary btn-block"> Reset
                        Password</button>
                </form>
            </section>
        </section>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

</html>