<!-- vue_app/templates/vue_app/test.html -->
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Testing Vue</title>
  </head>

  <div id="vue-app">
    <v-app>
      <div class="quotation">
          <div style="text-align: center;">
              <h2>Quotation Form</h2>
              <h4>Quotation Number : 123ABC</h4>
          </div>
          <br><br>
          <v-stepper alt-labels v-model ="stepper">
              <v-stepper-header>
                <v-stepper-step step="1">Client Details</v-stepper-step>
                
        
                <v-divider></v-divider>
        
                <v-stepper-step step="2">Product Details</v-stepper-step>
                
        
                <v-divider></v-divider>
        
                <v-stepper-step step="3">Our Information</v-stepper-step>
                
              </v-stepper-header>
  
              <!--
                 
              -->
  
              <v-stepper-items>
                  <v-stepper-content step="1">
                      <h3>Client Details</h3>
                      <br>
                      <v-text-field
                          label="Name of Company"
                          prepend-icon="mdi-domain"
                          v-model="quotationData.clientDetails.nameOfCompany"
                      ></v-text-field>
                      <div class="row">
                          <v-text-field
                              class="col"
                              label="First Name"
                              prepend-icon="mdi-account"
                              v-model="quotationData.clientDetails.name.firstName"
                          ></v-text-field>
                          <v-text-field
                              class="col"
                              label="Last Name"
                              prepend-icon="mdi-account"
                              v-model="quotationData.clientDetails.name.lastName"
                          ></v-text-field>
                      </div>
                      <v-text-field
                          label="Mobile Number"
                          prepend-icon="mdi-cellphone-android"
                          v-model="quotationData.clientDetails.mobileNumber"
                      ></v-text-field>
                      <v-text-field
                          label="Email ID"
                          prepend-icon="mdi-email"
                          v-model="quotationData.clientDetails.emailId"
                      ></v-text-field>
                      <v-text-field
                          label="Address"
                          prepend-icon="mdi-map-marker"
                          v-model="quotationData.clientDetails.address"
                      ></v-text-field>
                      <br>
                      <v-btn color="primary" @click="stepper = 2">Next</v-btn>
                  </v-stepper-content>
  
                  <!-- ____________________________________________ Product Details ______________________________________________ -->
                  <v-stepper-content step="2">
                      <h3>Product Details</h3>
                      <br>
                      <v-text-field
                          label="Name of Product/Service"
                          v-model="quotationData.productDetails.nameOfProduct"
                      ></v-text-field>
  
                      <br>
                      
                      Type of Product/Service
                      <v-radio-group v-model="quotationData.productDetails.typeOfProduct" :mandatory="false">
                          <v-radio label="Single Part" value="singlePart"></v-radio>
                          <v-radio label="Assembly" value="assembly"></v-radio>
                      </v-radio-group>
  
                      <div class="row" style=" display: flex; flex-wrap: nowrap; overflow-x: auto;">
                          <div  v-for="(part, counter) in parts" v-bind:key=counter class="col" style="min-width: 300px;">
                              <v-card style="padding: 20px;">
                                  <v-text-field
                                      label="Name of Part"
                                      v-model="part.nameOfPart"
                                  ></v-text-field>
  
                                  <div v-for="(process, processId) in part.processes" v-bind:id="processId">
                                      <!-- {{processId}} -->
                                      <div v-if="processId===(processSize[counter]-1)">
                                          <h4>Process [[processId+1]]</h4>
                                          <br>
                                          Type of Process
                                          <v-radio-group v-model="process.typeOfProcess" :mandatory="false">
                                              <v-radio label="Inhouse" value="inhouse"></v-radio>
                                              <v-radio label="Outsourced" value="outsourced"></v-radio>
                                          </v-radio-group>
                                          <div v-if="process.typeOfProcess==='inhouse'">
                                              <v-select
                                                  v-model='selectedProcess[counter]'
                                                  :items="namesOfProcess"
                                                  item-text="processName"
                                                  label="Select Process"
                                                  @input="setProcessName(processId,counter)"
                                                  return-object
                                              ></v-select>
                                              <div v-for="p in selectedProcess[counter].inputFields">
                                                  <v-text-field 
                                                      
                                                      :label="`${p}`"
                                                      v-model=process[p]
                                                  >
                                                  </v-text-field>
                                              </div>
                                          </div>
                                          <div v-if="process.typeOfProcess==='outsourced'">
                                              <v-text-field 
                                                      label="Name of Company"
                                                      v-model=process.nameOfCompany
                                              >
                                              </v-text-field>
                                              <v-text-field 
                                                      label="Name of Process"
                                                      v-model=process.nameOfProcess
                                              >
                                              </v-text-field>
                                              <v-text-field 
                                                      label="Extra Charges Incurred"
                                                      v-model=process.extraCharges
                                              >
                                              </v-text-field>
                                          </div>
                                          <v-btn small @click="computeSubTotal(counter,processId)">Compute Subtotal</v-btn>
                                          <br><br>
                                          Sub Total : [[parts[counter].processes[processId].subTotal]]
                                          
                                          
                                      </div>
                                  </div>
  
                                  
                                  <br>
                                  <v-btn color="primary" @click="addProcess(counter)">Add New Process</v-btn>
  
                                  <br><br>
  
                                  <!-- Added Process -->
                                  <h4>Added Processes :</h4>
                                  <br>
                                  
  
                                  <v-expansion-panels>
                                      <v-expansion-panel
                                      v-for="(process, processId) in part.processes"
                                        :key="processId"
                                        v-model="panel"
                                        multiple
                                      >
                                        <v-expansion-panel-header>[[process.nameOfProcess]] : ₹ [[parts[counter].processes[processId].subTotal]]</v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                          Type of Process : [[parts[counter].processes[processId].typeOfProcess]]
                                          <!-- <v-radio-group v-model="parts[counter].processes[processId].typeOfProcess" :mandatory="false">
                                              <v-radio label="Inhouse" value="inhouse"></v-radio>
                                              <v-radio label="Outsourced" value="outsourced"></v-radio>
                                          </v-radio-group>
                                          <v-select
                                                  v-model='parts[counter].processes[processId].nameOfProcess'
                                                  :items="namesOfProcess"
                                                  item-text="processName"
                                                  label="Select Process"
                                          ></v-select> -->
  
                                          <div v-for="(value, name, index) in parts[counter].processes[processId]">
                                              
                                              <div v-if="index>2">
                                                  
                                                  <v-text-field 
                                                  :label="name"
                                                  v-model="parts[counter].processes[processId][name]"
                                              >
                                              </v-text-field>
                                              </div>
                                              
                                          </div>
                                          <!-- <div v-for="p in selectedProcess.inputFields">
                                              <v-text-field 
                                                  @click="setProcessName(processId,counter)"
                                                  :label="`${p}`"
                                                  v-model=process[p]
                                              >
                                              </v-text-field>
                                          </div> -->
                                          <v-btn small @click="computeSubTotal(counter,processId)">Compute Subtotal</v-btn>
                                          <v-btn small @click="deleteProcess(counter,processId)">Delete Process</v-btn>
                                          </v-expansion-panel-content>
                                      </v-expansion-panel>
                                    </v-expansion-panels>
                                  
                                  <v-text-field
                                      label="Profit of Part"
                                      v-model="part.profitPercentage"
                                  ></v-text-field>
                                  <v-text-field
                                      label="Quantity of Part"
                                      v-model="part.quantity"
                                  ></v-text-field>
                                  <div class="row">
                                      <v-text-field
                                          class="col"
                                          label="HSN"
                                          v-model="part.HSN"
                                      ></v-text-field>
                                      <v-text-field
                                          class="col"
                                          label="GST"
                                          v-model="part.GST"
                                      ></v-text-field>
                                  </div>
                                  <v-btn small @click="computeSubTotalPart(counter)">Compute Subtotal Of Part</v-btn>
                                  <br><br>
                                  Sub Total of Part : [[parts[counter].subTotalPart]]
                              </v-card>
                              <v-spacer></v-spacer>
  
                              
                          </div>
  
                          
  
                      </div>
  
                      <br>
  
                      
  
                      <v-btn :disabled="quotationData.productDetails.typeOfProduct!='assembly'" color="primary" @click="addPart()">Add New Part</v-btn>
  
                      <!-- {{parts}} -->
  
                      <v-text-field
                          :disabled="quotationData.productDetails.typeOfProduct!='assembly'"
                          label="Enter Assembly Charges"
                          v-model="quotationData.productDetails.assemblyCharges"
                      ></v-text-field>
                      <br>
                      <v-btn small @click="productTotal()">Compute Total Of Product</v-btn>
                      <br><br>
                      Product Total Amount : [[quotationData.productDetails.productTotal]]
  
                      <br><br>
  
                      <v-btn color="gray" @click="stepper = 1">Previous</v-btn>
                      <v-btn color="primary" @click="stepper = 3">Next</v-btn>
                  </v-stepper-content>
  
                  <!-- ____________________________________________ Our Details ______________________________________________ -->
                  <v-stepper-content step="3">
                      <h3>Our Information</h3>
                      <br>
                      Date : [[quotationData.ourInformation.date]]
                      <v-text-field
                          label="Reference Number"
                          v-model="quotationData.ourInformation.referenceNumber"
                      ></v-text-field>
                      Terms and Conditions : 
                      <v-text-field
                          label="Delivery Within"
                          v-model="quotationData.ourInformation.termsAndConditions[0].deliveryWithin"
                      ></v-text-field>
                      <v-text-field
                          label="Payment Terms"
                          v-model="quotationData.ourInformation.termsAndConditions[1].deliveryWithin"
                      ></v-text-field>
                      <v-text-field
                          label="Freight"
                          v-model="quotationData.ourInformation.referenceNumber"
                      ></v-text-field>
                      <br><br>
                      <v-btn color="gray" @click="stepper = 2">Previous</v-btn>
                      <v-btn color="success" @click="sendData()">Save</v-btn>
                  </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
      </div>
  </v-app>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script type="text/javascript" src="../static_files/json/namesOfProcesses.json"></script> -->

  <script type="text/javascript">
    let app = new Vue({
      el: "#vue-app",
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data () {
    return {
      stepper: 1,
      selectedProcess: [{ processName: '', inputFields: [] }],
      parts: [
        {
          nameOfPart: '',
          profitPercentage: '',
          processes: [
            {
              typeOfProcess: '',
              nameOfProcess: '',
              subTotal: null
            }
          ],
          quantity: 1,
          HSN: null,
          GST: null,
          subTotalPart: null
        }
      ],
      namesOfProcess: [
  {
    processName: 'Teeth Cutting',
    inputFields: [
      'Number of Teeth',
      'Module',
      'Face Width',
      'Factor'
    ]
  },
  {
    processName: 'Teeth Grinding',
    inputFields: [
      'Number of Teeth',
      'Module',
      'Face Width',
      'Factor'
    ]
  },
  {
    processName: 'Turning',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'Milling',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'Grinding',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'Wire Cutting',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'Chrome Plating',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'CMM',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'CNC Turning',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'VMC Machining',
    inputFields: [
      'M/C Hour Rate',
      'Process Time'
    ]
  },
  {
    processName: 'Raw Material',
    inputFields: [
      'Process Rate',
      'Weigth'
    ]
  },
  {
    processName: 'Phosphating',
    inputFields: [
      'Process Rate',
      'Weigth'
    ]
  },
  {
    processName: 'Blackodising',
    inputFields: [
      'Process Rate',
      'Weigth'
    ]
  },
  {
    processName: 'Hardening',
    inputFields: [
      'Process Rate',
      'Weigth'
    ]
  },
  {
    processName: 'Drilling',
    inputFields: [
      'Rate Per Hole',
      'Number of Holes'
    ]
  },
  {
    processName: 'Tapping',
    inputFields: [
      'Rate Per Tap',
      'Number of Taps'
    ]
  },
  {
    processName: 'Keyway',
    inputFields: [
      'Rate Per Keyway',
      'Number of Keyways'
    ]
  }
],
      // namesOfProcess: processes,
      processSize: [1],
      quotationData: {
        clientDetails: {
          nameOfCompany: '',
          name: { firstName: '', lastName: '' },
          mobileNumber: null,
          emailId: '',
          address: ''
        },
        productDetails: {
          nameOfProduct: '',
          typeOfProduct: '',
          parts: [],
          assemblyCharges: null,
          productTotal: null
        },
        ourInformation: {
          date: '',
          referenceNumber: null,
          termsAndConditions: [
            { deliveryWithin: '' },
            { paymentTerms: '' },
            { freight: '' }
          ],
          attachmentWithConsignment: [
            { rawMaterialCertificate: true },
            { ultraSonicTestCertificate: true },
            { hardnessTestCertificate: false },
            { internalInspectReport: true }
          ],
          importantNote: '',
          bankAccount: '',
          contactPersonName: ''
        }
      },
      panel: [0, 1]
    }
  },
  methods: {
    addPart () {
      this.processSize.push(1)
      this.selectedProcess.push({ processName: '', inputFields: [] })
      this.parts.push({
        nameOfPart: '',
        processes: [
          {
            nameOfProcess: '',
            typeOfProcess: '',
            subTotal: null
          }
        ],
        profitPercentage: '',
        quantity: 1,
        HSN: null,
        GST: null,
        subTotalPart: null
      })
      // this.processSize = this.parts[this.noOfPartsAdded].processes.length
    //   this.nameOfProcess = { processName: '', inputFields: [] }
    },
    addProcess (counter) {
      this.selectedProcess[counter] = { processName: '', inputFields: [] }
      this.parts[counter].processes.push({
        nameOfProcess: '',
        typeOfProcess: '',
        subTotal: null
      })
      this.processSize[counter] = this.parts[counter].processes.length
      // console.log(this.parts[counter].processes)
    },
    setProcessName (processId, counter) {
    //   if (this.parts[counter].processes[processId].namesOfProcess === '') {
      // this.parts[counter].processes.splice(processId, 1)
      this.parts[counter].processes[processId].nameOfProcess = this.selectedProcess[counter].processName
      // this.parts[counter].processes[processId] = {
      //   typeOfProcess: 'inhouse',
      //   nameOfProcess: this.selectedProcess[counter].processName,
      //   subTotal: null
      // }
      // console.log(this.parts[counter].processes[processId])
      //   }
      var noOfKeys = null
      for (var keys of Object.keys(this.parts[counter].processes[processId])) {
        noOfKeys++
        if (noOfKeys > 3) {
          delete this.parts[counter].processes[processId][keys]
        } else {
          this.parts[counter].processes[processId].nameOfProcess = this.selectedProcess[counter].processName
        }
      }
    },
    deleteProcess (counter, processId) {
      this.parts[counter].processes.splice(processId, 1)
    },
    computeSubTotal (counter, processId) {
      var sub = 1
      var inputNo = 0
      if (this.parts[counter].processes[processId].typeOfProcess === 'inhouse') {
        if (this.parts[counter].processes[processId].nameOfProcess === 'Turning' ||
         this.parts[counter].processes[processId].nameOfProcess === 'Milling' ||
          this.parts[counter].processes[processId].nameOfProcess === 'Grinding' ||
           this.parts[counter].processes[processId].nameOfProcess === 'Wire Cutting' ||
            this.parts[counter].processes[processId].nameOfProcess === 'Chrome Plating' ||
             this.parts[counter].processes[processId].nameOfProcess === 'CMM' ||
              this.parts[counter].processes[processId].nameOfProcess === 'CNC Turning' ||
               this.parts[counter].processes[processId].nameOfProcess === 'VMC Machining' ||
                this.parts[counter].processes[processId].nameOfProcess === 'Raw Material' ||
                 this.parts[counter].processes[processId].nameOfProcess === 'Phosphating' ||
                  this.parts[counter].processes[processId].nameOfProcess === 'Blackodising' ||
                   this.parts[counter].processes[processId].nameOfProcess === 'Hardening' ||
                    this.parts[counter].processes[processId].nameOfProcess === 'Drilling' ||
                     this.parts[counter].processes[processId].nameOfProcess === 'Tapping' ||
                      this.parts[counter].processes[processId].nameOfProcess === 'Keyway') {
          for (var inputs of Object.values(this.parts[counter].processes[processId])) {
            inputNo++
            if (inputNo > 3) {
              console.log(inputs)
              sub = sub * inputs
            }
          }
        } else {
          for (var inputsTeeth of Object.values(this.parts[counter].processes[processId])) {
            inputNo++
            if (inputNo > 3 && inputNo < 7) {
              // console.log(inputsTeeth)
              sub = sub * inputsTeeth
            }
            if (inputNo === 7) {
              sub = (sub / 25.4) * inputsTeeth
            }
          }
        }
      } else {
        sub = this.parts[counter].processes[processId].extraCharges
      }
      this.parts[counter].processes[processId].subTotal = sub
    },
    computeSubTotalPart (counter) {
      var subTotalPart = null
      for (var i of this.parts[counter].processes) {
        console.log(i)
        subTotalPart = subTotalPart + parseFloat(i.subTotal)
      }
      console.log(subTotalPart)
      subTotalPart = subTotalPart + (subTotalPart * this.parts[counter].profitPercentage) / 100
      subTotalPart = subTotalPart + (subTotalPart * this.parts[counter].GST) / 100
      this.parts[counter].subTotalPart = subTotalPart
    },
    productTotal () {
      var finalTotal = null
      this.quotationData.productDetails.parts = this.parts
      for (var i of this.quotationData.productDetails.parts) {
        // console.log(i)
        finalTotal = finalTotal + i.subTotalPart
      }
      finalTotal = finalTotal + parseFloat(this.quotationData.productDetails.assemblyCharges)
      this.quotationData.productDetails.productTotal = finalTotal
    },
    sendData () {
      this.quotationData.productDetails.parts = this.parts
      this.quotationData.ourInformation.date = new Date().toLocaleString()
      axios
        .post('http://127.0.0.1:8000/quotations/recieveJSON/', JSON.stringify(this.quotationData))
        .then(function (res) {
          console.log(res)
          alert('Quotation successfully saved ✔')
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
    }
  },
  mounted () {
    this.quotationData.ourInformation.date = new Date().toLocaleString()
  }
    });
  </script>

  <style>
    .quotation {
    margin: 2% 4% 4% 4%;
  }
  </style>

</html>