@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Titillium+Web&display=swap');

body {
	font-family: 'Nunito', sans-serif;
}
.quotation {
	margin: 2% 4% 4% 4%;
}

.v-input1 input {
    max-height: 24px !important;
}

.v-text-field1 {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.body {
    background-color: rgb(245, 247, 245);
}