<v-app>
    <v-card color="success" style="text-align: center; padding-bottom: 10px; z-index: 5; position: fixed; width: 100%;" flat dark>
        <span v-if="quotationData.quotationNumber!=null" style="font-size: 20px;">Quotation Number : {{quotationData.quotationNumber}}</span>
      </v-card>

    <div class="body">
        <!-- <v-switch
            style="margin-left: 55px; margin-top: 20px;"
            v-model="validTest"
            label="Validate"
        ></v-switch> -->
        <div class="quotation body">
            <br>
            <v-stepper alt-labels v-model="stepper">
                <v-stepper-header>
                    <v-stepper-step color="success" step="1">
                        <template #icon="step">
                            <v-icon>home</v-icon>
                        </template>
                        Client Details
                    </v-stepper-step>


                    <v-divider></v-divider>

                    <v-stepper-step color="success" step="2">Product Details</v-stepper-step>


                    <v-divider></v-divider>

                    <v-stepper-step color="success" step="3">Our Information</v-stepper-step>

                </v-stepper-header>

                <!--
                
                -->

                <v-stepper-items>

                    <v-stepper-content step="1">
                        <h3>Client Details</h3>
                        <br>
                        <v-form ref="clientDetails" v-model="valid" lazy-validation>
                            <v-row>
                                <v-col cols="13">
                                    <v-text-field placeholder="Name of Company" prepend-icon="mdi-domain"
                                        v-model="quotationData.clientDetails.nameOfCompany" :rules="nameRules" required>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="1">
                                    <v-btn icon @click="receiveCompanyData"><v-icon>search</v-icon></v-btn>
                                </v-col>
                            </v-row>
                            <div class="row" style="flex-wrap: inherit;">
                                <v-text-field class="col" placeholder="First Name" prepend-icon="mdi-account"
                                    v-model="quotationData.clientDetails.name.firstName" :rules="nameRules" :disabled="companyDataRecieved === false" required>
                                </v-text-field>
                                <v-text-field class="col" placeholder="Last Name" :disabled="companyDataRecieved === false" prepend-icon="mdi-account"
                                    v-model="quotationData.clientDetails.name.lastName" :rules="nameRules" required>
                                </v-text-field>
                            </div>
                            <v-row>
                                <v-col>
                                    <v-text-field placeholder="Mobile Number" :disabled="companyDataRecieved === false" prepend-icon="mdi-cellphone-android"
                                        v-model="quotationData.clientDetails.mobileNumber" :rules="numberRules" required>
                                    </v-text-field>
                                </v-col>
                                <v-col>
                                    <v-text-field placeholder="Email ID" :disabled="companyDataRecieved === false" prepend-icon="mdi-email"
                                        v-model="quotationData.clientDetails.emailId" :rules="emailRules" required>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            
                            
                            <v-text-field placeholder="Address" :disabled="companyDataRecieved === false" prepend-icon="mdi-map-marker"
                                v-model="quotationData.clientDetails.address" :rules="nameRules" required></v-text-field>
                            <br>
                            <!-- <v-btn color="success" @click="validateClientDetails()" rounded>Next</v-btn> -->
                            <div class="row" style="padding: 15px;">
                                <!-- <v-btn color="#d7d9d7" @click="stepper = 2"  rounded>Previous</v-btn> -->
                                <v-spacer></v-spacer>
                                <v-btn color="success" @click="validateClientDetails()" rounded>Next</v-btn>
                            </div>
                        </v-form>
                    </v-stepper-content>

                    <!-- ____________________________________________ Product Details ______________________________________________ -->
                    <v-stepper-content step="2">
                        <h3>Product Details</h3>
                        <br>
                        <v-form ref="productDetails" v-model="valid" lazy-validation>
                            <v-text-field placeholder="Name of Product/Service"
                                v-model="quotationData.productDetails.nameOfProduct" :rules="nameRules" required>
                            </v-text-field>

                            <v-select
                                label="Select Currency"
                                :items="currenciesArray"
                                v-model="quotationData.currency"
                                :rules="[v => !!v || 'Select something to continue']" 
                                required
                                @input="setCurrency()"
                            ></v-select>

                            <!-- {{selectedCurrency}} -->

                            Type of Product/Service
                            <v-radio-group v-model="quotationData.productDetails.typeOfProduct" :mandatory="false" :rules="[v => !!v || 'Select something to continue']">
                                <v-radio label="Single Part" value="singlePart"></v-radio>
                                <v-radio label="Assembly" value="assembly"></v-radio>
                            </v-radio-group>

                            <div class="row" style=" display: flex; flex-wrap: nowrap; overflow-x: auto;">
                                <div v-for="(part, counter) in parts" v-bind:key=counter class="col"
                                    style="min-width: 300px;">
                                    <v-card style="padding: 20px;" color="#f5f7f5" elevation=4>
                                        <v-text-field class="v-input1 input v-text-field1" placeholder="Name of Part"
                                            v-model="part.nameOfPart" :rules="nameRules" required></v-text-field>

                                        <div v-for="(process, processId) in part.processes" v-bind:id="processId">
                                            <!-- {{processId}} -->
                                            <div v-if="processId===(processSize[counter]-1)">
                                                <h4>Process {{processId+1}}</h4>
                                                <div style="margin-top: 5px;">Type of Process</div>
                                                <v-radio-group v-model="process.typeOfProcess" :mandatory="false"
                                                :rules="[v => !!v || 'Select something to continue']"
                                                    style="margin-top: 6px; margin-bottom: -4px;">
                                                    <v-radio label="Inhouse" value="inhouse"></v-radio>
                                                    <v-radio label="Outsourced" value="outsourced"></v-radio>
                                                </v-radio-group>
                                                <div v-if="process.typeOfProcess==='inhouse'">
                                                    <v-select class="v-input1 input v-text-field1"
                                                        v-model='selectedProcess[counter]' :items="namesOfProcess"
                                                        item-text="processName" placeholder="Select Process"
                                                        @input="setProcessName(processId,counter)" return-object></v-select>
                                                    <div v-for="p in selectedProcess[counter].inputFields">
                                                        <v-text-field class="v-input1 input v-text-field1"
                                                            :placeholder="`${p}`" v-model=process[p] :rules="decimalInputRules"
                                                            required>
                                                        </v-text-field>
                                                    </div>
                                                </div>
                                                <div v-if="process.typeOfProcess==='outsourced'">
                                                    <v-text-field class="v-input1 input v-text-field1"
                                                        placeholder="Name of Company" v-model=process.nameOfCompany
                                                        :rules="nameRules" required>
                                                    </v-text-field>
                                                    <v-text-field class="v-input1 input v-text-field1"
                                                        placeholder="Name of Process" v-model=process.nameOfProcess
                                                        :rules="nameRules" required>
                                                    </v-text-field>
                                                    <v-text-field class="v-input1 input v-text-field1"
                                                        placeholder="Extra Charges Incurred" v-model=process.extraCharges
                                                        :rules="decimalInputRules" required>
                                                    </v-text-field>
                                                </div>
                                                <!-- <v-btn small @click="computeSubTotal(counter,processId)">Compute Subtotal</v-btn>
                                                <br><br> -->
                                                <div style="margin-bottom: -12px;">Sub Total : {{quotationData.currency}}
                                                    {{processesAmount[counter][processId]}}</div>
                                                <!-- <v-btn x-large @click="computeSubTotal(counter,processId)" icon>
                                                    <v-icon color="primary">calculate</v-icon>
                                                </v-btn> -->


                                            </div>
                                        </div>


                                        <br>
                                        <v-btn color="primary" @click="addProcess(counter)" rounded small>Add New Process
                                        </v-btn>

                                        <br>

                                        <!-- Added Process -->
                                        <div style="margin-bottom: 15px; margin-top: 15px;">
                                            <h4>Added Processes :</h4>
                                        </div>

                                        <v-row>
                                            <v-col cols="16">
                                                <v-expansion-panels>
                                                    <v-expansion-panel v-for="(process, processId) in part.processes"
                                                        :key="processId" v-model="panel" multiple>
                                                        <v-expansion-panel-header>
                                                            {{process.nameOfProcess}} : {{quotationData.currency}} {{processesAmount[counter][processId]}}

                                                        </v-expansion-panel-header>
                                                        <v-expansion-panel-content>
                                                            Type of Process : {{parts[counter].processes[processId].typeOfProcess}}
                                                            <br><br>

                                                            <div
                                                                v-for="(value, name, index) in parts[counter].processes[processId]">

                                                                <div v-if="index>2">

                                                                    <v-text-field class="v-input1 input v-text-field1"
                                                                        :placeholder="name"
                                                                        v-model="parts[counter].processes[processId][name]">
                                                                    </v-text-field>
                                                                </div>

                                                            </div>
                                                            
                                                            <!-- <v-btn small @click="deleteProcess(counter,processId)" icon>
                                                                <v-icon>delete</v-icon>
                                                            </v-btn> -->
                                                        </v-expansion-panel-content>
                                                    </v-expansion-panel>
                                                </v-expansion-panels>
                                            </v-col>
                                            <v-col cols="1">
                                                <div v-for="(process, processId) in part.processes" style="padding-top: 16px; padding-bottom: 2px;">
                                                    <v-btn small @click="deleteProcess(counter,processId)" icon>
                                                        <v-icon>delete</v-icon>
                                                    </v-btn>
                                                </div>
                                            </v-col>
                                        </v-row>

                                        <br>
                                        <!-- {{processesAmount}} -->
                                        <v-row>
                                            <v-col>
                                                <v-text-field class="v-input1 input v-text-field1" placeholder="Profit of Part"
                                                    v-model="part.profitPercentage" :rules="decimalInputRules" required>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field class="v-input1 input v-text-field1" placeholder="Quantity of Part"
                                                    v-model="part.quantity" :rules="numberRules" required hint="Quantity Of Part" persistent-hint>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                        
                                        
                                        <div class="row" style="flex-wrap: inherit;">
                                            <v-text-field class="v-input1 input v-text-field1 col" placeholder="HSN"
                                                v-model="part.HSN" :rules="numberRules" required>
                                            </v-text-field>
                                            <v-text-field class="v-input1 input v-text-field1 col" placeholder="GST"
                                                v-model="part.GST" :rules="numberRules" required>
                                            </v-text-field>
                                        </div>

                                        <div style="margin-top:-15px;">Sub Total of Part : {{quotationData.currency}} {{partAmount[counter]}}</div>

                                        <v-btn small @click="deletePart(counter)" icon>
                                            <v-icon>delete</v-icon>
                                        </v-btn>

                                    </v-card>
                                    <v-spacer></v-spacer>


                                </div>



                            </div>

                            <v-btn v-if="quotationData.productDetails.typeOfProduct==='assembly'" color="primary"
                                @click="addPart()" rounded style="margin-top: 20px;">Add New Part</v-btn>

                            <v-text-field v-if="quotationData.productDetails.typeOfProduct==='assembly'"
                                placeholder="Enter Assembly Charges" hint="Assembly Charges" v-model="quotationData.productDetails.assemblyCharges"
                                :rules="decimalInputRules" required persistent-hint></v-text-field>
                            <!-- <br>
                            <v-btn small @click="productTotal()">Compute Total Of Product</v-btn>
                            <br><br>
                            Product Total Amount : {{selectedCurrency[0]}} {{quotationData.productDetails.productTotal}} -->
                            Product Total Amount : {{quotationData.currency}} {{totalAmount}}

                            <br><br>

                            <div class="row" style="padding: 15px;">
                                <v-btn color="#d7d9d7" @click="stepper = 1" rounded>Previous</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="success" @click="validateProductDetails()" rounded>Next</v-btn>
                            </div>
                        </v-form>
                    </v-stepper-content>

                    <!-- ____________________________________________ Our Details ______________________________________________ -->
                    <v-stepper-content step="3">
                        <h3>Our Information</h3>
                        <br>
                        Date : {{quotationData.ourInformation.date}}
                        <v-form ref="ourInformation" v-model="valid" lazy-validation>
                            <v-text-field placeholder="Reference Number"
                                v-model="quotationData.ourInformation.referenceNumber" :rules="nameRules" required>
                            </v-text-field>
                            <br>
                            Terms and Conditions :
                            <div>
                                <v-text-field placeholder="Delivery Within"
                                    v-model="quotationData.ourInformation.termsAndConditions[0].deliveryWithin"
                                    :rules="nameRules" required></v-text-field>
                                <v-text-field placeholder="Payment Terms"
                                    v-model="quotationData.ourInformation.termsAndConditions[1].paymentTerms"
                                    :rules="nameRules" required></v-text-field>
                                <v-text-field placeholder="Freight"
                                    v-model="quotationData.ourInformation.termsAndConditions[2].freight" :rules="nameRules"
                                    required></v-text-field>
                                <!-- <div v-for="(value, name, index) in terms">
                                    <v-text-field
                                        :placeholder="name"
                                        v-model="terms[name]"
                                    ></v-text-field>
                                </div> -->
                                <div v-for="terms,index in quotationData.ourInformation.termsAndConditions">
                                    <div v-if="index>2">
                                        <v-text-field placeholder="New Terms and Conditions"
                                            v-model="quotationData.ourInformation.termsAndConditions[index]"
                                            :rules="nameRules" required></v-text-field>
                                    </div>
                                </div>
                            </div>
                            <v-btn color="primary" @click="addTerms()" rounded>Add More Terms and Conditions</v-btn>
                            <br><br>

                            Attachment With Consignment :
                            <br>
                            <v-checkbox label="Raw Material Test Certificate" color="primary"
                                v-model="quotationData.ourInformation.attachmentWithConsignment[0].rawMaterialCertificate"
                                hide-details></v-checkbox>
                            <v-checkbox label="Ultrasonic Test Certificate" color="primary"
                                v-model="quotationData.ourInformation.attachmentWithConsignment[1].ultraSonicTestCertificate"
                                hide-details></v-checkbox>
                            <v-checkbox label="Hardness Test Certificate" color="primary"
                                v-model="quotationData.ourInformation.attachmentWithConsignment[2].hardnessTestCertificate"
                                hide-details></v-checkbox>
                            <v-checkbox label="Internal Inspect Report" color="primary"
                                v-model="quotationData.ourInformation.attachmentWithConsignment[3].internalInspectReport"
                                hide-details></v-checkbox>
                            <div v-for="terms,index in quotationData.ourInformation.attachmentWithConsignment">
                                <div v-if="index>3">
                                    <v-text-field placeholder="New Field"
                                        v-model="quotationData.ourInformation.attachmentWithConsignment[index]">
                                    </v-text-field>
                                </div>
                            </div>
                            <br>
                            <v-btn color="primary" @click="addAttachmentsWithConsignment ()" rounded>Add</v-btn>
                            <br>
                            <v-textarea name="input-7-1" placeholder="Important Note"
                                v-model="quotationData.ourInformation.importantNote"></v-textarea>
                            <v-select placeholder="Select Bank Account" :items="bankAccount" item-text="bankName"
                                v-model="quotationData.ourInformation.bankAccount"
                                :rules="[v => !!v || 'Select something to continue']"
                                return-object ></v-select>
                            <div style="color: #2C3E50; font-size: 16px;">Deatils Of Bank Account Selected : </div>
                            <br>
                            <div style="color: gray;">
                                Bank Name : {{quotationData.ourInformation.bankAccount.bankName}}
                                <br>
                                A/C Number : {{quotationData.ourInformation.bankAccount.accNo}}
                                <br>
                                A/C Name : {{quotationData.ourInformation.bankAccount.accName}}
                                <br>
                                IFSC Code : {{quotationData.ourInformation.bankAccount.ifsc}}
                            </div>
                            <br>
                            
                            
                            <v-row>
                                <v-col cols="13">
                                    <v-text-field placeholder="Enter Email Id of Contact Person"
                                        v-model="searchContactPerson"
                                        :rules=emailRules>
                                    </v-text-field>
                                </v-col>
                                <v-col cols="1">
                                    <v-btn icon @click="receiveContactPerson()"><v-icon>search</v-icon></v-btn>                                </v-col>
                            </v-row>
                            <div style="color: #2C3E50; font-size: 16px;">Deatils Of Contact Person : </div>
                            <br>
                            <div style="color: gray;">
                                Name : {{quotationData.ourInformation.contactPerson.name}}
                                <br>
                                Contact Number : {{quotationData.ourInformation.contactPerson.mobileNumber}}
                                <br>
                                Email Id : {{quotationData.ourInformation.contactPerson.emailId}}
                            </div>
                            <br><br>
                            <div>
                                <!-- <v-btn color="gray" @click="stepper = 2" rounded>Previous</v-btn>
                                <v-btn color="success" @click="previewQuotation()" rounded>Preview</v-btn> -->

                                <div class="row" style="padding: 15px;">
                                    <v-btn color="#d7d9d7" @click="stepper = 2" rounded>Previous</v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn color="success" @click="previewQuotation()" rounded>Next</v-btn>
                                </div>
                            </div>
                        </v-form>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </div>
    </div>
</v-app>