<template src='./quotation.html'>
</template>
<script>
// import axios from 'axios'
import processes from '../../assets/processes'
import currencies from '../../assets/currencies.json'
import axios from 'axios'

export default {
  name: 'quotation',
  data () {
    return {
      searchContactPerson: '',
      contactPerson: {},
      authorized: false,
      validTest: false,
      drawer: false,
      valid: true,
      stepper: 1,
      selectedCurrency: '',
      currenciesArray: [],
      companyDataRecieved: false,
      selectedProcess: [{ processName: '', inputFields: [] }],
      parts: [
        {
          nameOfPart: '',
          profitPercentage: '',
          processes: [
            {
              typeOfProcess: '',
              nameOfProcess: 'New Process',
              subTotal: null
            }
          ],
          quantity: 1,
          HSN: null,
          GST: null,
          subTotalPart: null
        }
      ],
      namesOfProcess: processes,
      processSize: [1],
      quotationData: {
        quotationNumber: null,
        _id: null,
        permission: '',
        count: 0,
        finalized: 0,
        clientDetails: {
          nameOfCompany: '',
          name: { firstName: '', lastName: '' },
          mobileNumber: null,
          emailId: '',
          address: ''
        },
        productDetails: {
          nameOfProduct: '',
          typeOfProduct: '',
          parts: [],
          assemblyCharges: 0,
          productTotal: 0
        },
        ourInformation: {
          date: '',
          time: '',
          referenceNumber: null,
          termsAndConditions: [
            { deliveryWithin: '' },
            { paymentTerms: '' },
            { freight: '' }
          ],
          attachmentWithConsignment: [
            { rawMaterialCertificate: false },
            { ultraSonicTestCertificate: false },
            { hardnessTestCertificate: false },
            { internalInspectReport: false }
          ],
          importantNote: '',
          bankAccount: '',
          contactPerson: {
            name: '',
            mobileNumber: '',
            emailId: ''
          }
        },
        currency: ''
      },
      panel: [0, 1],
      bankAccount: ['Bank Name: Yes Bank Ltd.    A/C Name: Ratna Gears Pvt. Ltd.',
        'Bank Name: XYZ Bank Ltd.    A/C Name: Ratna Gears Pvt. Ltd.'],
      contactNumber: ['A', 'B', 'C'],
      nameRules: [
        v => !!v || 'This field is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      numberRules: [
        v => !!v || 'This field is required',
        v => /^[0-9]*$/.test(v) || 'Number must be valid'
      ],
      decimalInputRules: [
        v => !!v || 'This field is required',
        v => /^\d+(\.\d{1,2})?$/.test(v) || 'Number must be valid'
      ],
      timeStamp: '',
      userDetails: {},
      companyData: {}
    }
  },
  props: [
    'quotationStatus',
    'oldQuotation'
  ],
  created () {
    if (this.quotationStatus === 'old') {
      this.quotationData = this.oldQuotation
      // alert(this.quotationData)
      this.parts = this.quotationData.productDetails.parts
      // console.log(this.quotationData)
      // console.log(typeof this.quotation.finalized)
    }
    if (this.quotationStatus === 'editNew') {
      this.quotationData = this.oldQuotation
      // alert(this.quotationData)
      this.parts = this.quotationData.productDetails.parts
      // console.log(this.quotationData)
      // console.log(typeof this.quotation.finalized)
    }
  },
  methods: {
    setCurrency () {
      this.quotationData.currency = this.quotationData.currency[0]
    },
    validateClientDetails () {
      // eslint-disable-next-line prefer-const
      let v = this.$refs.clientDetails.validate()
      if (this.validTest === true) {
        v = true
      }
      if (v === true) {
        this.stepper = 2
        this.validTest = false
      }
    },
    validateProductDetails () {
      // console.log(this.totalAmount)
      for (var index in this.parts) {
        this.parts[index].subTotalPart = this.partAmount[index]
        for (var processId in this.parts[index].processes) {
          this.parts[index].processes[processId].subTotal = this.processesAmount[index][processId]
        }
      }
      this.quotationData.productDetails.productTotal = this.totalAmount
      this.quotationData.productDetails.parts = this.parts
      // eslint-disable-next-line prefer-const
      let v = this.$refs.productDetails.validate()
      if (this.validTest === true) {
        v = true
      }
      if (v === true) {
        this.stepper = 3
        this.validTest = false
      }
    },
    validateOurInformation () {
      // eslint-disable-next-line prefer-const
      this.$refs.ourInformation.validate()
    },
    addPart () {
      this.processSize.push(1)
      this.selectedProcess.push({ processName: '', inputFields: [] })
      this.parts.push({
        nameOfPart: '',
        processes: [
          {
            nameOfProcess: '',
            typeOfProcess: '',
            subTotal: null
          }
        ],
        profitPercentage: '',
        quantity: 1,
        HSN: null,
        GST: null,
        subTotalPart: null
      })
      // this.processSize = this.parts[this.noOfPartsAdded].processes.length
    //   this.nameOfProcess = { processName: '', inputFields: [] }
    },
    addProcess (counter) {
      this.selectedProcess[counter] = { processName: 'New Process', inputFields: [] }
      this.parts[counter].processes.push({
        nameOfProcess: '',
        typeOfProcess: '',
        subTotal: null
      })
      this.processSize[counter] = this.parts[counter].processes.length
      // console.log(this.parts[counter].processes)
    },
    setProcessName (processId, counter) {
    //   if (this.parts[counter].processes[processId].namesOfProcess === '') {
      // this.parts[counter].processes.splice(processId, 1)
      this.parts[counter].processes[processId].nameOfProcess = this.selectedProcess[counter].processName
      // this.parts[counter].processes[processId] = {
      //   typeOfProcess: 'inhouse',
      //   nameOfProcess: this.selectedProcess[counter].processName,
      //   subTotal: null
      // }
      // console.log(this.parts[counter].processes[processId])
      //   }
      var noOfKeys = null
      for (var keys of Object.keys(this.parts[counter].processes[processId])) {
        noOfKeys++
        if (noOfKeys > 3) {
          delete this.parts[counter].processes[processId][keys]
        } else {
          this.parts[counter].processes[processId].nameOfProcess = this.selectedProcess[counter].processName
        }
      }
    },
    deleteProcess (counter, processId) {
      this.parts[counter].processes.splice(processId, 1)
    },
    addTerms () {
      this.quotationData.ourInformation.termsAndConditions.push('')
    },
    addAttachmentsWithConsignment () {
      this.quotationData.ourInformation.attachmentWithConsignment.push('')
    },
    receiveCompanyData () {
      var clientInfo = { name: {} }
      var payload = this
      var dataToSearch = { nameOfCompany: this.quotationData.clientDetails.nameOfCompany, permission: this.userDetails.modOrDelClient }
      // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', { params: dataToSearch })
        .then(function (res) {
          // console.log(res.data)
          payload.companyData = JSON.parse(res.data)
          // console.log(typeof payload.companyData)
          // console.log(payload.companyData)
          clientInfo.nameOfCompany = payload.companyData[0].nameOfCompany
          clientInfo.name.firstName = payload.companyData[0].firstname
          clientInfo.name.lastName = payload.companyData[0].lastname
          clientInfo.mobileNumber = payload.companyData[0].phNo
          clientInfo.address = payload.companyData[0].address
          clientInfo.emailId = payload.companyData[0].email
          payload.quotationData.clientDetails = clientInfo
          payload.companyDataRecieved = true
        })
        .catch(function (err) {
          console.log(err)
          alert('Error retrieving Company Details. Please make sure you have entered the company name correctly.')
        })
    },
    previewQuotation () {
      var v = this.$refs.ourInformation.validate()
      if (this.validTest === true) {
        v = true
      }
      if (v === true) {
        this.quotationData.productDetails.parts = this.parts
        // this.quotationData.ourInformation.date = new Date().toLocaleString('en-GB')
        this.timeStamp = new Date().toLocaleString('en-GB')
        this.timeStamp = this.timeStamp.split(',')
        this.quotationData.ourInformation.date = this.timeStamp[0]
        this.quotationData.ourInformation.time = this.timeStamp[1]
        // console.log('Permission Flag : ' + this.userDetails.fillQuotation)
        this.quotationData.permission = this.userDetails.fillQuotation
        // this.quotationData.currency = this.selectedCurrency[0]
        this.$router.push({ name: 'quotationPreview', params: { newQuotation: this.quotationData, quotationStatus: 'new' } })
        this.validTest = false
      }
    },
    receiveContactPerson () {
      var payload = this
      var dataToSearch = { email: this.searchContactPerson }
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveUsers/', { params: dataToSearch })
        .then(function (res) {
          payload.contactPerson = JSON.parse(res.data)
          // console.log(res.data)
          payload.quotationData.ourInformation.contactPerson.name = payload.contactPerson[0].firstname + ' ' + payload.contactPerson[0].lastname
          payload.quotationData.ourInformation.contactPerson.mobileNumber = payload.contactPerson[0].phNo
          payload.quotationData.ourInformation.contactPerson.emailId = payload.contactPerson[0].email
        })
        .catch(function (err) {
          console.log(err)
          // alert('An Error Occured!! Please try again..')
          alert('Error retrieving Contact Person Details. Please make sure you have entered the email id correctly.')
        })
    },
    deletePart (counter) {
      this.parts.splice(counter, 1)
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    this.timeStamp = new Date().toLocaleString('en-GB')
    this.timeStamp = this.timeStamp.split(',')
    this.quotationData.ourInformation.date = this.timeStamp[0]
    this.quotationData.ourInformation.time = this.timeStamp[1]
    this.$emit('toolbarTitle', 'Quotation Form')
    this.$emit('extension', false)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', null)
    this.$emit('prominent', false)
    this.$emit('app', true)
    this.$emit('image', false)
    var payload = this
    axios
      .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveBankDetails/')
      .then(function (res) {
        payload.bankAccount = JSON.parse(res.data)
        // console.log(payload.bankAccount)
        // console.log(payload.bankAccount[0])
      })
      .catch(function (err) {
        console.log(err)
        alert('An Error Occured!! Please try again..')
      })
    for (var i in currencies) {
      this.currenciesArray.push([i, currencies[i]])
    }
  },
  computed: {
    // processTotal () {
    //   return this.num1 + this.num2
    // },
    // partTotal () {

    // },
    // eslint-disable-next-line vue/no-dupe-keys
    totalAmount: function () {
      return (this.partAmount.map(item => item).reduce((total, amount) => total + amount)) + parseFloat(this.quotationData.productDetails.assemblyCharges)
    },
    partAmount: function () {
      var amount = []
      // eslint-disable-next-line no-unused-vars
      for (var part in this.processesAmount) {
        // console.log(part)
        var temp = this.processesAmount[part].map(item => item).reduce((total, cost) => total + parseFloat(cost))
        temp = temp + (temp * this.parts[part].profitPercentage) / 100
        temp = temp + (temp * this.parts[part].GST) / 100
        temp = temp * this.parts[part].quantity
        temp = +temp.toFixed(2)
        amount.push(temp)
      }
      return amount
    },
    processesAmount: function () {
      var processesAmt = []
      for (var counter in this.parts) {
        var process = []
        for (var processId in this.parts[counter].processes) {
          var sub = 1
          var inputNo = 0
          if (this.parts[counter].processes[processId].typeOfProcess === 'inhouse') {
            if (this.parts[counter].processes[processId].nameOfProcess === 'Turning' ||
            this.parts[counter].processes[processId].nameOfProcess === 'Milling' ||
              this.parts[counter].processes[processId].nameOfProcess === 'Grinding' ||
              this.parts[counter].processes[processId].nameOfProcess === 'Wire Cutting' ||
                this.parts[counter].processes[processId].nameOfProcess === 'Chrome Plating' ||
                this.parts[counter].processes[processId].nameOfProcess === 'CMM' ||
                  this.parts[counter].processes[processId].nameOfProcess === 'CNC Turning' ||
                  this.parts[counter].processes[processId].nameOfProcess === 'VMC Machining' ||
                    this.parts[counter].processes[processId].nameOfProcess === 'Raw Material' ||
                    this.parts[counter].processes[processId].nameOfProcess === 'Phosphating' ||
                      this.parts[counter].processes[processId].nameOfProcess === 'Blackodising' ||
                      this.parts[counter].processes[processId].nameOfProcess === 'Hardening' ||
                        this.parts[counter].processes[processId].nameOfProcess === 'Drilling' ||
                        this.parts[counter].processes[processId].nameOfProcess === 'Tapping' ||
                          this.parts[counter].processes[processId].nameOfProcess === 'Keyway') {
              for (var inputs of Object.values(this.parts[counter].processes[processId])) {
                inputNo++
                if (inputNo > 3) {
                  // console.log(inputs)
                  sub = sub * inputs
                }
              }
            } else {
              for (var inputsTeeth of Object.values(this.parts[counter].processes[processId])) {
                inputNo++
                if (inputNo > 3 && inputNo < 7) {
                  // console.log(inputsTeeth)
                  sub = sub * inputsTeeth
                }
                if (inputNo === 7) {
                  sub = (sub / 25.4) * inputsTeeth
                }
              }
            }
          } else {
            sub = parseFloat(this.parts[counter].processes[processId].extraCharges)
          }
          // this.processesAmt.push()
          sub = parseFloat(sub.toFixed(2))
          process.push(sub)
        }
        processesAmt.push(process)
      }
      return processesAmt
    },
    user () {
      return this.$store.getters.user
    },
    error () {
      return this.$store.getters.error
    }
  }
}
</script>
<style src='./quotation.css'>

</style>
