<v-app>
  <template>
    <v-card>
      <v-tabs
        v-model="tab"
        fixed-tabs
        slider-color="success"
          slider-size="2"
          background-color="#edeff2"
      >
        <v-tab style="color: green;" :disabled="userDetails.addClient===false">Add Client Details
        </v-tab>
        <v-tab style="color: green;" :disabled="userDetails.modOrDelClient===false">Edit / Delete Client Details
        </v-tab>
      </v-tabs>

      <v-row row v-if="error" >
        <v-col xs12 sm6 offset-sm3 >
          <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
        </v-col>
      </v-row>
  
      <v-tabs-items v-model="tab">
        <v-tab-item
        >
        <v-card style="padding: 20px 100px 30px 100px;">
          <v-card-text>
            <span style="text-align: center;"><h2>Add Client/Vendor Company</h2></span>
            <v-container>
              <v-form ref="companyForm">
                <!-- <v-row> -->
                  <!-- <v-col xs12> -->
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="nameOfCompany"
                      label="Company Name"
                      id="nameOfCompany"
                      v-model="companyDetails.nameOfCompany"
                      type="nameOfCompany"
                      :rules="companyNameRules"
                      required></v-text-field>
                  <!-- </v-col> -->
                  <!-- <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="companyCode"
                      label="Company Code"
                      id="companyCode"
                      v-model="companyDetails.companyCode"
                      type="companyCode"
                      :rules="codeRule"
                      required></v-text-field>
                  </v-col> -->
                <!-- </v-row> -->
                <h3> Contact Person details</h3>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="firstname"
                      label="First Name"
                      id="firstname"
                      v-model="companyDetails.firstname"
                      type="firstname"
                      :rules="nameRules"
                      required></v-text-field>
                  </v-col>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="lastname"
                      label="Last Name"
                      id="lastname"
                      v-model="companyDetails.lastname"
                      type="lastname"
                      :rules="nameRules"
                      required></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="email"
                      label="Email"
                      id="email"
                      v-model="companyDetails.email"
                      type="email"
                      :rules="emailRules"
                      required></v-text-field>
                  </v-col>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="phNo"
                      label="Phone Number"
                      id="phNo"
                      v-model="companyDetails.phNo"
                      type="phNo"
                      :rules="numberRules"
                      required></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                    name="gstTin"
                    label="GST Tin"
                    id="gstTin"
                    v-model="companyDetails.gstTin"
                    type="gstTin"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="address"
                      label="Address"
                      id="address"
                      v-model="companyDetails.address"
                      type="address"
                      :rules="addressRules"
                      required></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-btn @click="addCompanyDetails()" rounded small color="success">
                    Add Company
                  </v-btn>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
        </v-card>
        </v-tab-item>
        <v-tab-item>
        <v-card style="padding: 20px 100px 30px 100px;">
          <v-card-text>
            <span style="text-align: center;"><h2>Change/Delete Company Details</h2></span>
            <br>
            <v-form ref="changeCompanyForm">
              <v-row>
                <v-col cols="1"></v-col>
                <v-col cols="8">
                  <v-text-field 
                  class="v-input1 input v-text-field1"
                    v-model="searchCompany"
                    :type="inputType"
                    label="Enter the Company Code"
                    dense outlined clearable>
                  </v-text-field>
                </v-col>
  
                <v-col cols="2">
                  <v-btn rounded color="success" dark @click="receiveCompanyData()"><i class="fas fa-search">
                  </i> Search</v-btn>
                </v-col>
              </v-row>
            </v-form>
  
            <div v-if="Object.keys(companyData).length===0 && companySearchClicked"
              style="text-align: center; color: red;">
              No data found !!
            </div>
  
            <v-container>
              <v-form ref="changeCompanyForm" v-if="Object.keys(companyData).length!==0 && companySearchClicked">
                
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="companyname"
                      placeholder="Company Name"
                      id="companyname"
                      v-model="companyData[0].nameOfCompany"
                      :rules="companyNameRules"
                      required></v-text-field>
                  </v-col>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="companyCode"
                      placeholder="Company Code"
                      id="companyCode"
                      v-model="companyData[0].companyCode"
                      :rules="codeRule"
                      disabled
                      required></v-text-field>
                  </v-col>
                </v-row>
                <h3>Contact Person details</h3>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="firstname"
                      placeholder="First Name"
                      id="firstname"
                      v-model="companyData[0].firstname"
                      :rules="nameRules"
                      type="firstname"
                      required></v-text-field>
                  </v-col>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="lastname"
                      placeholder="Last Name"
                      id="lastname"
                      v-model="companyData[0].lastname"
                      :rules="nameRules"
                      type="lastname"
                      required></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="email"
                      placeholder="Email"
                      id="email"
                      v-model="companyData[0].email"
                      :rules="emailRules"
                      type="email"
                      required></v-text-field>
                  </v-col>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="phNo"
                      placeholder="Phone Number"
                      id="phNo"
                      v-model="companyData[0].phNo"
                      :rules="numberRules"
                      type="phNo"
                      required></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="gstTin"
                      label="GST Tin"
                      id="gstTin"
                      v-model="companyData[0].gstTin"
                      type="gstTin"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs12>
                    <v-text-field
                    class="v-input1 input v-text-field1"
                      name="address"
                      label="Address"
                      id="address"
                      v-model="companyData[0].address"
                      type="address"
                      :rules="addressRules"
                      required></v-text-field>
                  </v-col>
                </v-row>
  
                <br>
                <v-row>
                <v-btn rounded small color="error" @click="deleteCompanyDetails()" >
                  Delete Company Details
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn rounded small color="success" @click="changeCompanyDetails()">
                  Submit Changes
                </v-btn>
              </v-row>
              </v-form>
            </v-container>
          </v-card-text>
        </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </template>
  

</v-app>