/* eslint-disable no-unused-vars */
<template src='./clientDetailsManagement.html'>
</template>
<script>

import axios from 'axios'
export default {
  name: 'clientDetailsManagement',
  data () {
    return {
      userDetails: {},
      tab: null,
      drawer: true,
      overlay: false,
      companyDetails: {
        nameOfCompany: '',
        companyCode: '',
        firstname: '',
        lastname: '',
        email: '',
        phNo: '',
        gstTin: '',
        address: ''
      },
      searchCompany: '',
      companyData: [],
      companySearchClicked: false,
      inputType: 'text',
      err: null,
      companyNameRules: [
        v => !!v || 'This field is required',
        v => /^[a-zA-Z. ]*$/.test(v) || 'Name must be valid'
      ],
      nameRules: [
        v => !!v || 'This field is required',
        v => /^[a-zA-Z ]*$/.test(v) || 'Name must be valid'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      numberRules: [
        v => !!v || 'This field is required',
        v => /^[0-9]*$/.test(v) || 'Number must be valid'
      ],
      addressRules: [
        v => !!v || 'This field is required',
        v => /^[a-zA-Z0-9.,()/ ]*$/.test(v) || 'Address must be valid'
      ],
      codeRule: [
        v => !!v || 'This field is required'
      ]
    }
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    addCompanyDetails () {
      const v = this.$refs.companyForm.validate()
      if (v === true) {
        this.companyDetails.permission = this.userDetails.addClient
        var payload = this.companyDetails
        var load = this
        axios
          .post('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', JSON.stringify(payload))
          .then(function (res) {
            load.err = res.data
            // console.log(res)
            load.companyDetails.companyCode = res.data
            alert('Company Details saved with company code ' + load.companyDetails.companyCode)
            if (load.err.code === '400' || load.err.code === '500' || load.err.code === '403' || load.err.code === '405') {
              load.$store.dispatch('errorHandler', load.err)
            } else {
              // alert('Company Details Added Successfully')
              // console.log(res)
              load.companyDetails = {
                nameOfCompany: '',
                companyCode: '',
                firstname: '',
                lastname: '',
                email: '',
                phNo: '',
                gstTin: '',
                address: ''
              }
            }
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
      }
    },
    receiveCompanyData () {
      var payload = this
      var dataToSearch = { companyCode: this.searchCompany, permission: this.userDetails.modOrDelClient }
      // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', { params: dataToSearch })
        .then(function (res) {
          // console.log(res.data)
          payload.companyData = JSON.parse(res.data)
          // console.log(payload.companyData)
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.companySearchClicked = true
    },
    changeCompanyDetails () {
      const v = this.$refs.changeCompanyForm.validate()
      if (v === true) {
        var payload = this.companyData[0]
        payload.permission = this.userDetails.modOrDelClient
        var load = this
        axios
          .post('http://127.0.0.1:8000/admin_panel/changeCompanyDetails/', JSON.stringify(payload))
          .then(function (res) {
            load.err = res.data
            // console.log(res.data)
            if (load.err.code === '400') {
              load.$store.dispatch('errorHandler', load.err)
            } else {
              alert('Company Details Changed Successfully')
              load.comapData = []
            }
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
        this.companySearchClicked = false
      }
    },
    deleteCompanyDetails () {
      var payload = { _id: this.companyData[0]._id, permission: this.userDetails.addClient }
      // console.log(payload)
      // console.log(this.companyData[0])
      var load = this
      axios
        .post('http://127.0.0.1:8000/admin_panel/deleteCompany/', JSON.stringify(payload))
        .then(() => {
          alert('Successfully deleted Company')
          load.comapData = []
        })
        .catch((error) => {
          console.log('Error deleting Company Details:', error)
        })
      this.companySearchClicked = false
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
  }
}
</script>
<style src='./clientDetailsManagement.css'>

</style>
