{%load static%}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/quotation.css'%}">

<!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
<link rel="stylesheet" 
          href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 


<script type="text/javascript" src="{%static 'js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/popper.js'%}"></script>
<script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/quotation.js'%}"></script>  
<script type="text/javascript" src="{%static 'js/data_handling.js'%}"></script>  

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<title>Ratna Gears Quotation</title>
  
</head>

<body>

    <div class="page-margin">
        <div style="text-align: center;">
            <h2><strong>Quotation</strong></h2>
            <h5>Quotation Number : 123ABC</h5>
        </div>
        <br>
        <!-- counter variables to count number of processes and number of parts (used in js script) -->
        <label style="display: none;" class="1" id="partsCounter"></label>
        <form id="msform">
            {%csrf_token%}
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" id="account"><strong>Client Details</strong></li>
                <li id="personal"><strong>Product Details</strong></li>
                <li id="payment"><strong>Our Data</strong></li>
            </ul> 


            <!-- Client Details -->
            <fieldset>
                <div class="form-card input-icons">
                    <h2 class="fs-title">Client Details</h2>
                    <br>
                    <div class="row"> 
                        <i class="fa fa-user icon"></i>
                        
                        <input class="col"  type="text" id="firstName" value='' placeholder="First Name"/>                     
                        <input class="col" style="margin-left: 50px;" type="text" value='' id="lastName" placeholder="Last Name" /> 
                    </div>
                    <div class="row">
                        <!-- <i class="fa fa-envelope icon"></i> -->
                        <i class="fa fa-phone icon"></i>
                        <input class="col" type="number" id="mobNumber" value='' placeholder="Mobile Number" />
                    </div>
                    <div class="row">
                        <i class="fa fa-envelope icon"></i>
                        <input class="col" type="email" id="email" value='' placeholder="Email Id" />
                    </div>
                    <div class="row">
                        <!-- <i class="fa fa-envelope icon"></i> -->
                        <i class="fa fa-map-marker icon"></i>
                        <input class="col" type="text" id="address" value='' placeholder="Address" />
                    </div>
                </div> 
                <br>
                <!-- <input type="submit" name="next" class="btn btn-success btn-lg next" value="Next Step" /> -->
                <button type="button" name="next" class="btn btn-success btn-lg next" value="Next Step" onclick="clientDeatils()"><b>Next</b></button>
            </fieldset>



            <!-- Product Details -->
            <fieldset>
                <div class="form-card">
                    <h2 class="fs-title">Product Details</h2>

                    <br> 

                    <input  type="text" id="nameOfProduct" placeholder="Name of Product / Service" />
                    <br><br>

                    <div style="color: #2C3E50; font-size: 16px;">Type Of Product / Service</div>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" onclick="chooseProductType(this)">
                        <label class="custom-control-label" for="customRadioInline1">Single Part</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" onclick="chooseProductType(this)">
                        <label class="custom-control-label" for="customRadioInline2">Assembly</label>
                    </div>
                    <br><br>
                    
                    
                    <br>

                    <!-- Changes done here! -->
                    <!-- strucutre for these fields are like: -->
                    <!-- partsContainer-
                             part1-
                                part1processContainer-
                                    part1processInputContainer1-
                                        (Process inputs will be added here depending
                                         on selected process for 1st)
                                    part1processInputContainer2- (process ips for 2nd)
                                    part1processInputContainer3- (process ips for 3rd)
                                    ...part1processInputContainern- (process ips for nth)

                                other inputs like hsn and gst

                            part2-
                                part2processContainer-
                                    part2processInputContainer1-
                                    part2processInputContainer2-
                                    part2processInputContainer3
                                other inputs like hsn and gst
                            .
                            .
                            .
                            partn-
                            .
                            .
                            .

                        Note: Here 1st part is hard coded since we have option for single process
                              and assembly. Choosing assembly will enable Add Part button and
                              clicking that will add parts just like this 1st part with structure
                              defined above.-->
                    <div id="partsContainer">
                        <div id="part1">
                            <!-- this label is used for counting process with its class serving as counter-->
                            <label style="display: none;" class="0" id="part1processCounter"></label>
                            <h5>Part1</h5>
                            <br>
                            <!-- name of part -->
                            <input type="text" id="part1nameOfPart" placeholder="Name of Part" />
                            <br>
                            <!-- will contain all processes data -->
                            <div id="part1processContainer">
                                
                            </div>
                            <!-- add process button -->
                            <button type="button" class="btn btn-info" onclick="addProcess(this)" value="1">Add Process</button> 
                            <button type="button" class="btn btn-info" onclick="saveProcess(this)" value="1">Save Process</button> 
                            <br><br><br>
                            <!-- extra info -->
                            <input id="part1profitPercent" type="text" placeholder="Enter Profit Percentage for this part" />
                            <br>
                            <input id="part1quantity" type="text" placeholder="Enter quantity of this part" />
                            <br>
                            <input id="part1hsn" type="text" placeholder="HSN/SAC" />
                            <br>
                            <input id="part1gst" type="text" placeholder="GST (%)" />
                            
                        </div>
                        
                    </div>

                    

                    <button type="button" class="btn btn-info" id="AddPartButton" style="display: none;" onclick="addPart()">Add New Part</button> <br><br>                    
                </div> 
                <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" />      -->
                <button type="button" name="next" class="btn btn-lg previous" style="background-color: lightgray; color: white; margin-left: 10px;" value="Next Step"><b>Previous</b></button>            
                <button type="button" name="next" class="btn btn-success btn-lg next" style="margin-left: 10px;" value="Next Step" onclick="productsData()"><b>Next</b></button>

                <button type="button" class="btn btn-success btn-lg" style="margin-left: 10px;" onclick="showCounters()"><b>Show Counters</b></button>


            </fieldset>


            <!-- RG Data -->
            <fieldset>
                <div class="form-card">
                    <h2 class="fs-title">Our Data</h2>
                    <br>
                    <div class="row" style="margin-left: 2.5px;">
                        <div  style="color: #2C3E50; font-size: 16px;">Date of Quotation : </div> 
                        <p style="padding-left: 10px;" id="date"></p>
                    </div><br>

                    <input  type="text" id="referenceNumber" placeholder="Enter Reference Number" />

                    <br><br>
                    <div  style="color: #2C3E50; font-size: 16px;">Terms And Conditions : </div> 
                    <br>
                    <input  type="text" placeholder="Delivery Within" />
                    <br> 
                    <input  type="text" placeholder="Payment Terms" />
                    <br>
                    <input  type="text" placeholder="Freight" />
                    <br>

                    <button type="button" class="btn btn-info">Add More Terms And Conditions</button> 
                    <!-- Should Generate New Text Fields for terms -->

                    <br><br>

                    <div  style="color: #2C3E50; font-size: 16px;">Attachment With Consignment : </div> 
                    <br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">RAW MATERIAL TEST CERTIFICATE</label>
                    </div>
                    <br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">ULTARSONIC TEST CERTIFICATE</label>
                    </div>
                    <br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">HARDNESS TEST CERTIFICATE</label>
                    </div>
                    <br>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">INETRNAL INSPECT REPORT</label>
                    </div>
                    <br>

                    <button type="button" class="btn btn-info">Add</button> 

                    <br><br>
                    <!-- <input  type="text" placeholder="Important Note" /> -->
                    <textarea class="form-control"rows="5" placeholder="Important Note"></textarea>
                    
                    <br>

                    <select class="custom-select">
                        <option selected>Select Bank Account</option>
                        <option value="1">Bank Name: Yes Bank Ltd.    A/C Name: Ratna Gears Pvt. Ltd.</option>
                        <option value="2">Bank Name: Yes Bank Ltd.    A/C Name: Ratna Gears Pvt. Ltd.</option>
                    </select>
                    <br>

                    <div  style="color: #2C3E50; font-size: 16px;">Deatils Of Bank Account Selected : </div> 
                    <br>
                    Bank Name : YES BANK LTD.
                    <br>
                    A/C Number : 123456789
                    <br>
                    A/C Name : RATNA GEARS PVT. LTD.
                    <br>
                    IFSC Code : 12TVDJK567S
                    <br><br>

                    <select class="custom-select">
                        <option selected>Select Contact Person</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <br>
                    <div  style="color: #2C3E50; font-size: 16px;">Deatils Of Contact Person : </div> 
                    <br>
                    Name : XYZ
                    <br>
                    Contact Number : 123456789
                    <br>
                    Email Id : a@gmail.com
                    <br><br>

                    



                </div>
                    
                <button type="button" name="next" class="btn btn-lg previous" style="background-color: lightgray; color: white; margin-left: 10px;" value="Next Step"><b>Previous</b></button>            
                <button type="submit" name="next" class="btn btn-success btn-lg next" style="margin-left: 10px;" value="Next Step"><b>Save</b></button>
                <!-- <input type="submit" class="btn btn-success btn-lg next" style="margin-left: 10px;" value="Save"></input> -->


            </fieldset>
            
        </form>
    </div>

</body>

<script>

n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

</script>

</html>
