.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.v-input1 input {
    max-height: 28px !important;
}

.v-text-field1 {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.col-xs12_1 {
    padding: 5px 12px 5px 12px !important;
}