<v-app>
    <template>
      <v-card>
        <v-tabs
          v-model="tab"
          fixed-tabs
          slider-color="success"
          slider-size="2"
          background-color="#edeff2"
          
        >
          <v-tab style="color: green;" :disabled="userDetails.addUser===false">Add User</v-tab>
          <v-tab  style="color: green;" :disabled="userDetails.modOrDelUser===false">Change / Delete User</v-tab>
        </v-tabs>

        <v-row row v-if="error" >
          <v-col xs12 sm6 offset-sm3 >
            <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
          </v-col>
        </v-row>
    
        <v-tabs-items v-model="tab">
          <v-tab-item
          >
          <v-card style="padding: 20px 100px 30px 100px;">
            <v-card-text>
              <span style="text-align: center;"><h2> Add User </h2></span>
              <v-container>
                <v-form ref="userDetailsForm" @submit.prevent="onSignup">
                  <v-row>
                    <v-col>
                      INSTRUCTIONS:
                      <ul>
                        <li>
                          First name and Last Name should only contain alphabets.
                        </li>
                        <li>
                          Email should in proper form : xyz@abc.def
                        </li>
                        <li>
                          Don't include country code in phone number field.
                        </li>
                        <li>
                          Length of Password should be atleast 6 characters.
                        </li>
                      </ul>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="firstname"
                        label="First Name"
                        id="firstname"
                        v-model="firstname"
                        type="firstname"
                        :rules="nameRules"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="lastname"
                        label="Last Name"
                        id="lastname"
                        v-model="lastname"
                        type="lastname"
                        :rules="nameRules"
                        required></v-text-field>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="email"
                        label="Email"
                        id="email"
                        v-model="email"
                        type="email"
                        :rules="emailRules"
                        required></v-text-field>
                    </v-col>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="password"
                        label="Password"
                        id="password"
                        v-model="password"
                        type="password"
                        :rules="passwordRules"
                        required></v-text-field>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="phNo"
                        label="Phone Number"
                        id="phNo"
                        v-model="phNo"
                        type="phNo"
                        :rules="numberRules"
                        required></v-text-field>
                    </v-col>
                  </v-row>
    
                  <span style="font-size: 16.5px;">Permissions :</span>
                  <br>
                  <!-- <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add User" v-model="addUser" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete User Details" v-model="modOrDelUser" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Bank" v-model="addBank" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete Bank Details" v-model="modOrDelBank" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Client" v-model="addClient" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Modify Client Details" v-model="modOrDelClient" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Process" v-model="addProcess" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Quotation" v-model="fillQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Quotation" v-model="searchQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Quotation" v-model="previewQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Edit Quotation" v-model="editQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Finalize Quotation" v-model="finalizeQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Fill Custumer PO" v-model="fillCPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Vendor PO" v-model="fillVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Vendor PO" v-model="searchVPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Vendor PO" v-model="previewVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>
    
                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Approve Vendor PO" v-model="approveVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row> -->
    
                  <div class="grid-container">
                    <v-checkbox label="Admin Access" v-model="adminAccess" hide-details></v-checkbox>
                    <v-checkbox label="Add User" v-model="addUser" hide-details></v-checkbox>
                    <v-checkbox label="Change/Delete User Details" v-model="modOrDelUser" hide-details></v-checkbox>
                    <v-checkbox label="Add Bank" v-model="addBank" hide-details></v-checkbox>
                    <v-checkbox label="Change/Delete Bank Details" v-model="modOrDelBank" hide-details></v-checkbox>
                    <v-checkbox label="Add Client" v-model="addClient" hide-details></v-checkbox>
                    <v-checkbox label="Change/Delete Client Details" v-model="modOrDelClient" hide-details></v-checkbox>
                    <v-checkbox label="Add Process" v-model="addProcess" hide-details></v-checkbox>
                    <v-checkbox label="Fill Quotation" v-model="fillQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Search Quotation" v-model="searchQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Preview Quotation" v-model="previewQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Edit Quotation" v-model="editQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Finalize Quotation" v-model="finalizeQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Fill Custumer PO" v-model="fillCPO" hide-details></v-checkbox>
                    <v-checkbox label="Fill Vendor PO" v-model="fillVPO" hide-details></v-checkbox>
                    <v-checkbox label="Search Vendor PO" v-model="searchVPO" hide-details></v-checkbox>
                    <v-checkbox label="Preview Vendor PO" v-model="previewVPO" hide-details></v-checkbox>
                    <v-checkbox label="Approve Vendor PO" v-model="approveVPO" hide-details></v-checkbox>
                    <v-checkbox label="Delete Quotation" v-model="deleteQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Delete Vendor PO" v-model="deleteVPO" hide-details></v-checkbox>
                  </div>

                  <br>
                  <v-btn type="submit" color="success" rounded small>
                    Add User
                  </v-btn>

                  
                </v-form>
              </v-container>
            </v-card-text>
          </v-card>
          </v-tab-item>
          <v-tab-item
          >
          <v-card style="padding: 20px 100px 30px 100px;">
            <v-card-text>
              <span style="text-align: center;"><h2> Change/Delete User Details </h2></span>
              <br>
              <v-form style="margin: 0 auto;">
                <v-row>
                  <v-col cols="1"></v-col>
                  <v-col cols="8" class="col-xs12_1">
                    <v-text-field 
                    class="v-input1 input v-text-field1"
                      v-model="searchUser"
                      :type="inputType"
                      label="Enter the Email id"
                      :rules="emailRules"
                      dense outlined clearable>
                    </v-text-field>
                  </v-col>

                  <v-col cols="2" class="col-xs12_1">
                    <v-btn rounded color="success" dark @click="receiveData()"><i class="fas fa-search">
                    </i> Search</v-btn>
                  </v-col>
                </v-row>
              </v-form>

              <div v-if="Object.keys(userData).length===0 && searchClicked"
                style="text-align: center; color: red;">
                No data found !!
              </div>

              <v-container>
                <v-form v-if="Object.keys(userData).length!==0 && searchClicked" ref="userChangeDetailsForm">
                
                  <v-row>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="firstname"
                        placeholder="First Name"
                        id="firstname"
                        v-model="userData[0].firstname"
                        :rules="nameRules"
                        required>
                      </v-text-field>
                    </v-col>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="lastname"
                        placeholder="Last Name"
                        id="lastname"
                        v-model="userData[0].lastname"
                        :rules="nameRules"
                        required>
                      </v-text-field>
                    </v-col>
                  </v-row>
  
                  <v-row>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="email"
                        placeholder="Email"
                        id="email"
                        v-model="userData[0].email"
                        :rules="emailRules"
                        disabled
                        required>
                      </v-text-field>
                    </v-col>
                    <v-col xs12 class="col-xs12_1">
                      <v-text-field
                      class="v-input1 input v-text-field1"
                        name="phNo"
                        placeholder="Phone Number"
                        id="phNo"
                        v-model="userData[0].phNo"
                        :rules="numberRules"
                        required></v-text-field>
                    </v-col>
                  </v-row>
                  
                  Permissions:
                  <br>
                  <!-- <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add User" v-model="userData[0].addUser" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete User Details" v-model="userData[0].modOrDelUser" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox  label="Add Bank" v-model="userData[0].addBank" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Delete Bank Details" v-model="userData[0].modOrDelBank" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Client" v-model="userData[0].addClient" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Change/Modify Client Details" v-model="userData[0].modOrDelClient" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Add Process" v-model="userData[0].addProcess" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Quotation" v-model="userData[0].fillQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Quotation" v-model="userData[0].searchQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Quotation" v-model="userData[0].previewQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Edit Quotation" v-model="userData[0].editQuotation" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Finalize Quotation" v-model="userData[0].finalizeQuotation" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Fill Custumer PO" v-model="userData[0].fillCPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Fill Vendor PO" v-model="userData[0].fillVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Search Vendor PO" v-model="userData[0].searchVPO" hide-details></v-checkbox>
                    </v-col>
                    <v-col xs12>
                      <v-checkbox label="Preview Vendor PO" v-model="userData[0].previewVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col xs12>
                      <v-checkbox label="Approve Vendor PO" v-model="userData[0].approveVPO" hide-details></v-checkbox>
                    </v-col>
                  </v-row> -->

                  <div class="grid-container">
                    <v-checkbox label="Admin Access" v-model="userData[0].adminAccess" hide-details></v-checkbox>
                    <v-checkbox label="Add User" v-model="userData[0].addUser" hide-details></v-checkbox>
                    <v-checkbox label="Change/Delete User Details" v-model="userData[0].modOrDelUser" hide-details></v-checkbox>
                    <v-checkbox label="Add Bank" v-model="userData[0].addBank" hide-details></v-checkbox>
                    <v-checkbox label="Change/Delete Bank Details" v-model="userData[0].modOrDelBank" hide-details></v-checkbox>
                    <v-checkbox label="Add Client" v-model="userData[0].addClient" hide-details></v-checkbox>
                    <v-checkbox label="Change/Delete Client Details" v-model="userData[0].modOrDelClient" hide-details></v-checkbox>
                    <v-checkbox label="Add Process" v-model="userData[0].addProcess" hide-details></v-checkbox>
                    <v-checkbox label="Fill Quotation" v-model="userData[0].fillQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Search Quotation" v-model="userData[0].searchQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Preview Quotation" v-model="userData[0].previewQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Edit Quotation" v-model="userData[0].editQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Finalize Quotation" v-model="userData[0].finalizeQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Fill Custumer PO" v-model="userData[0].fillCPO" hide-details></v-checkbox>
                    <v-checkbox label="Fill Vendor PO" v-model="userData[0].fillVPO" hide-details></v-checkbox>
                    <v-checkbox label="Search Vendor PO" v-model="userData[0].searchVPO" hide-details></v-checkbox>
                    <v-checkbox label="Preview Vendor PO" v-model="userData[0].previewVPO" hide-details></v-checkbox>
                    <v-checkbox label="Approve Vendor PO" v-model="userData[0].approveVPO" hide-details></v-checkbox>
                    <v-checkbox label="Delete Quotation" v-model="userData[0].deleteQuotation" hide-details></v-checkbox>
                    <v-checkbox label="Delete Vendor PO" v-model="userData[0].deleteVPO" hide-details></v-checkbox>
                  </div>

                  <br>
                      <v-btn rounded small color="error" @click="deleteUserDetails()" >
                        Delete User
                      </v-btn>
                      <v-btn rounded small color="success" @click="changeUserDetails()" style="margin-left: 65%;">
                        Submit Changes
                      </v-btn>
                </v-form>
              </v-container>

            </v-card-text>
          </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </template>
    

</v-app>