<template src='./userManagement.html'>
</template>
<script>

import axios from 'axios'
export default {
  name: 'userManagement',
  data () {
    return {
      userDetails: {},
      tab: null,
      drawer: true,
      overlay: false,
      firstname: '',
      lastname: '',
      phNo: '',
      email: '',
      password: '',
      searchUser: '',
      inputType: 'text',
      userData: [],
      searchClicked: false,
      addUser: false,
      modOrDelUser: false,
      addBank: false,
      modOrDelBank: false,
      addClient: false,
      modOrDelClient: false,
      addProcess: false,
      fillQuotation: false,
      searchQuotation: false,
      previewQuotation: false,
      editQuotation: false,
      finalizeQuotation: false,
      fillCPO: false,
      fillVPO: false,
      searchVPO: false,
      previewVPO: false,
      approveVPO: false,
      deleteQuotation: false,
      deleteVPO: false,
      adminAccess: false,
      err: null,
      nameRules: [
        v => !!v || 'This field is required',
        v => /^[a-zA-Z ]*$/.test(v) || 'Name must be valid'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      numberRules: [
        v => !!v || 'This field is required',
        v => /^[0-9]*$/.test(v) || 'Number must be valid'
      ],
      passwordRules: [
        v => !!v || 'This field is required',
        v => v.length >= 6 || 'Password must be atleast 6 characters'
      ]
    }
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    onSignup () {
      const v = this.$refs.userDetailsForm.validate()
      if (v === true) {
        var payload = {
          firstname: this.firstname,
          lastname: this.lastname,
          phNo: this.phNo,
          email: this.email,
          password: this.password,
          addUser: this.addUser,
          modOrDelUser: this.modOrDelUser,
          addBank: this.addBank,
          modOrDelBank: this.modOrDelBank,
          addClient: this.addClient,
          modOrDelClient: this.modOrDelClient,
          addProcess: this.addProcess,
          fillQuotation: this.fillQuotation,
          searchQuotation: this.searchQuotation,
          previewQuotation: this.previewQuotation,
          editQuotation: this.editQuotation,
          finalizeQuotation: this.finalizeQuotation,
          fillCPO: this.fillCPO,
          fillVPO: this.fillVPO,
          searchVPO: this.searchVPO,
          previewVPO: this.previewVPO,
          approveVPO: this.approveVPO,
          adminAccess: this.adminAccess,
          deleteQuotation: this.deleteQuotation,
          deleteVPO: this.deleteVPO,
          permission: this.userDetails.addUser
        }
        var load = this
        axios
          .post('http://127.0.0.1:8000/admin_panel/saveAndRetrieveUsers/', JSON.stringify(payload))
          .then(function (res) {
            load.err = res.data
            if (load.err.code === '400' || load.err.code === '500' || load.err.code === '403' || load.err.code === '405') {
              load.$store.dispatch('errorHandler', load.err)
            } else {
              alert('User Added Successfully')
              load.firstname = null
              load.lastname = null
              load.phNo = null
              load.email = null
              load.password = null
              load.addUser = false
              load.modOrDelUser = false
              load.addBank = false
              load.modOrDelBank = false
              load.addClient = false
              load.modOrDelClient = false
              load.addProcess = false
              load.fillQuotation = false
              load.searchQuotation = false
              load.previewQuotation = false
              load.editQuotation = false
              load.finalizeQuotation = false
              load.fillCPO = false
              load.fillVPO = false
              load.searchVPO = false
              load.previewVPO = false
              load.approveVPO = false
              load.adminAccess = false
              load.deleteQuotation = false
              load.deleteVPO = false
            }
          })
          .catch((error) => {
            alert(error)
            // alert('An Error Occured!! Please try again..')
          })
      }
      // console.log(load.err)
      window.scrollTo(0, 0)
    },
    receiveData () {
      var payload = this
      var dataToSearch = { email: this.searchUser, permission: this.userDetails.modOrDelUser }
      // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveUsers/', { params: dataToSearch })
        .then(function (res) {
          payload.userData = JSON.parse(res.data)
          // console.log(typeof payload.user)
          // console.log(payload.userData[0])
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.searchClicked = true
    },
    deleteUserDetails () {
      var payload = { _id: this.userData[0]._id, permission: this.userDetails.modOrDelUser }
      axios
        .post('http://127.0.0.1:8000/admin_panel/deleteUsers/', JSON.stringify(payload))
        .then(() => {
          alert('Successfully deleted user')
        })
        .catch((error) => {
          console.log('Error deleting user:', error)
        })
      this.searchClicked = false
    },
    changeUserDetails () {
      const v = this.$refs.userChangeDetailsForm.validate()
      if (v === true) {
        var payload = {
          _id: this.userData[0]._id,
          firstname: this.userData[0].firstname,
          lastname: this.userData[0].lastname,
          phNo: this.userData[0].phNo,
          email: this.userData[0].email,
          password: this.userData[0].password,
          addUser: this.userData[0].addUser,
          modOrDelUser: this.userData[0].modOrDelUser,
          addBank: this.userData[0].addBank,
          modOrDelBank: this.userData[0].modOrDelBank,
          addClient: this.userData[0].addClient,
          modOrDelClient: this.userData[0].modOrDelClient,
          addProcess: this.userData[0].addProcess,
          fillQuotation: this.userData[0].fillQuotation,
          searchQuotation: this.userData[0].searchQuotation,
          previewQuotation: this.userData[0].previewQuotation,
          editQuotation: this.userData[0].editQuotation,
          finalizeQuotation: this.userData[0].finalizeQuotation,
          fillCPO: this.userData[0].fillCPO,
          fillVPO: this.userData[0].fillVPO,
          searchVPO: this.userData[0].searchVPO,
          previewVPO: this.userData[0].previewVPO,
          approveVPO: this.userData[0].approveVPO,
          adminAccess: this.userData[0].adminAccess,
          deleteQuotation: this.userData[0].deleteQuotation,
          deleteVPO: this.userData[0].deleteVPO,
          permission: this.userDetails.modOrDelUser
        }
        var load = this
        axios
          .post('http://127.0.0.1:8000/admin_panel/changeUserDetails/', JSON.stringify(payload))
          .then(function (res) {
            load.err = res.data
            if (load.err.code === '400') {
              load.$store.dispatch('errorHandler', load.err)
            } else {
              alert('User Details Changed Successfully')
            }
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
        this.searchClicked = false
      }
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
  }
}
</script>
<style src='./userManagement.css'>

</style>
