<v-app>
  <div class="vendor_PO">
    <v-card style="padding: 24px;">
      <v-form
          ref="C_PO"
          v-model="valid"
          lazy-validation
      >

      <v-row>
          <v-col>
            <v-text-field
                label="Enter Customer PO Number"
                v-model="customer_PO.customer_PO_number"
                :rules="nameRules"
                required
            ></v-text-field>
        </v-col>

        <v-col>
            <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                    
                >
                    <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        label="Enter Customer PO Date"
                        prepend-icon="mdi-calendar"
                        v-bind="attrs"
                        v-on="on"
                        :rules="nameRules"
                        :value="computedDateFormattedMomentjs"
                        readonly
                        required
                    ></v-text-field>
                    </template>
                    <v-date-picker
                    v-model="customer_PO.PO_date"
                    no-title
                    scrollable
                    >
                    <v-spacer></v-spacer>
                    <v-btn
                        text
                        color="primary"
                        @click="menu = false"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(customer_PO.PO_date)"
                    >
                        OK
                    </v-btn>
                    </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>

            <b>Supplier Reference</b>

              <v-row>
                <v-col>
                    <v-row>
                      <v-text-field
                        label="Enter Quotation Number"
                        v-model="customer_PO.supplierReference.quotationNumber"
                        :rules="nameRules"
                        required
                        type="text"
                        style="margin-left: 12px;"
                      >
                      </v-text-field>
                      <v-btn icon style="margin-top: 20px; margin-right: 10px;" @click="receiveQuotationData()"><v-icon>search</v-icon></v-btn>
                    </v-row>
                    <!-- {{customer_PO.supplierReference}} -->
                </v-col>
                <v-col>
                  <div style="margin-top: 20px; margin-left: 12px;">Quotation Date: {{customer_PO.supplierReference.date}} </div> 
                </v-col>
              </v-row>

              <b>Client / Purchaser Details</b>

            <!-- <v-autocomplete
                v-model="purchaser"
                :items="purchaserDetails"
                item-text="nameOfCompany"
                label="Select Name Of Client"
                :rules="nameRules"
                required
                return-object
            >
            </v-autocomplete> -->

            <v-row>
              <v-col cols="13">
                  <v-text-field placeholder="Name of Company" prepend-icon="mdi-domain" v-model="nameOfCompany" :rules="nameRules" required>
                  </v-text-field>
              </v-col>
              <v-col cols="1">
                  <v-btn icon @click="receiveCompanyData"><v-icon>search</v-icon></v-btn>
              </v-col>
            </v-row>
            <!-- {{purchaser}} -->
            <v-row>
                <v-col>
                  Mobile Number : <span v-if="searchSuccess">{{purchaser.mobileNumber}}</span>
                </v-col>
                <v-col>
                  Email Id : <span v-if="searchSuccess">{{purchaser.emailId}}</span>
                </v-col>
            </v-row>

            <v-select
              label="Select Currency"
              :items="currenciesArray"
              v-model="selectedCurrency"
              :rules="nameRules"
          ></v-select>

            <b>Material Description</b>

            <br><br>

            <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        SR. NO.
                      </th>
                      <th class="text-left">
                        MATERIAL CODE
                      </th>
                      <th class="text-left">
                        MATERIAL DESCRIPTION
                      </th>
                      <th class="text-left">
                        QTY
                      </th>
                      <th class="text-left">
                        UOM
                      </th>
                      <th class="text-left">
                        RATE
                      </th>
                      <th class="text-left">
                        AMOUNT
                      </th>
                      <th class="text-left">
                        DELETE
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="material,no in materialInfo"
                    >
                        <td>
                            {{no+1}}
                        </td>
                      <td>
                          <v-text-field
                            label="Material Code"
                            v-model="material.materialCode"
                            :rules="nameRules"
                            required
                          ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="Material Description"
                              v-model="material.materialDescription"
                              :rules="nameRules"
                              required

                            ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="Quantity"
                              v-model="material.quantity"
                              :rules="numberRules"
                              required
                            ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="UOM"
                              v-model="material.UOM"
                              :rules="nameRules"
                              required
                            ></v-text-field>
                        </td>
                        <td>
                            <v-text-field
                              label="Rate"
                              v-model="material.rate"
                              :rules="decimalInputRules"
                              required
                            ></v-text-field>
                        </td>
                        
                        <td>
                            <!-- ₹ {{product.quantity*product.rate}} -->
                            ₹ {{materialAmount[no]}}
                        </td>
                        <td>
                            <v-btn small @click="deleteMaterial(no)" :disabled="no===0" icon>
                                <v-icon>delete</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>

              <br>

              <v-btn @click="addMaterial()" color="success" small rounded>Add Material</v-btn>

              <br><br>

              <b>Total Amount</b> : ₹ {{totalAmount}}

              <v-text-field
                    label="Item Description"
                    v-model="customer_PO.itemDescription"
                    :rules="nameRules"
                    required
                ></v-text-field>

                <v-text-field
                    label="Delivery Date and Description"
                    v-model="customer_PO.deliveryInfo"
                    :rules="nameRules"
                    required
                ></v-text-field>

                <v-btn @click="savePO()" color="success" small rounded>Save PO</v-btn>

                

                <!-- {{customer_PO}} -->
        
      </v-form>
          <!-- {{PO}} -->
    </v-card>

    <v-overlay
              :absolute="absolute1"
              :value="saveOverlay"
            >
            <v-card style="padding: 18px; color: black;" color="white">

              <!-- {{saveSuccess}} -->

              <span v-if="saveSuccess===true">
                Customer Purchase Order saved successfully ✔
                <br>
                <b>CPO Number : {{CPO_Number}}</b>
              </span>

              <span v-if="saveSuccess!=true">
                An Error Occured!! Please try again..
              </span>

              <div class="row" style="margin-left: 2px; margin-right: 2px;">
                <v-btn
                style="margin-top: 8px;"
                :color=buttonColor
                small
                rounded
                @click="saveOverlay = false"
              >
                Close
              </v-btn>
            </div>

            </v-card>
          
        </v-overlay>

  </div>
</v-app>