<template src='./customer_PO.html'>
</template>
<script>

import moment from 'moment'
import clientDetails from '../../assets/clientDetails'
import currencies from '../../assets/currencies.json'
import axios from 'axios'

export default {
  name: 'customer_PO',
  data () {
    return {
      selectedCurrency: '',
      currenciesArray: [],
      userDetails: {},
      drawer: false,
      valid: true,
      nameRules: [
        v => !!v || 'This field is required'
      ],
      numberRules: [
        v => !!v || 'This field is required',
        v => /^[0-9]*$/.test(v) || 'Number must be valid'
      ],
      decimalInputRules: [
        v => !!v || 'This field is required',
        v => /^\d+(\.\d{1,2})?$/.test(v) || 'Number must be valid'
      ],
      menu: false,
      customer_PO: {
        customer_PO_number: '',
        PO_date: '',
        purchaserDetails: { nameOfCompany: '', phNo: '', email: '' },
        supplierReference: { quotationNumber: '', date: 'DD/MM/YYYY' },
        materialInfo: [],
        itemDescription: '',
        deliveryInfo: ''
      },
      clientDetails: [],
      quotationDetails: [{ quotationNumber: '1', date: '09/11/2020' },
        { quotationNumber: '2', date: '12/11/2020' },
        { quotationNumber: '3', date: '27/01/2020' },
        { quotationNumber: '4', date: '09/06/2020' }
      ],
      purchaserDetails: clientDetails,
      purchaser: {},
      materialInfo: [{ materialCode: '', materialDescription: '', quantity: null, UOM: 'NOS', rate: null, amount: null }],
      saveOverlay: false,
      absolute1: true,
      saveSuccess: false,
      buttonColor: 'error',
      CPO_Number: '',
      companyData: {},
      nameOfCompany: '',
      searchSuccess: false,
      quotation: {}
    }
  },
  methods: {
    receiveQuotationData () {
      var dataToSearch = { quotationNumber: this.customer_PO.supplierReference.quotationNumber, permission: this.userDetails.searchQuotation }
      var self = this
      axios
        .get('http://127.0.0.1:8000/quotations/handleQuotation/', { params: dataToSearch })
        .then(function (res) {
          self.quotation = JSON.parse(res.data)
          // console.log(typeof self.quotation)
          // console.log(self.quotation)
          self.customer_PO.supplierReference.date = self.quotation[0].ourInformation.date
        })
        .catch(function (err) {
          console.log(err)
          alert('Quotation Not found!! Please check the Quotation Number')
        })
    },
    receiveCompanyData () {
      var payload = this
      var dataToSearch = { nameOfCompany: this.nameOfCompany }
      // console.log(dataToSearch)
      axios
        .get('http://127.0.0.1:8000/admin_panel/saveAndRetrieveCompanyDetails/', { params: dataToSearch })
        .then(function (res) {
          // console.log(res.data)
          payload.companyData = JSON.parse(res.data)
          // console.log(typeof payload.companyData)
          // console.log(payload.companyData)
          payload.purchaser.nameOfCompany = payload.companyData[0].nameOfCompany
          payload.purchaser.mobileNumber = payload.companyData[0].phNo
          payload.purchaser.emailId = payload.companyData[0].email
          payload.searchSuccess = true
        })
        .catch(function (err) {
          console.log(err)
          alert('Company Details Not found!! Please enter the correct Company name')
        })
    },
    addMaterial () {
      this.materialInfo.push({ materialCode: '', materialDescription: '', quantity: null, UOM: 'NOS', rate: null, amount: null })
    },
    deleteMaterial (no) {
      this.materialInfo.splice(no, 1)
    },
    savePO () {
      for (var materialId in this.materialInfo) {
        this.materialInfo[materialId].amount = this.materialAmount[materialId]
      }
      this.customer_PO.currency = this.selectedCurrency[0]
      this.customer_PO.materialInfo = this.materialInfo
      this.customer_PO.purchaserDetails = this.purchaser
      this.customer_PO.permission = this.userDetails.fillCPO
      var v = this.$refs.C_PO.validate()
      if (v === true) {
        var self = this
        axios
          .post('http://127.0.0.1:8000/po/handleCPo/', JSON.stringify(this.customer_PO))
          .then(function (res) {
            // console.log(res)
            self.CPO_Number = res.data
            self.saveSuccess = true
            self.buttonColor = 'success'
            self.customer_PO = {
              customer_PO_number: '',
              PO_date: '',
              purchaserDetails: { nameOfCompany: '', phNo: '', email: '' },
              supplierReference: { quotationNumber: '', date: 'DD/MM/YYYY' },
              materialInfo: [],
              itemDescription: '',
              deliveryInfo: ''
            }
            // self.MaterialInfo = [{ materialCode: '', materialDescription: '', quantity: null, UOM: 'NOS', rate: null, amount: null }]
            for (var material in self.materialInfo) {
              // console.log(material)
              self.materialInfo[material].materialCode = ''
              self.materialInfo[material].materialDescription = ''
              self.materialInfo[material].quantity = null
              self.materialInfo[material].UOM = 'NOS'
              self.materialInfo[material].rate = null
              self.materialInfo[material].amount = null
            }
            self.purchaser.mobileNumber = ''
            self.purchaser.emailId = ''
            self.nameOfCompany = ''
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
      }
      this.saveOverlay = !this.saveOverlay
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  computed: {
    materialAmount: function () {
      var perMaterialTotal = []
      for (var material in this.materialInfo) {
        var amount = (this.materialInfo[material].quantity * this.materialInfo[material].rate).toFixed(2)
        amount = parseFloat(amount)
        // console.log(product)
        amount = parseFloat(amount)
        perMaterialTotal.push(amount)
      }
      // console.log(parseFloat(perMaterialTotal))
      return perMaterialTotal
    },
    totalAmount: function () {
      return (this.materialAmount.map(item => item).reduce((total, amount) => total + amount))
    },
    computedDateFormattedMomentjs () {
      return this.customer_PO.PO_date ? moment(this.customer_PO.PO_date).format('DD/MM/YYYY') : ''
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    this.$emit('toolbarTitle', 'Customer Purchase Order')
    this.$emit('extension', false)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', '64')
    this.$emit('prominent', false)
    this.$emit('app', true)
    this.$emit('image', false)
    for (var i in currencies) {
      this.currenciesArray.push([i, currencies[i]])
    }
  }
}
</script>
<style src='./customer_PO.css'>

</style>
