.box {
    border: 2px solid black;  
    margin: auto;
    width: 610px; 
    /* height: 842px; */
}

.line {
    height: 2px;
    background-color: black;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

.content {
    padding: 0% 1% 0% 4%;
}

.heading {
    text-align: center;
}

.contentAll {
    padding: 1%;
}

table {
    border-collapse: collapse;
    font-size: 12px;
    /* table-layout: fixed; */
    width: 100%; 
}

table, td, th {
    border: 1px solid black;
    padding: 1%;
    text-align: center;
}

.toPrint {
	display: none;
}
@media print {
	.notToPrint  {
		display: none;
	}
	.toPrint  {
		display: block;
	}
}