<v-app>
  <div id="notToPrint" class="notToPrint"> 
    <v-card color="success" style="text-align: center; padding-bottom: 10px; z-index: 5; position: fixed; width: 100%;" flat dark>
      <span v-if="quotation.quotationNumber!=null" style="font-size: 20px;">Quotation Number : {{quotation.quotationNumber}}</span>
    </v-card>


  
    <div style="margin: auto;">
      <br><br><br>

        <div class="text-center" v-if="quotationStatusPreview === 'old'">
          The Numbers Show The Available Revisions For Quotation Number {{quotation.quotationNumber}}
          <br>
          Click To Preview The Respective Revision
          <v-pagination
            v-model="page"
            :length=noOfRevisions
            @input=showRevision()
          ></v-pagination>
          <!-- <div v-for="revisions, index in quotationRevisionsData">
            <div v-if="index>1">
              <v-btn @click="showRevision(index)">index</v-btn>
            </div>
          </div> -->
          <br>
          <v-btn @click="viewLatestQuotation()" small rounded>View Latest Quotation</v-btn>
          <br><br>
          <span v-if="page==0" style="color: red;">This is the latest version of quotation number {{quotation.quotationNumber}}</span>
          <!-- {{quotationRevisionsData}} -->
        </div>
        
        <div ref="preview" id="preview" v-if="Object.keys(quotation) != 0">
          <!-- {{quotation}} -->
          <!-- {{hideToolbar}} -->
          <div class="box">
            <div class="row content">
                <div class="col-3" style="padding-top: 6px; padding-bottom: 6px;">
                    <img src="../../assets/images/logo.png" style="height: 90px; width: 120px;">

                </div>
                <div class="heading col-7" style="padding-top: 6px; padding-bottom: 6px;">
                    <div style="font-weight: 900; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px">RATNA GEARS PVT. LTD.</div>
                    <p style="font-size: 12px; line-height: 15px; margin-bottom: 0px;">95 & 108, Swami Vivekanand Ind. Estate, Handewadi Road,
                         Hadapsar, Pune - 411028, Maharashtra, India.
                         <br>
                         <b>Tel No.</b>: 20-26970987 <b>Email</b>: ratnagear@gmail.com
                         <br>
                         <b>Pan No</b>: AADCR2241Q
                         <br>
                         <b>GST No</b>: 27AADCR2241Q1Z2
                    </p>
                </div>
            </div>
            
            <!-- <div class="line"></div> -->

            <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
                <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black">
                    <b>Name and Address of Buyer:</b>
                    <div>
                        <p style="text-transform: uppercase; margin-bottom: 8px;">
                            <span style="font-weight: 900;">{{quotation.clientDetails.nameOfCompany}}</span>
                            <br>
                            <span style="line-height: 15px; font-size: 10px;">
                                {{quotation.clientDetails.address}}
                            </span>
                        </p>
                        <span style="line-height: 12px; font-size: 10px;">
                            PAN NO: <b>123456</b><br>
                            GST TIN: <b>123456</b><br>
                            UINO: <b></b><br>
                            Kind Attention To: <b>{{quotation.clientDetails.name.firstName}} {{quotation.clientDetails.name.lastName}}</b>
                        </span>
                    </div>
                </div>
                <!-- <div style="width: 2px; background-color: black;"></div> -->
                <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black;">
                    <span style="line-height: 12px; font-size: 10px;">
                        <b>QT No</b>: {{quotation.quotationNumber}}<br>
                        <div style="height: 1px; background-color:black;"></div>
                        <b>QT Date</b>: {{quotation.ourInformation.date}}<br>
                        <div style="height: 1px; background-color:black;"></div>
                        <b>QT Ref.No</b>: {{quotation.ourInformation.referenceNumber}}<br>
                        <div style="height: 1px; background-color:black;"></div>
                        <b>Important Note</b>: {{quotation.ourInformation.importantNote}}<br>
                    </span>
                </div>
            </div>
            <!-- <div class="line"></div> -->
            <table>
                <tr>
                    <th>SR. NO.</th>
                    <th>NAME OF PRODUCT/SERVICE</th>
                    <th>QTY(UOM)</th>
                    <th>EACH RATE</th>
                    <th>TAXABLE AMOUNT</th>
                    <th>HSN</th>
                    <th>GST</th>
                </tr>
                <tr v-for="part, index in quotation.productDetails.parts">
                    <td><b>{{index+1}}</b></td>
                    <td style="text-align: left;">
                        <b>{{part.nameOfPart}}</b>
                        <div class="row" style="margin: auto;">
                          <div v-for="process,index in part.processes">
                            <span v-if="index>0">,</span>
                            {{process.nameOfProcess }}
                          </div>
                        </div>
                    </td>
                    <td>{{part.quantity}}</td>
                    <td>{{quotation.currency}} {{(part.subTotalPart)/(part.quantity)}}</td>
                    <td>{{quotation.currency}} {{part.subTotalPart}}</td>
                    <td>{{part.HSN}}</td>
                    <td>{{part.GST}}</td>
                </tr>
            </table>
            <!-- <div class="line"></div> -->
            <div style="padding-left: 60%; font-size: 12px; padding: 0.5%; border-top: 2px solid black;">
                <div style="padding-left: 59%; font-weight: 700;">
                    TOTAL :
                    <span style="padding-left: 30px;">{{quotation.currency}} {{quotation.productDetails.productTotal}}</span>
                </div>
            </div>
            <!-- <div class="line"></div> -->
            <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
                <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black;">
                            <span style="font-weight: 900;">Terms:</span>
                            <br>
                            <ul style="list-style-type:none;" v-for="term, index in quotation.ourInformation.termsAndConditions">
                                <li v-if="index<3">
                                    <span style="font-weight: 900;" v-if="index===0">Delivery Term :</span>
                                    <span style="font-weight: 900;" v-if="index===1">Payment Term :</span>
                                    <span style="font-weight: 900;" v-if="index===2">Freight :</span>
                                    {{Object.values(term)[0]}}
                                </li>
                                <li v-if="index>2">
                                    {{term}}
                                </li>
                            </ul>
                </div>
                <!-- <div style="width: 2px; background-color: black;"></div> -->
                <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black;">
                    <p style="margin-bottom: 8px;">
                        <span style="font-weight: 900;">Attachment With Consignment:</span>
                        <br>
                        <div v-for="consignment, index in quotation.ourInformation.attachmentWithConsignment">
                            <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='rawMaterialCertificate'">Raw Material Certificate</li>
                            <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='ultraSonicTestCertificate'">Ultra Sonic Test Certificate</li>
                            <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='hardnessTestCertificate'">Hardness Test Certificate</li>
                            <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='internalInspectReport'">Internal Inspect Report</li>
                            <li v-if="index>3">{{consignment}}</li>
                        </div>
                    </p>
                </div>
            </div>
            <!-- <div class="line"></div> -->
            <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
                <div class="contentAll" style="width:50%;  border-bottom: 2px solid black;">
                        <p style="margin-bottom: 8px;">
                            <span style="font-weight: 900;">Bank Name : </span> {{quotation.ourInformation.bankAccount.bankName}}
                            <br>
                            <span style="font-weight: 900;">A/C No. : </span> {{quotation.ourInformation.bankAccount.accNo}}
                        </p>
                </div>
                <!-- <div style="width: 2px; background-color: black;"></div> -->
                <div class="contentAll" style="width:50%; border-bottom: 2px solid black; border-left: 2px solid black;">
                    <p style="margin-bottom: 8px;">
                        <span style="font-weight: 900;">A/C Name : </span> {{quotation.ourInformation.bankAccount.accName}}
                        <br>
                        <span style="font-weight: 900;">IFSC Code : </span> {{quotation.ourInformation.bankAccount.ifsc}}
                    </p>
                </div>
            </div>
            <!-- <div class="line"></div> -->
            <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
                <div class="contentAll" style="width:50%">
                        <p style="margin-bottom: 8px;">
                            <span style="font-weight: 900;">Contact Person :</span> {{quotation.ourInformation.contactPerson.name}}
                            <br>
                            <span style="font-weight: 900;">Mobile Number :</span> {{quotation.ourInformation.contactPerson.mobileNumber}}
                            <br>
                            <span style="font-weight: 900;">Email Address :</span> {{quotation.ourInformation.contactPerson.emailId}}
                        </p>
                </div>
                <!-- <div style="width: 2px; background-color: black;"></div> -->
                <div class="contentAll" style="width:49%; text-align: right; border-left: 2px solid black;">
                    for <b>RATNA GEARS PVT. LTD.</b>
                    <br><br><br><br><br><br>
                    AUTHORIZED SIGNATORY
                </div>
            </div>
          </div>
        </div>
        
      <br>
        <v-row
            align="center"
            justify="space-around"
            style="width: 610px; margin: 0 auto;"
        >
            <v-btn
              color="primary"
              :disabled="latestQuotation.finalized === 1 || userDetails.editQuotation===false || finalizeClicked===true"
              @click="editQuotation()"
              rounded
            >
            Edit
            </v-btn>

            <v-btn
              color="primary"
              :disabled="latestQuotation.finalized === 1  || saveSuccess === true || quotationStatus ==='old'"
              @click="saveAndContinue()"
              rounded
            >
            Save and Continue
            </v-btn>
            <!-- {{quotationStatus}} -->
            <v-btn
              color="primary"
              :disabled="latestQuotation.finalized === 1 || quotationStatusPreview==='new' || userDetails.finalizeQuotation===false || finalizeClicked===true"
              @click="overlay=!overlay"
              rounded
            >
            Finalize
            </v-btn>
            
            <v-btn
              color="primary"
              @click="print()"
              rounded
              :loading="loading3"
              :disabled="loading3 || quotation.quotationNumber===null"
            >
            Print
            </v-btn>

            <v-overlay
              :absolute="absolute1"
              :value="saveOverlay"
            >
            <v-card style="padding: 18px; color: black;" color="white">

              <div v-if="saveSuccess===true && finalizeClicked!=true">
                  Quotation saved successfully ✔
                  <br>
                  <b>Quotation Number : {{quotation.quotationNumber}}</b>
              </div>

              <div v-if="finalizeClicked===true">
                <b>Quotation Number : {{quotation.quotationNumber}}</b> finalized successfully ✔
              </div>

              <span v-if="saveSuccess!=true">
                An Error Occured!! Please try again..
              </span>

              <div class="row" style="margin-left: 2px; margin-right: 2px;">
                <v-btn
                style="margin-top: 8px;"
                :color=buttonColor
                small
                rounded
                @click="saveOverlay = false"
              >
                Close
              </v-btn>
            </div>

            </v-card>
          
        </v-overlay>

            <v-overlay
              :absolute="absolute"
              :value="overlay"
            >
            <v-card style="padding: 18px; color: black;" color="white">

              Are you sure you want to finalize the quotation ? 
              <br>
              Once finalized, quotation cannot be edited..
              <br>

              <div class="row" style="margin-left: 2px; margin-right: 2px;">
                <v-btn
                style="margin-top: 8px;"
                color="error"
                small
                rounded
                @click="overlay = false"
              >
                Cancel
              </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                style="margin-top: 8px;"
                color="success"
                small
                rounded
                @click="confirmFinalize()"
              >
                Finalize
              </v-btn>
            </div>


            </v-card>
          
        </v-overlay>
        </v-row>
        <br>
    </div>
  </div>
  <div id="toPrint" class="toPrint">
    <div ref="preview" id="preview" v-if="Object.keys(quotation) != 0">
      <div class="box">
        <div class="row content">
            <div class="col-3" style="padding-top: 6px; padding-bottom: 6px;">
                <img src="../../assets/images/logo.png" style="height: 90px; width: 120px;">

            </div>
            <div class="heading col-7" style="padding-top: 6px; padding-bottom: 6px;">
                <div style="font-weight: 900; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px">RATNA GEARS PVT. LTD.</div>
                <p style="font-size: 12px; line-height: 15px; margin-bottom: 0px;">95 & 108, Swami Vivekanand Ind. Estate, Handewadi Road,
                     Hadapsar, Pune - 411028, Maharashtra, India.
                     <br>
                     <b>Tel No.</b>: 20-26970987 <b>Email</b>: ratnagear@gmail.com
                     <br>
                     <b>Pan No</b>: AADCR2241Q
                     <br>
                     <b>GST No</b>: 27AADCR2241Q1Z2
                </p>
            </div>
        </div>
        
        <!-- <div class="line"></div> -->

        <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
            <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black">
                <b>Name and Address of Buyer:</b>
                <div>
                    <p style="text-transform: uppercase; margin-bottom: 8px;">
                        <span style="font-weight: 900;">{{quotation.clientDetails.nameOfCompany}}</span>
                        <br>
                        <span style="line-height: 15px; font-size: 10px;">
                            {{quotation.clientDetails.address}}
                        </span>
                    </p>
                    <span style="line-height: 12px; font-size: 10px;">
                        PAN NO: <b>123456</b><br>
                        GST TIN: <b>123456</b><br>
                        UINO: <b></b><br>
                        Kind Attention To: <b>{{quotation.clientDetails.name.firstName}} {{quotation.clientDetails.name.lastName}}</b>
                    </span>
                </div>
            </div>
            <!-- <div style="width: 2px; background-color: black;"></div> -->
            <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black;">
                <span style="line-height: 12px; font-size: 10px;">
                    <b>QT No</b>: {{quotation.quotationNumber}}<br>
                    <div style="height: 1px; background-color:black;"></div>
                    <b>QT Date</b>: {{quotation.ourInformation.date}}<br>
                    <div style="height: 1px; background-color:black;"></div>
                    <b>QT Ref.No</b>: {{quotation.ourInformation.referenceNumber}}<br>
                    <div style="height: 1px; background-color:black;"></div>
                    <b>Important Note</b>: {{quotation.ourInformation.importantNote}}<br>
                </span>
            </div>
        </div>
        <!-- <div class="line"></div> -->
        <table>
            <tr>
                <th>SR. NO.</th>
                <th>NAME OF PRODUCT/SERVICE</th>
                <th>QTY(UOM)</th>
                <th>EACH RATE</th>
                <th>TAXABLE AMOUNT</th>
                <th>HSN</th>
                <th>GST</th>
            </tr>
            <tr v-for="part, index in quotation.productDetails.parts">
                <td><b>{{index+1}}</b></td>
                <td style="text-align: left;">
                    <b>{{part.nameOfPart}}</b>
                    <div class="row" style="margin: auto;">
                      <div v-for="process,index in part.processes">
                        <span v-if="index>0">,</span>
                        {{process.nameOfProcess }}
                      </div>
                    </div>
                </td>
                <td>{{part.quantity}}</td>
                <td>{{quotation.currency}} 1234</td>
                <td>{{quotation.currency}} {{part.subTotalPart}}</td>
                <td>{{part.HSN}}</td>
                <td>{{part.GST}}</td>
            </tr>
        </table>
        <!-- <div class="line"></div> -->
        <div style="padding-left: 60%; font-size: 12px; padding: 0.5%; border-top: 2px solid black;">
            <div style="padding-left: 59%; font-weight: 700;">
                TOTAL :
                <span style="padding-left: 30px;">{{quotation.currency}} {{quotation.productDetails.productTotal}}</span>
            </div>
        </div>
        <!-- <div class="line"></div> -->
        <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
            <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black;">
                        <span style="font-weight: 900;">Terms:</span>
                        <br>
                        <ul style="list-style-type:none;" v-for="term, index in quotation.ourInformation.termsAndConditions">
                            <li v-if="index<3">
                                <span style="font-weight: 900;" v-if="index===0">Delivery Term :</span>
                                <span style="font-weight: 900;" v-if="index===1">Payment Term :</span>
                                <span style="font-weight: 900;" v-if="index===2">Freight :</span>
                                {{Object.values(term)[0]}}
                            </li>
                            <li v-if="index>2">
                                {{term}}
                            </li>
                        </ul>
            </div>
            <!-- <div style="width: 2px; background-color: black;"></div> -->
            <div class="contentAll" style="width:50%; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black;">
                <p style="margin-bottom: 8px;">
                    <span style="font-weight: 900;">Attachment With Consignment:</span>
                    <br>
                    <div v-for="consignment, index in quotation.ourInformation.attachmentWithConsignment">
                        <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='rawMaterialCertificate'">Raw Material Certificate</li>
                        <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='ultraSonicTestCertificate'">Ultra Sonic Test Certificate</li>
                        <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='hardnessTestCertificate'">Hardness Test Certificate</li>
                        <li v-if="Object.values(consignment)[0]===true && Object.keys(consignment)[0]==='internalInspectReport'">Internal Inspect Report</li>
                        <li v-if="index>3">{{consignment}}</li>
                    </div>
                </p>
            </div>
        </div>
        <!-- <div class="line"></div> -->
        <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
            <div class="contentAll" style="width:50%;  border-bottom: 2px solid black;">
                    <p style="margin-bottom: 8px;">
                        <span style="font-weight: 900;">Bank Name : </span> {{quotation.ourInformation.bankAccount.bankName}}
                        <br>
                        <span style="font-weight: 900;">A/C No. : </span> {{quotation.ourInformation.bankAccount.accNo}}
                    </p>
            </div>
            <!-- <div style="width: 2px; background-color: black;"></div> -->
            <div class="contentAll" style="width:50%; border-bottom: 2px solid black; border-left: 2px solid black;">
                <p style="margin-bottom: 8px;">
                    <span style="font-weight: 900;">A/C Name : </span> {{quotation.ourInformation.bankAccount.accName}}
                    <br>
                    <span style="font-weight: 900;">IFSC Code : </span> {{quotation.ourInformation.bankAccount.ifsc}}
                </p>
            </div>
        </div>
        <!-- <div class="line"></div> -->
        <div style="font-size: 11px; padding-left: 2%; padding-right: 2%;" class="row">
            <div class="contentAll" style="width:50%">
                    <p style="margin-bottom: 8px;">
                        <span style="font-weight: 900;">Contact Person :</span> {{quotation.ourInformation.contactPersonName}}
                        <br>
                        <span style="font-weight: 900;">Mobile Number :</span> 9807654321
                        <br>
                        <span style="font-weight: 900;">Email Address :</span> a@gmail.com
                    </p>
            </div>
            <!-- <div style="width: 2px; background-color: black;"></div> -->
            <div class="contentAll" style="width:49%; text-align: right; border-left: 2px solid black;">
                for <b>RATNA GEARS PVT. LTD.</b>
                <br><br><br><br><br><br>
                AUTHORIZED SIGNATORY
            </div>
        </div>
      </div>
    </div>
  </div>
</v-app>