<template src='./quotationPreview.html'>
</template>

<script>
import axios from 'axios'

export default {
  name: 'quotationPreview',
  data () {
    return {
      pdf_url: '',
      displayPDF: false,
      userDetails: {},
      drawer: false,
      quotation: {},
      path: '',
      overlay: false,
      absolute: true,
      absolute1: true,
      confirm: false,
      saveOverlay: false,
      saveSuccess: false,
      buttonColor: 'error',
      loader: null,
      loading3: false,
      quotationRevisionsData: {},
      page: 0,
      numberOfRevisions: null,
      quotationStatusPreview: '',
      noOfRevisions: '',
      latestQuotation: {},
      finalizeClicked: false,
      errorMsg: '',
      printClicked: false
    }
  },
  props: [
    'newQuotation',
    'quotationStatus',
    'oldQuotation',
    'quotationRevisions'
  ],
  methods: {
    showRevision (index) {
      // alert(this.page)
      // eslint-disable-next-line no-unused-vars
      var temp = 'R' + (this.page - 1)
      this.quotation = this.quotationRevisionsData[0][temp]
    },
    finalize () {
      // this.overlay = !this.overlay
      if (this.confirm === true) {
        this.quotation.finalized = 1
        this.quotation.permission = this.userDetails.finalizeQuotation
        var self = this
        axios
          .post('http://127.0.0.1:8000/quotations/finalizeQuotation/', JSON.stringify(this.quotation))
          .then(function (res) {
            // console.log(res)
            // alert('Quotation Finalized successfully ✔')
            self.quotation.quotationNumber = res.data
            self.saveSuccess = true
            self.buttonColor = 'success'
            self.quotationStatusPreview = 'old'
            self.latestQuotation.finalize = 1
          })
          .catch(function (err) {
            console.log(err)
            alert('An Error Occured!! Please try again..')
          })
        this.finalizeClicked = true
        this.saveOverlay = !this.saveOverlay
      }
    },
    viewLatestQuotation () {
      if (this.quotationStatus === 'new') {
        this.quotation = this.newQuotation
      } else if (this.quotationStatus === 'old') {
        this.quotation = this.oldQuotation
        // console.log(this.quotation)
      }
      this.page = 0
    },
    saveAndContinue () {
      this.quotationStatusPreview = this.quotationStatus
      this.quotationRevisionsData = {}
      var date = new Date().toLocaleString('en-GB')
      date = date.split(',')
      var time = date[1]
      this.quotation.ourInformation.time = time
      var self = this
      // this.quotation.permission = 'true'
      if (this.quotation.quotationNumber === null) {
        axios
          .post('http://127.0.0.1:8000/quotations/handleQuotation/', JSON.stringify(this.quotation))
          .then(function (res) {
            // console.log(res)
            // alert('Quotation successfully saved ✔')
            self.quotation.quotationNumber = res.data
            self.quotation._id = res.data
            self.saveSuccess = true
            self.buttonColor = 'success'
            self.quotationStatusPreview = 'old'
            // console.log(self.saveSuccess)
            // console.log(self.quotationRevisionsData)
            // axios
            //   .get('http://127.0.0.1:8000/quotations/handleQuotation/', { params: { quotationNumber: self.quotation.quotationNumber, permission: self.userDetails.searchQuotation } })
            //   .then(function (res) {
            //     self.quotation = JSON.parse(res.data)
            //     console.log(typeof self.quotation)
            //     console.log(self.quotation)
            //   })
            //   .catch(function (err) {
            //     console.log(err)
            //     alert('An Error Occured!! Please try again..')
            //   })
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
      } else {
        axios
          .post('http://127.0.0.1:8000/quotations/editQuotation/', JSON.stringify(this.quotation))
          .then(function (res) {
            // alert('Quotation successfully saved ✔')
            // self.quotation.quotationNumber = res.data
            // console.log(res)
            self.quotation.quotationNumber = res.data.quotationNumber
            // self.quotation = JSON.parse(res.data)
            self.saveSuccess = true
            self.buttonColor = 'success'
            self.quotationStatusPreview = 'old'
            self.noOfRevisions = res.data.count
            // console.log(self.saveSuccess)
            // console.log(self.quotation)
            // console.log(self.quotationRevisionsData)
            if (self.saveSuccess === true) {
              // console.log('In fetch Revisions')
              axios
                .get('http://127.0.0.1:8000/quotations/fetchRevisions/', { params: { _id: self.quotation._id } })
                .then(function (res) {
                  self.quotationRevisionsData = JSON.parse(res.data)
                  // console.log(typeof self.quotationRevisionsData)
                  // console.log(self.quotationRevisionsData)
                })
                .catch(function (err) {
                  console.log(err)
                  alert('An Error Occured!! Please try again..')
                })
            }
          })
          .catch(function (err) {
            console.log(err)
            // alert('An Error Occured!! Please try again..')
          })
      }
      // console.log('Save Success Status' + this.saveSuccess)
      this.saveOverlay = !this.saveOverlay
    },
    print () {
      this.printClicked = true
      // eslint-disable-next-line no-unused-vars
      var temp = this.hideToolbar
      this.$emit('isPreview', true)
      window.print()
      window.onafterprint = this.printDone()
    },
    printDone () {
      this.printClicked = false
      // eslint-disable-next-line no-unused-vars
      var temp = this.hideToolbar
    },
    confirmFinalize () {
      this.overlay = false
      this.confirm = true
      this.finalize()
    },
    editQuotation () {
      this.$router.push({ name: 'quotation', params: { oldQuotation: this.quotation, quotationStatus: 'editNew' } })
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    if (this.quotationStatus === 'new') {
      this.quotation = this.newQuotation
    } else if (this.quotationStatus === 'old') {
      this.quotation = this.oldQuotation
      // this.quotationRevisionsData = this.quotationRevisions
      // this.noOfRevisions = ((Object.keys(this.quotationRevisionsData[0]).length) - 2)
      // console.log(this.quotation)
    }
    this.latestQuotation = this.quotation
    this.quotationStatusPreview = this.quotationStatus
    if (this.quotation.quotationNumber != null) {
      var self = this
      axios
        .get('http://127.0.0.1:8000/quotations/fetchRevisions/', { params: { _id: this.quotation._id } })
        .then(function (res) {
          self.quotationRevisionsData = JSON.parse(res.data)
          // console.log(typeof self.quotationRevisionsData)
          // console.log(res)
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
    }
    this.quotationRevisionsData = this.quotationRevisions
    this.noOfRevisions = this.quotation.count
    this.$emit('toolbarTitle', 'Quotation')
    this.$emit('extension', false)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', null)
    this.$emit('prominent', false)
    this.$emit('app', true)
    this.$emit('image', false)
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    }
  },
  computed: {
    hideToolbar () {
      this.$emit('isPreview', this.printClicked)
      return this.printClicked
    }
  }
}
</script>
<style src='./quotationPreview.css'>

</style>
