<template src='./searchPage.html'>
</template>
<script>
import axios from 'axios'
import moment from 'moment'

export default {
  name: 'searchPage',
  data () {
    return {
      userDetails: {},
      searchClicked: false,
      drawer: false,
      valid: true,
      items: ['Quotation Number', 'Company Name', 'Date'],
      quotation: [],
      quotationNumber: null,
      tags: [
        'Oldest to Newest',
        'Newest to Oldest'
      ],
      searchBy: '',
      searchValue: '',
      group: '',
      rules: [
        v => !!v || 'This field is required'
      ],
      inputType: 'text',
      placeholder: '',
      searchByRules: [
        v => !!v || 'This field is required'
      ],
      quotationRevisions: []
    }
  },
  methods: {
    deleteQuotation (index) {
      // var data = { quotationNumber: this.quotation[index], permission: this.userDetails.deleteQuotation }
      this.quotation[index].permission = this.userDetails.deleteQuotation
      // console.log(this.userDetails.deleteQuotation)
      // var self = this
      axios
        .post('http://127.0.0.1:8000/quotations/deleteQuotation/', JSON.stringify(this.quotation[index]))
        .then(function (res) {
          // console.log(res)
          // alert('Quotation number ' + self.quotation[index].quotationNumber + ' successfully deleted')
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.quotation.splice(index, 1)
    },
    advancedFilters (filter) {
      if (filter === 'Oldest to Newest') {
        this.quotation.sort(function (a, b) {
          // Turn your strings into dates, and then subtract them
          // to get a value that is either negative, positive, or zero.
          return (new Date(a.ourInformation.date) - new Date(b.ourInformation.date))
        })
      } else if (filter === 'Newest to Oldest') {
        this.quotation.sort(function (a, b) {
          // Turn your strings into dates, and then subtract them
          // to get a value that is either negative, positive, or zero.
          return (new Date(b.ourInformation.date + b.ourInformation.time).getTime() - new Date(a.ourInformation.date + a.ourInformation.time).getTime())
        })
      }
    },
    recieveData () {
      var self = this
      var dataToSearch = {}
      // eslint-disable-next-line prefer-const
      let v = this.$refs.searchDetails.validate()
      if (v === true) {
        if (this.searchBy === 'Quotation Number') {
          dataToSearch = { quotationNumber: this.searchValue, permission: this.userDetails.searchQuotation }
        } else if (this.searchBy === 'Company Name') {
          dataToSearch = { nameOfCompany: this.searchValue, permission: this.userDetails.searchQuotation }
        } else if (this.searchBy === 'Date') {
          dataToSearch = { date: this.searchValue, permission: this.userDetails.searchQuotation }
        }
        // console.log(dataToSearch)
        axios
          .get('http://127.0.0.1:8000/quotations/handleQuotation/', { params: dataToSearch })
          .then(function (res) {
            self.quotation = JSON.parse(res.data)
            // console.log(typeof self.quotation)
            // console.log(self.quotation)
          })
          .catch(function (err) {
            console.log(err)
            alert('An Error Occured!! Please try again..')
          })
      }
      this.searchClicked = true
    },
    setValidators () {
      // console.log(this.searchBy)
      if (this.searchBy === 'Quotation Number') {
        this.inputType = 'text'
        this.rules = [v => !!v || 'This field is required']
      } else if (this.searchBy === 'Company Name') {
        this.inputType = 'text'
        this.rules = [v => !!v || 'This field is required',
          v => /^[a-zA-Z ]*$/.test(v) || 'Company Name must be valid']
        this.placeholder = ''
      } else if (this.searchBy === 'Date') {
        this.rules = [v => !!v || 'This field is required',
        //   // eslint-disable-next-line no-useless-escape
          // eslint-disable-next-line no-useless-escape
          v => /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v) || 'Date is invalid']
        this.inputType = 'text'
        this.placeholder = 'DD/MM/YYYY'
      }
    },
    // fetchRevisions (index) {
    //   console.log(this.quotation[index].quotationNumber)
    //   var self = this
    //   axios
    //     .get('http://127.0.0.1:8000/quotations/fetchRevisions/', { params: { quotationNumber: this.quotation[index].quotationNumber } })
    //     .then(function (res) {
    //       self.quotationRevisions = JSON.parse(res.data)
    //       console.log(typeof self.quotationRevisions)
    //       console.log(self.quotationRevisions)
    //     })
    //     .catch(function (err) {
    //       console.log(err)
    //       alert('An Error Occured!! Please try again..')
    //     })
    // },
    previewQuotation (index) {
      // this.fetchRevisions(index)
      var self = this
      axios
        .get('http://127.0.0.1:8000/quotations/fetchRevisions/', { params: { quotationNumber: this.quotation[index].quotationNumber } })
        .then(function (res) {
          self.quotationRevisions = JSON.parse(res.data)
          // console.log(typeof self.quotationRevisions)
          // console.log(self.quotationRevisions)
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      // console.log(this.quotationRevisions)
      this.$router.push({
        name: 'quotationPreview',
        params: {
          oldQuotation: this.quotation[index],
          quotationStatus: 'old',
          quotationRevisions: this.quotationRevisions
        }
      })
    },
    reviseQuotation (index) {
      this.$router.push({ name: 'quotation', params: { oldQuotation: this.quotation[index], quotationStatus: 'old' } })
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    format (value, event) {
      return moment(value).format('DD-MM-YYYY')
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    this.$emit('toolbarTitle', '')
    this.$emit('extension', true)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', null)
    this.$emit('prominent', false)
    this.$emit('app', false)
    this.$emit('image', false)
  }
}
</script>
<style src='./searchPage.css'>

</style>
