@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Titillium+Web&display=swap');
.v-application {
	font-family: 'Nunito', sans-serif;
}
.logo img {
	width: auto;
	height: 62px;
}
.header-title {
	text-align: center;
	font-size: 20px;
}
.v-card-txt {
	padding: 8px;
}
