<v-app>
    <v-card flat>
        <!-- <v-toolbar color="success" dark extended flat>
            <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
        </v-toolbar> -->


        <v-card class="mx-auto" max-width="1000" style="margin-top: -64px; z-index: 5;">
            <v-toolbar flat><a href="../home"><v-img src="../../assets/images/logo.png" height="60" width="80"></v-img></a>

                <v-spacer class="header-title">Ratna Gears - Search Quotation</v-spacer>

                <a class="button" href="../home"><i class="fas fa-sign-out-alt fa-lg"></i></a>
            </v-toolbar>

            <v-divider></v-divider>

            <v-container fluid>
                <v-card-text class="v-card-txt">
                    <v-form ref="searchDetails" v-model="valid" lazy-validation>
                        <v-row>
                            <v-col class="d-flex text-center" cols="12" sm="4">
                                <v-select :items="items" v-model="searchBy" label="Search By" :rules="searchByRules"
                                    dense outlined @input="setValidators()"></v-select>
                            </v-col>
                            <!-- {{searchBy}} -->
                            <v-col class="d-flex" cols="12" sm="6">
                                <v-text-field :disabled="searchBy===''" v-model="searchValue" :type="inputType" :placeholder="placeholder"
                                    label="Enter the data" :rules="rules" dense outlined clearable>
                                </v-text-field>

                                <!-- <input type="date"> -->

                            </v-col>
                            <v-col class="d-flex" cols="12" sm="2">
                                <v-btn rounded color="success" dark @click="recieveData()"><i class="fas fa-search">
                                    </i> Search</v-btn>

                            </v-col>
                        </v-row>
                    </v-form>
                    <v-sheet>
                        <v-chip-group mandatory active-class="primary--text">
                            <span>
                                <p class="px-1" style="margin-top: 10px;">Advanced filters: </p>
                            </span>
                            <v-chip @click="advancedFilters(tag)" v-for="tag in tags" :key="tag">
                                {{ tag }}
                            </v-chip>
                        </v-chip-group>

                        </div>
                    </v-sheet>
                  
                    <br>

                    <div v-if="Object.keys(quotation).length===0 && searchClicked"
                        style="text-align: center; color: red;">
                        No data found !!
                    </div>

                    <v-simple-table v-if="searchClicked && Object.keys(quotation).length!=0">
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-center">
                                Quotation Number
                              </th>
                              <th class="text-center">
                                Company Name
                              </th>
                              <th class="text-center">
                                Quotation Date
                              </th>
                              <th class="text-center">
                                Operations
                              </th>
                              <th class="text-center">
                                Delete
                            </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                            v-for="q,index in quotation"
                            >
                              <td>{{ q._id }}</td>
                              <td>{{ q.clientDetails.nameOfCompany }}</td>
                              <td>{{ q.ourInformation.date }}, {{q.ourInformation.time}}</td>
                              <td>
                                  <v-row style="padding-left: 20%; padding-right: 20%;">
                                    <v-tooltip bottom>
                                      <template v-slot:activator="{ on, attrs }">
                                        <v-btn 
                                          :disabled="userDetails.editQuotation===false || q.finalized===1"
                                          icon 
                                          @click="reviseQuotation(index)"  
                                          v-bind="attrs"
                                          v-on="on"
                                        >
                                          <v-icon color="success" >edit</v-icon>
                                      </v-btn>
                                      </template>
                                      <span>Edit Quotation</span>
                                    </v-tooltip>
                                    <!-- <v-btn icon @click="reviseQuotation" style="margin-left:25%; margin-right: 15%;" >
                                        <v-icon color="success" >edit</v-icon>
                                    </v-btn>
                                    <v-btn icon @click="previewQuotation()"><v-icon color="success" >preview</v-icon></v-btn> -->
                                    <v-spacer></v-spacer>
                                    <v-tooltip bottom>
                                      <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                        :disabled="userDetails.previewQuotation===false" 
                                          icon 
                                          @click="previewQuotation(index)"
                                          v-bind="attrs"
                                          v-on="on">
                                          <v-icon color="success" >preview</v-icon>
                                        </v-btn>

                                      </template>
                                      <span>Preview Quotation</span>
                                    </v-tooltip>
                                  </v-row>
                              </td>
                              <td>
                                <v-btn icon :disabled="userDetails.deleteQuotation===false || q.finalized===1" @click="deleteQuotation(index)">
                                  <v-icon>delete</v-icon>
                                </v-btn>
                              </td>
                            </tr>
                          </tbody>
                        </template>
                    </v-simple-table>

                    <!-- <v-data-table
                        :headers="headers"
                        :items="quotation"
                        class="elevation-1"
                    ></v-data-table> -->

                </v-card-text>
            </v-container>

        </v-card>
    </v-card>

    <!-- {{quotation}} -->

    <v-navigation-drawer v-model="drawer" absolute temporary width="320">
        <template v-slot:prepend>
            <v-list-item two-line>
              <v-list-item-avatar>
                <img src="https://randomuser.me/api/portraits/women/81.jpg">
              </v-list-item-avatar>
    
              <v-list-item-content>
                <v-list-item-title>Jane Smith</v-list-item-title>
                <v-list-item-subtitle>Logged In</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
    
          <v-divider></v-divider>
    
        <v-list>
            <v-list-item  link>
              <v-list-item-icon>
                <v-icon>home</v-icon>
              </v-list-item-icon>
              <v-list-item-content >
                <v-list-item-title @click="goToHome()">Home</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-group
              prepend-icon="edit"
              no-action
            >


              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>Quotation</v-list-item-title>
                </v-list-item-content>
              </template>
      
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title @click="goToCreateQuotation()">Create</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title @click="goToSearchQuotation()">Search and Preview/Edit</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
            <v-list-group
              prepend-icon="receipt"
              no-action
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>Purchase Order</v-list-item-title>
                </v-list-item-content>
              </template>
      
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title @click="goToVendor_PO ()">Create Vendor Purchase Order</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title @click="goToVPOSearch()">Search Vendor Purchase Order</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item link>
                <v-list-item-content>
                  <v-list-item-title @click="goToCustomerPO ()">Customer Purchase Order</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
          </v-list>
    </v-navigation-drawer>

    <!-- <h4>Search Page</h4> -->
    <!-- <div style="margin: auto;">
        <v-text-field v-model="quotationNumber" label="Enter Quotation Number"></v-text-field>
        <v-btn @click="recieveData ()" small color="primary">Get Quotation</v-btn>
        <br><br>
        <v-btn @click="previewQuotation ()" small color="primary">Preview Quotation</v-btn>

    </div> -->
    <!-- <v-img src="https://images.indianexpress.com/2018/05/leisangvillage.jpg" height="200" width="300" style="opacity:0.7"></v-img> -->
</v-app>