<template src='./homepage.html'></template>
<script>
export default {
  name: 'homePage',
  data () {
    return {
      drawer: false,
      overlay: false,
      values: [
        423,
        446,
        675,
        510,
        590,
        610,
        760
      ],
      labels: [
        '120',
        '300',
        '600',
        '900',
        '1200',
        '3000',
        '6000',
        '9000'
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        240
      ],
      userDetails: {}
    }
  },
  methods: {
    previewQuotation () {
      this.$router.push({ name: 'quotationPreview', params: { oldQuotation: this.quotation, quotationStatus: 'old' } })
    },
    reviseQuotation () {
      this.$router.push({ name: 'quotation', params: { oldQuotation: this.quotation, quotationStatus: 'old' } })
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    onLogout () {
      this.$store.dispatch('logout')
      this.$router.push({ name: 'loginpage' })
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    this.$emit('toolbarTitle', '')
    this.$emit('extension', false)
    this.$emit('isHome', true)
    this.$emit('prominent', true)
    this.$emit('app', false)
    this.$emit('image', true)
  }
}
</script>
<style src='./homepage.css'>
</style>
