<v-app>
  <div class="grey lighten-4">
    <v-container fluid style="max-width: 80%; ">
      <div class="green--text" style="text-align: center;">
        <h2 class="text--primary font-weight-bold" transition="fade-transition"
          style="padding-top: 15px;font-size: 38px;">Welcome
        </h2>
        <div style="margin-bottom: 2px;font-size: 25px;"><span class="font-weight-normal material-icons"
            style="padding-top: 10px;">
            add_task
          </span> Select to start your service</div>
        <span class="text--primary material-icons">arrow_circle_down</span>
      </div>
      <v-row xs6>
        <v-col md=4 xs=4>
          <v-card class="mx-auto crd-item" max-width="350" elevation="5">
            <!-- {{user}} -->
            <v-img class="white--text align-end " height="200px" src="../home/images/quotation.jpg">

              <v-card-title class="crd-text"
                style="background-color: rgba(0, 0, 0, 0.6);padding: 10px;justify-content: center;">Quotation
              </v-card-title>
            </v-img>
            <v-card-text class="text--primary">
              Set out the estimated cost for particular part and its service.
            </v-card-text>
            <v-card-actions class="px-2">
              <v-btn color="light-green" text @click="goToCreateQuotation()" :disabled="userDetails.fillQuotation===false">
                <span class="material-icons">
                  add
                </span>Create
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn color="light-green" text @click="goToSearchQuotation()" :disabled="userDetails.searchQuotation===false">
                <span class="material-icons">
                  search
                </span>Search
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col md=4 xs=4>
          <v-card class="mx-auto crd-item" max-width="350" elevation="5">
            <v-img class="white--text align-end crd-item" height="200px" src="../home/images/purchase.jpg">
              <v-card-title style="background-color: rgba(0, 0, 0, 0.6);padding: 10px;justify-content: center;">Purchase
                Order</v-card-title>
            </v-img>

            <v-card-text class="text--primary">
              Issue the document indicating types, quantities, prices for
              services.
            </v-card-text>


            <div class="green--text" style="text-align: center;">
              <p style="margin-bottom: 0%; font-weight: 800;" >Vendor Purchase Order</p>
              <!-- <v-row>
                <v-btn color="light-green" text @click="goToVendor_PO ()" :disabled="userDetails.fillVPO===false">
                  
                  <span class="material-icons">
                    add
                  </span>Create
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="light-green" text @click="goToVPOSearch()" :disabled="userDetails.searchVPO===false">
                  <span class="material-icons">
                    search
                  </span>Search
                </v-btn>
              </v-row> -->

              <v-card-actions class="px-2">
                <v-btn color="light-green" text @click="goToVendor_PO ()" :disabled="userDetails.fillVPO===false">
                  
                  <span class="material-icons">
                    add
                  </span>Create
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="light-green" text @click="goToVPOSearch()" :disabled="userDetails.searchVPO===false">
                  <span class="material-icons">
                    search
                  </span>Search
                </v-btn>
              </v-card-actions>

              <v-divider></v-divider>
              <p style="text-align: center;margin-bottom: 0%;padding-top: 5px; font-weight: 800;">Customer Purchase
                Order</p>
                <!-- <v-row>
                <v-btn color="light-green" text @click="goToCustomerPO()" :disabled="userDetails.fillCPO===false">
                  <span class="material-icons">
                    add
                  </span>Create
                </v-btn>
              </v-row> -->
              <v-card-actions class="px-2">
                <v-btn color="light-green" text @click="goToCustomerPO()" :disabled="userDetails.fillCPO===false">
                  <span class="material-icons">
                    add
                  </span>Create
                </v-btn>
              </v-card-actions>
            </div>
          </v-card>
        </v-col>
        <v-col md=4 xs=4>

          <v-card class="mx-auto crd-item" max-width="350" elevation="5">
            <v-img class="white--text align-end crd-item" height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">

              <v-card-title
                style="background-color: rgba(0, 0, 0, 0.7);padding: 10px;left: 50%;justify-content: center;">Field
                Name1
              </v-card-title>

            </v-img>

            <v-card-text class="text--primary">
              Some quick example text to build on the card title and
              the card's content.
            </v-card-text>


            <v-card-actions>
              <v-btn color="light-green" text>
                button1
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn color="light-green" text>
                button2
              </v-btn>
            </v-card-actions>
          </v-card>

        </v-col>
      </v-row>

    </v-container>
  </div>
  <div class="antiquewhite">
    <!--<v-parallax dark src="../home/images/parallax.jpg">-->
    <v-container fluid style="max-width: 80%;">
      <div class="indigo--text" style="text-align: center;padding: 0px 10px 10px 10px;">
        <div class="font-weight-light" style="font-size: 28px;"><span class="material-icons">
            analytics
          </span> RG
          Sales Analysis</div>
      </div>
      <v-row xs6>
        <v-col md=6>
          <v-card class="mx-auto text-center" color="green" dark max-width="700">
            <v-card-text>
              <v-sheet color="rgba(0, 0, 0, .12)">
                <v-sparkline :value="value" color="rgba(255, 255, 255, .7)" height="100" padding="24"
                  stroke-linecap="round" smooth>
                  <template v-slot:label="item">
                    ${{ item.value }}
                  </template>
                </v-sparkline>
              </v-sheet>
            </v-card-text>

            <v-card-text>
              <div class="display-1 font-weight-light">
                Sales Last Month
              </div>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions class="justify-center">
              <v-btn block text>
                Go to Report
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col md=6>
          <v-card class="mt-4 mx-auto" max-width="600">
            <v-sheet class="v-sheet--offset mx-auto" color="cyan" elevation="6" max-width="calc(100% - 32px)">
              <v-sparkline :labels="labels" :value="values" color="white" line-width="2" padding="16"
                stroke-linecap="round" smooth></v-sparkline>
            </v-sheet>

            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2 mt-2">
                Graph Sample
              </div>
              <div class="subheading font-weight-light grey--text">
                Graph Sample subtitle
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>
                mdi-clock
              </v-icon>
              <span class="caption grey--text font-weight-light">26 minutes ago</span>
            </v-card-text>
          </v-card>

        </v-col>
      </v-row>
    </v-container>
    <!--</v-parallax>-->
  </div>

  <v-footer padless>
    <v-col class="text-center" cols="12">
      {{ new Date().getFullYear() }} — <strong>VIIT</strong>
    </v-col>
  </v-footer>


</v-app>