<template src='./vendor_PO_searchPage.html'>
</template>
<script>
import axios from 'axios'
import moment from 'moment'

export default {
  name: 'vendor_PO_searchPage',
  data () {
    return {
      userDetails: {},
      searchClicked: false,
      drawer: false,
      valid: true,
      items: ['Vendor PO Number', 'Company Name', 'Date'],
      VPO: [],
      quotationNumber: null,
      tags: [
        'Oldest to Newest',
        'Newest to Oldest'
      ],
      searchBy: '',
      searchValue: '',
      group: '',
      rules: [
        v => !!v || 'This field is required'
      ],
      inputType: 'text',
      placeholder: '',
      searchByRules: [
        v => !!v || 'This field is required'
      ],
      notAuthorized: []
    }
  },
  methods: {
    deleteVPO (index) {
      // var data = { quotationNumber: this.quotation[index], permission: this.userDetails.deleteQuotation }
      this.VPO[index].permission = this.userDetails.deleteVPO
      this.VPO[index].po = this.VPO[index].PO_Number
      // console.log(this.VPO[index])
      // var self = this
      axios
        .post('http://127.0.0.1:8000/po/deleteVPO/', JSON.stringify(this.VPO[index]))
        .then(function (res) {
          // console.log(res)
          // alert('Quotation number ' + self.quotation[index].quotationNumber + ' successfully deleted')
        })
        .catch(function (err) {
          console.log(err)
          alert('An Error Occured!! Please try again..')
        })
      this.VPO.splice(index, 1)
    },
    advancedFilters (filter) {
      if (filter === 'Oldest to Newest') {
        this.VPO.sort(function (a, b) {
          // Turn your strings into dates, and then subtract them
          // to get a value that is either negative, positive, or zero.
          return (new Date(a.date) - new Date(b.date))
        })
      } else if (filter === 'Newest to Oldest') {
        this.VPO.sort(function (a, b) {
          // Turn your strings into dates, and then subtract them
          // to get a value that is either negative, positive, or zero.
          return (new Date(b.date + b.time).getTime() - new Date(a.date + a.time).getTime())
        })
      }
    },
    recieveData () {
      var self = this
      var dataToSearch = {}
      // eslint-disable-next-line prefer-const
      let v = this.$refs.searchDetails.validate()
      if (v === true) {
        if (this.searchBy === 'Vendor PO Number') {
          dataToSearch = { PO_Number: this.searchValue, permission: this.userDetails.searchVPO }
        } else if (this.searchBy === 'Company Name') {
          dataToSearch = { vendorCompany: this.searchValue, permission: this.userDetails.searchVPO }
        } else if (this.searchBy === 'Date') {
          dataToSearch = { date: this.searchValue, permission: this.userDetails.searchVPO }
        }
        // console.log(dataToSearch)
        axios
          .get('http://127.0.0.1:8000/po/handleVPo/', { params: dataToSearch })
          .then(function (res) {
            self.VPO = JSON.parse(res.data)
            // console.log(typeof self.VPO)
            // console.log(self.VPO)
            // if (self.VPO.length !== 0) {
            //   for (var i in self.VPO) {
            //     console.log('hii')
            //     if (self.VPO.authorizedBy.firstName === '') {
            //       console.log('hii')
            //       self.notAuthorized.push(self.VPO[i])
            //     }
            //   }
            // }
          })
          .catch(function (err) {
            console.log(err)
            alert('An Error Occured!! Please try again..')
          })
      }
      this.searchClicked = true
    },
    setValidators () {
      // console.log(this.searchBy)
      if (this.searchBy === 'Vendor PO Number') {
        this.inputType = 'text'
        this.rules = [v => !!v || 'This field is required']
      } else if (this.searchBy === 'Company Name') {
        this.inputType = 'text'
        this.rules = [v => !!v || 'This field is required',
          v => /^[a-zA-Z ]*$/.test(v) || 'Company Name must be valid']
        this.placeholder = ''
      } else if (this.searchBy === 'Date') {
        this.rules = [v => !!v || 'This field is required',
        //   // eslint-disable-next-line no-useless-escape
          // eslint-disable-next-line no-useless-escape
          v => /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/.test(v) || 'Date is invalid']
        this.inputType = 'text'
        this.placeholder = 'DD/MM/YYYY'
      }
    },
    previewQuotation (index) {
      this.$router.push({ name: 'preview_PO', params: { oldVPO: this.VPO[index], POStatus: 'old' } })
    },
    reviseQuotation (index) {
      this.$router.push({ name: 'preview_PO', params: { oldVPO: this.VPO[index], POStatus: 'old' } })
    },
    goToCreateQuotation () {
      this.$router.push({ name: 'quotation' })
    },
    goToSearchQuotation () {
      this.$router.push({ name: 'searchPage' })
    },
    goToVendor_PO () {
      this.$router.push({ name: 'vendor_PO' })
    },
    goToHome () {
      this.$router.push({ name: 'homePage' })
    },
    format (value, event) {
      return moment(value).format('DD-MM-YYYY')
    },
    goToCustomerPO () {
      this.$router.push({ name: 'customer_PO' })
    },
    goToVPOSearch () {
      this.$router.push({ name: 'vendor_PO_searchPage' })
    }
  },
  mounted () {
    this.userDetails = this.$store.getters.user
    this.$emit('toolbarTitle', '')
    this.$emit('extension', true)
    this.$emit('isHome', false)
    this.$emit('toolbarHeight', null)
    this.$emit('prominent', false)
    this.$emit('app', false)
    this.$emit('image', false)
  }
}
</script>
<style src='./vendor_PO_searchPage.css'>

</style>
