<v-app>
  <div style="padding: 4%;">
    <h3>Add New Processes</h3>
    <v-text-field
      label="Enter Name Of Process"
      v-model="processes.processName"
    ></v-text-field>
    <v-text-field
      label="Enter Number Of Terms in Formula"
      v-model="noOfTerms"
    ></v-text-field>
    <div class="row" style="overflow-x: auto;">
      <div class="col" v-for="term,index in inputTerms">
          <v-row>
            <v-col>
              <v-text-field
                label="Name of Term"
                v-model="inputTerms[index]"
              ></v-text-field>
            </v-col>
            <v-col cols="2">
              <!-- <v-text-field
                v-if="index<noOfTerms-1"
                label="Operator"
                v-model="operators[index]"
              ></v-text-field> -->
              <v-select
                v-if="index<noOfTerms-1"
                :items="operatorList"
                label="Op"
                v-model="operators[index]"
              ></v-select>
            </v-col>
          </v-row>
        </div>
    </div>
    <v-btn rounded small color="success" @click="save()">Save</v-btn>
    <br><br>
    <!-- {{processes}} -->
    <h3>Quotation Page Part</h3>
    <v-select
      v-model='selectedProcess[0]' :items="allProcesses"
      item-text="processName" placeholder="Select Process"
      @input="setProcessName(0)"
      return-object></v-select>
  <div v-for="p in selectedProcess[0].inputFields">
      <v-text-field
          :placeholder="`${p}`" 
          v-model=processesQuotation[0][p]
          required>
      </v-text-field>
      <!-- {{p}} -->
  </div>
  Sub Total: {{processTotal}}
  <br>
  Database: {{allProcesses}}
  <br>
  Selected Process: {{selectedProcess}}
  <br>
  Quotation Processes{{processesQuotation}}
  </div>
</v-app>