/* eslint-disable no-unused-vars */
<template src='./addProcesses.html'>
</template>
<script>

export default {
  name: 'addProcesses',
  data () {
    return {
      noOfTerms: '',
      operatorList: ['+', '-', '/', '*'],
      processes: { processName: '', inputFields: [], operators: [] },
      allProcesses: [],
      selectedProcess: [{ processName: '', inputFields: [], operators: [] }],
      processesQuotation: [
        {
          typeOfProcess: '',
          nameOfProcess: '',
          subTotal: null
        }
      ]
    }
  },
  methods: {
    save () {
      this.processes.inputFields = this.inputTerms
      this.processes.operators = this.operators
      this.allProcesses.push(this.processes)
    },
    setProcessName (processId) {
      this.processesQuotation[processId].nameOfProcess = this.selectedProcess[0].processName
      var noOfKeys = null
      for (var keys of Object.keys(this.processesQuotation[processId])) {
        noOfKeys++
        if (noOfKeys > 3) {
          delete this.processesQuotation[processId][keys]
        } else {
          this.processesQuotation[processId].nameOfProcess = this.selectedProcess[0].processName
        }
      }
    }
  },
  computed: {
    inputTerms: function () {
      var temp = []
      for (var i = 0; i < this.noOfTerms; i++) {
        temp.push('')
      }
      return temp
    },
    operators: function () {
      var op = []
      for (var i = 0; i < this.noOfTerms - 1; i++) {
        op.push('')
      }
      return op
    },
    processTotal: function () {
      // var operatorsFunction = {
      //   '+': function (a, b) { return a + b },
      //   '-': function (a, b) { return a - b },
      //   '/': function (a, b) { return a / b },
      //   '*': function (a, b) { return a * b }
      // }
      var formula = ''
      var inputNo = 0
      // eslint-disable-next-line no-unused-vars
      var count = 0
      // var i = 0
      // var inputNo = 0
      var sub = 0
      var inputList = []
      for (var inputs of Object.values(this.processesQuotation[0])) {
        inputNo++
        if (inputNo > 3) {
          formula = formula + inputs
          inputList.push(inputs)
          if (count < this.selectedProcess[0].operators.length) {
            formula = formula + this.selectedProcess[0].operators[count]
          }
          count++
        }
        // inputList.push(inputs)
      }
      console.log(formula)
      // eslint-disable-next-line no-eval
      sub = eval(formula)
      console.log(sub)
      return sub
    }
  }
}
</script>
<style src='./addProcesses.css'>

</style>
